{% extends 'layout/layoutsmp/layoutsmp.html' %}
{% block main %}
{% load static %}

<div role="main" class="main">
	<div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover nav-style-diamond nav-with-transparency nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'autoplay': false, 'autoplayTimeout': 7000}" data-dynamic-height="['700px','700px','600px','500px','410px']" style="height: 700px;">
		<div class="owl-stage-outer">
			<div class="owl-stage">
				<!-- Carousel Slide 1 -->
				<div class="owl-item position-relative">
					<div class="background-image-wrapper position-absolute top-0 left-0 right-0 bottom-0" data-appear-animation="kenBurnsToRight" data-appear-animation-duration="30s" data-plugin-options="{'minWindowWidth': 0}" data-carousel-onchange-show style="background-image: url('{% static 'img/jadi.jpeg' %}'); background-size: cover; background-position: center;"></div>
					<div class="container position-relative z-index-1 h-100">
						<div class="position-absolute left-100pct bottom-0 transform3dx-n50 w-75 ms-5">
							<img src="{% static 'img/abang.png' %}"
							class="img-fluid mw-100 w-auto appear-animation" alt="Engineer Image" data-appear-animation="fadeIn" data-appear-animation-delay="100" />
						</div>
						<p class="position-absolute bottom-15 right-0 text-color-light font-weight-bold text-5-5 line-height-3 text-end pb-0 pb-lg-5 mb-0 d-none d-sm-block">
							SMP NEGERI 1 LAMPUNG
						</p>
					</div>
				</div>
				<!-- Carousel Slide 2 -->
				<div class="owl-item position-relative" style="background-image: url('{% static 'img/jadi.jpeg' %}'); background-size: cover; background-position: center;">
					<div class="container position-relative z-index-1 h-100">
						<div class="row align-items-center h-100 pt-5">
							<div class="col-xl-8 position-relative ms-auto mt-5 pt-5">
								<h2 class="position-relative text-color-light font-weight-bold custom-big-text-style-1 custom-big-text-style-1-variation text-center text-lg-end pt-4 mt-5 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="1000">
									<span class="d-block position-absolute bottom-100 left-0 transform3dy-p50 w-100 pt-5 ps-5">
										<span class="d-inline-flex custom-outline-text-style-1 text-2 text-center appear-animation" data-appear-animation="fadeInRightShortePlus" data-appear-animation-delay="2000">
											<span class="d-block pt-5">MODERNITY</span></span>
									</span>
									MODERNITY
								</h2>
							</div>
						</div>
						<p class="position-absolute bottom-15 right-0 text-color-light font-weight-bold text-5-5 line-height-3 text-end pb-0 pb-lg-5 mb-0 d-none d-sm-block">
							<span class="d-block line-height-1 position-relative z-index-1 pb-5 ps-lg-3 mb-5-5 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="2200">Modern Building Design</span>
							<span class="custom-svg-position-1">
								<svg class="svg-fill-color-dark appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 859.45 88.44" xml:space="preserve" preserveAspectRatio="none">
									<polyline points="7.27,84.78 855.17,84.78 855.17,4.79 84.74,4.79 "/>
								</svg>
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="owl-nav mt-5">
			<button type="button" role="presentation" class="owl-prev" aria-label="Previous"></button>
			<button type="button" role="presentation" class="owl-next" aria-label="Next"></button>
		</div>
	</div>
	<div class="container py-5 my-3">
		<div class="row justify-content-between align-items-center flex-lg-nowrap gy-3">
			<div class="col-lg-4">
				<h2 class="text-color-dark font-weight-bold text-7 line-height-1 mb-3-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="2000">Who We Are</h2>
				<p class="text-4 font-weight-light mb-0 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="2200">Cras a elit sit amet leo accumsan volutsudisse hendrerit vehicula leo, vel efficitur felis ultrices non nteger. </p>
			</div>
			<div class="col-auto d-none d-lg-block">
				<svg width="145" height="147" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 145.42 147.12" xml:space="preserve" stroke-miter-limit="10" stroke-dasharray="7" data-appear-animation-svg="true">
					<line stroke="#a2a2a2" stroke-dasharray="8" x1="14.75" y1="132.9" x2="133.81" y2="12.05" class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="2400" data-appear-animation-duration="100ms" />
					<line stroke="#FFF" stroke-dasharray="8" stroke-width="2" x1="14.75" y1="132.9" x2="133.81" y2="12.05" class="appear-animation" data-appear-animation="customLineDividerAnim" data-appear-animation-delay="2400" data-appear-animation-duration="2.2s" />
				</svg>
			</div>
			<div class="col-lg-6">
				<p class="font-weight-medium text-3-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="3200">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis <span class="highlight highlight-primary highlight-bg-opacity highlight-animated" data-appear-animation="highlight-animated-start" data-appear-animation-delay="4000" data-plugin-options="{'flagClassOnly': true}">ultrices non hendrerit</span> vehicula leo, vel efficitur felis ultrices non.</p>
				<a href="demo-construction-company.html" class="custom-view-more d-inline-flex font-weight-medium text-color-primary text-decoration-none appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="3400">
					View More
					<img width="27" height="27" src="{% static 'img/demos/construction/icons/arrow-right.svg' %}"
					alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary ms-2'}" />
				</a>
			</div>
		</div>
	</div>
	<section class="section parallax border-0 pt-5 py-0 m-0" data-plugin-parallax data-plugin-options="{'spped': '1.5', 'parallaxHeight': '125%', 'fadeIn': true}" data-image-src="{% static 'img/jadi.jpeg' %}">
		<div class="container">
			<div class="row gy-5">
				<div class="col-lg-6 text-center order-2 order-lg-1">
					<img src="{% static 'img/kepalas.png' %}" class="img-fluid" alt="Woman testimonial from Porto Magazine company" />
				</div>
				<div class="col-lg-6 align-self-center pb-lg-5 order-1 order-lg-2 ps-5 ps-lg-0">
					<div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote testimonial-quotes-dark custom-testimonial-quote-position-1 mb-0">
						<blockquote>
							<p class="alternative-font-4 font-weight-medium text-start text-4 px-2 mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationName': 'typeWriter', 'animationSpeed': 25}">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendreriast ehicula leo, vel efficitur felis ultrices non cras a elit sit amet leo acun volutpat. Suspendisse hendrerit vehicula leo, vel efficitur fel.</p>
						</blockquote>
						<div class="testimonial-author text-start ps-3 ms-1">
							<strong class="text-4-5 negative-ls-1">Emiya Sembiring</strong>
							<p class="text-color-defaultwhite text-start mb-0">Kepala Sekolah</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section position-relative overflow-hidden border-0 m-0">
		<div class="container py-3 my-3">
			<div class="row mb-5">
				<div class="col text-center">
					<h2 class="text-transform-none text-color-dark font-weight-bold text-10 negative-ls-1 mb-2 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">KEGIATAN SEKOLAH</h2>
				</div>
			</div>
			<div class="row row-gutter-sm pb-2 mb-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="600">
				<div class="col-lg-4 mb-4 mb-lg-0">
					<article>
						<div class="card border-0 border-radius-0 custom-box-shadow-1">
							<div class="card-img-top">
								<a href="{% static 'demo-law-firm-2-blog-post.html' %}">
									<img class="card-img-top border-radius-0 hover-effect-2" src="{% static 'img/foto.jpg' %}" alt="Card Image">
								</a>
							</div>
							<div class="card-body bg-light p-4 z-index-1">
								<p class="text-uppercase text-color-default text-1 mb-1 pt-1">
									<time pubdate datetime="2023-01-10">10 Jan 2023</time> 
								</p>
								<div class="card-body p-0">
									<h4 class="card-title alternative-font-4 font-weight-semibold text-5 mb-3"><a class="text-color-dark text-color-hover-primary text-decoration-none font-weight-bold text-3" href="demo-law-firm-2-blog-post.html">Lorem ipsum dolor sit a met</a></h4>
									<p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor...</p>
									<a href="{% static 'demo-law-firm-2-blog-post.html' %}" class="custom-read-more-link d-inline-flex align-items-center font-weight-semibold text-3 text-decoration-none svg-fill-color-primary svg-stroke-color-primary ps-0">
										READ MORE
										<svg class="ms-2" version="1.1" viewBox="0 0 15.698 8.706" width="17" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
											<polygon stroke="#777" stroke-width="0.1" fill="#777" points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="col-lg-4 mb-4 mb-lg-0">
					<article>
						<div class="card border-0 border-radius-0 custom-box-shadow-1">
							<div class="card-img-top">
								<a href="{% static 'demo-law-firm-2-blog-post.html' %}">
									<img class="card-img-top border-radius-0 hover-effect-2" src="{% static 'img/foto.jpg' %}" alt="Card Image">
								</a>
							</div>
							<div class="card-body bg-light p-4 z-index-1">
								<p class="text-uppercase text-color-default text-1 mb-1 pt-1">
									<time pubdate datetime="2023-01-10">10 Jan 2023</time> 
								</p>
								<div class="card-body p-0">
									<h4 class="card-title alternative-font-4 font-weight-semibold text-5 mb-3"><a class="text-color-dark text-color-hover-primary text-decoration-none font-weight-bold text-3" href="demo-law-firm-2-blog-post.html">Lorem ipsum dolor sit a met</a></h4>
									<p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor...</p>
									<a href="{% static 'demo-law-firm-2-blog-post.html' %}" class="custom-read-more-link d-inline-flex align-items-center font-weight-semibold text-3 text-decoration-none svg-fill-color-primary svg-stroke-color-primary ps-0">
										READ MORE
										<svg class="ms-2" version="1.1" viewBox="0 0 15.698 8.706" width="17" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
											<polygon stroke="#777" stroke-width="0.1" fill="#777" points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div class="col-lg-4 mb-4 mb-lg-0">
					<article>
						<div class="card border-0 border-radius-0 custom-box-shadow-1">
							<div class="card-img-top">
								<a href="{% static 'demo-law-firm-2-blog-post.html' %}">
									<img class="card-img-top border-radius-0 hover-effect-2" src="{% static 'img/foto.jpg' %}" alt="Card Image">
								</a>
							</div>
							<div class="card-body bg-light p-4 z-index-1">
								<p class="text-uppercase text-color-default text-1 mb-1 pt-1">
									<time pubdate datetime="2023-01-10">10 Jan 2023</time> 
				
								</p>
								<div class="card-body p-0">
									<h4 class="card-title alternative-font-4 font-weight-semibold text-5 mb-3"><a class="text-color-dark text-color-hover-primary text-decoration-none font-weight-bold text-3" href="{% static 'demo-law-firm-2-blog-post.html' %}">Lorem ipsum dolor sit a met</a></h4>
									<p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor...</p>
									<a href="{% static 'demo-law-firm-2-blog-post.html' %}" class="custom-read-more-link d-inline-flex align-items-center font-weight-semibold text-3 text-decoration-none svg-fill-color-primary svg-stroke-color-primary ps-0">
										READ MORE
										<svg class="ms-2" version="1.1" viewBox="0 0 15.698 8.706" width="17" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
											<polygon stroke="#777" stroke-width="0.1" fill="#777" points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
			<div class="row">
				<div class="col text-center appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="800" data-plugin-options="{'accY': -250}">
					<a href="{% static 'demo-law-firm-2-blog.html' %}" class="btn btn-info font-weight-bold px-5 btn-py-3"><span class="fa fa-eye"></span> Lihat Kegiatan Lainnya</a>
				</div>
			</div>
		</div>
		<div class="container py-2 my-2-2">
			<div class="row">
				<div class="col">
					<h2 class="text-color-dark font-weight-bold text-7 line-height-1 mb-3-5">Gallery</h2>
					<p class="text-4 font-weight-light">Dokumentasi dari sekolah kami </p>
				</div>
			</div>
			<div role="main" class="main" id="main">

				<div id="photographyLightbox" class="mfp-hide">
					<div class="thumb-gallery">
						<div class="owl-carousel owl-theme manual thumb-gallery-detail" id="thumbGalleryDetail">
							<div>
								<span class="img-thumbnail d-block">
									<img alt="Project Image" src="{% static '/img/3.jpeg' %}" class="img-fluid">
								</span>
							</div>
							<div>
								<span class="img-thumbnail d-block">
									<img alt="Project Image" src="{% static '/img/2.jpeg' %}" class="img-fluid">
								</span>
							</div>
							<div>
								<span class="img-thumbnail d-block">
									<img alt="Project Image" src="{% static '/img/3.jpeg' %}" class="img-fluid">
								</span>
							</div>
							<div>
								<span class="img-thumbnail d-block">
									<img alt="Project Image" src="{% static 'img/4.jpeg' %}" class="img-fluid">
								</span>
							</div>
							<div>
								<span class="img-thumbnail d-block">
									<img alt="Project Image" src="{% static 'img/foto.jpg' %}" class="img-fluid">
								</span>
							</div>
							<div>
								<span class="img-thumbnail d-block">
									<img alt="Project Image" src="{% static 'img/2.jpeg' %}" class="img-fluid">
								</span>
							</div>
						</div>
					</div>
				</div>
				<div id="horizontalScrollBox">
					<div class="content">
						<div class="horizontal-scroll-item-wrapper">
							<div class="horizontal-scroll-item">
								<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
									<span class="thumb-info">
										<span class="thumb-info-wrapper m-0">
											<img src="{% static '/img/3.jpeg' %}" class="img-fluid" alt="" />
											<span class="thumb-info-plus"></span>
										</span>
									</span>
								</a>
							</div>
						</div>
						<div class="horizontal-scroll-item-wrapper">
							<div class="horizontal-scroll-item">
								<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
									<span class="thumb-info">
										<span class="thumb-info-wrapper m-0">
											<img src="{% static '/img/2.jpeg' %}" class="img-fluid" alt="" />
											<span class="thumb-info-plus"></span>
										</span>
									</span>
								</a>
							</div>
						</div>
						<div class="horizontal-scroll-item-wrapper">
							<div class="horizontal-scroll-item">
								<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
									<span class="thumb-info">
										<span class="thumb-info-wrapper m-0">
											<img src="{% static '/img/3.jpeg' %}" class="img-fluid" alt="" />
											<span class="thumb-info-plus"></span>
										</span>
									</span>
								</a>
							</div>
						</div>
						<div class="horizontal-scroll-item-wrapper">
							<div class="horizontal-scroll-item">
								<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
									<span class="thumb-info">
										<span class="thumb-info-wrapper m-0">
											<img src="{% static '/img/4.jpeg' %}" class="img-fluid" alt="" />
											<span class="thumb-info-plus"></span>
										</span>
									</span>
								</a>
							</div>
						</div>
						<div class="horizontal-scroll-item-wrapper">
							<div class="horizontal-scroll-item">
								<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
									<span class="thumb-info">
										<span class="thumb-info-wrapper m-0">
											<img src="{% static '/img/foto.jpg' %}" class="img-fluid" alt="" />
											<span class="thumb-info-plus"></span>
										</span>
									</span>
								</a>
							</div>
						</div>
						<div class="horizontal-scroll-item-wrapper">
							<div class="horizontal-scroll-item">
								<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
									<span class="thumb-info">
										<span class="thumb-info-wrapper m-0">
											<img src="{% static '/img/4.jpeg' %}" class="img-fluid" alt="" />
											<span class="thumb-info-plus"></span>
										</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="position-absolute transform3dy-n50 right-0 pe-5 me-4">
			<div class="appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="1700" data-appear-animation-duration="750ms">
				<div class="custom-square-1 bg-primary mb-5"></div>
			</div>
		</div>
		<div class="position-absolute transform3dy-n50 right-15 pe-5 me-5">
			<div class="appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="1500" data-appear-animation-duration="750ms">
				<div class="custom-square-1 bg-dark pe-5 me-5 mt-4 mb-5"></div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="row py-5 my-3">
			<div class="col-sm-4">
				<img src="{% static 'img/1.jpeg' %}" alt class="img-fluid" />
			</div>
			<div class="col-sm-8">
				<h1>
					Juara 1 olimpiade matematika tingkat smp se-lampung
				</h1>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis sunt nam molestiae eaque cumque iste consectetur eum officiis eos iusto maiores explicabo quidem totam voluptatum neque exercitationem, similique aperiam. Dignissimos.
				</p>
				<a href="#" class="btn btn-primary btn-sm">
					Baca Selengkapnya <span class="fa fa-arrow-right"></span></a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col px-0">
				<hr class="my-0">
			</div>
		</div>
	</div>

	<div class="container mt-5 pt-4 mb-5 mb-lg-4 mb-xl-0 pb-3 pb-xl-0">
		<div class="row">
			<div class="col">
				<h2 class="text-color-dark font-weight-bold text-7 line-height-1 mb-3-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">Berita</h2>
				<p class="text-4 font-weight-light mb-5-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">Cras a elit sit amet leo accumsan volutsudisse. </p>
			</div>
		</div>
		<div class="row row-gutter-sm justify-content-center mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
			<div class="col-sm-9 col-md-6 col-lg-4 mb-4 mb-lg-0">
				<a href="demo-construction-blog-post.html" class="text-decoration-none" data-cursor-effect-hover="plus">
					<div class="card border-0">
						<div class="card-img-top position-relative overlay">
							<div class="position-absolute bottom-10 right-0 d-flex justify-content-end w-100 py-3 px-4 z-index-3">
								<span class="text-center bg-primary text-color-light font-weight-semibold text-5-5 line-height-2 px-3 py-2">
									<span class="position-relative z-index-2">
										18
										<span class="d-block custom-font-size-1 positive-ls-1 px-1"  style="font-size: 18px;">FEB</span>
									</span>
								</span>
							</div>
							<img src="{% static 'img/1.jpeg' %}" class="img-fluid" alt="Lorem Ipsum Dolor" />
						</div>
						<div class="card-body py-4 px-0">
							<span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
							<h3 class="text-transform-none font-weight-bold text-5 text-color-hover-primary mb-2">Two-thirds of construction firms report strong Q4 turnover</h3>
							<p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, quidem similique... </p>
							<span class="custom-view-more d-inline-flex font-weight-medium text-color-primary">
								View More
								<img width="27" height="27" src="{% static 'img/demos/construction/icons/arrow-right.svg' %}" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary ms-2'}" style="width: 27px;" />
							</span>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-9 col-md-6 col-lg-4 mb-4 mb-lg-0">
				<a href="demo-construction-blog-post.html" class="text-decoration-none" data-cursor-effect-hover="plus">
					<div class="card border-0">
						<div class="card-img-top position-relative overlay">
							<div class="position-absolute bottom-10 right-0 d-flex justify-content-end w-100 py-3 px-4 z-index-3">
								<span class="text-center bg-primary text-color-light font-weight-semibold text-5-5 line-height-2 px-3 py-2">
									<span class="position-relative z-index-2">
										15
										<span class="d-block custom-font-size-1 positive-ls-2 px-1" style="font-size: 18px;">MAR</span>
									</span>
								</span>
							</div>
							<img src="{% static 'img/1.jpeg' %}" class="img-fluid" alt="Lorem Ipsum Dolor" />
						</div>
						<div class="card-body py-4 px-0">
							<span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
							<h3 class="text-transform-none font-weight-bold text-5 text-color-hover-primary mb-2">Creating buildings is great and we want more people involved</h3>
							<p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, quidem similique... </p>
							<span class="custom-view-more d-inline-flex font-weight-medium text-color-primary">
								View More
								<img width="27" height="27" src="{% static 'img/demos/construction/icons/arrow-right.svg' %}" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary ms-2'}" style="width: 27px;" />
							</span>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-9 col-md-6 col-lg-4">
				<a href="demo-construction-blog-post.html" class="text-decoration-none" data-cursor-effect-hover="plus">
					<div class="card border-0">
						<div class="card-img-top position-relative overlay">
							<div class="position-absolute bottom-10 right-0 d-flex justify-content-end w-100 py-3 px-4 z-index-3">
								<span class="text-center bg-primary text-color-light font-weight-semibold text-5-5 line-height-2 px-3 py-2">
									<span class="position-relative z-index-2">
										12
										<span class="d-block custom-font-size-1 positive-ls-2 px-1" style="font-size: 18px;">APR</span>
									</span>
								</span>
							</div>
							<img src="{% static 'img/1.jpeg' %}" class="img-fluid" alt="Lorem Ipsum Dolor" />
						</div>
						<div class="card-body py-4 px-0">
							<span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
							<h3 class="text-transform-none font-weight-bold text-5 text-color-hover-primary mb-2">Construction is offering greater choice for daylight provision</h3>
							<p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, quidem similique... </p>
							<span class="custom-view-more d-inline-flex font-weight-medium text-color-primary">
								View More
								<img width="27" height="27" src="{% static 'img/demos/construction/icons/arrow-right.svg' %}" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary ms-2'}" style="width: 27px;" />
							</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="position-relative pb-5 d-sm-none d-xl-block">
		<div class="position-absolute transform3dy-n50 left-0">
			<div class="appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="1500" data-appear-animation-duration="1500ms">
				<div class="custom-square-1 bg-primary mt-0 mb-5"></div>
			</div>
		</div>
	</div>

</div>
{% endblock main %}
