{% extends 'layout_sd/base_layout_sd.html' %}
{% block main %}
{% load static %}

<div role="main" class="main">
    <div class="owl-carousel-wrapper" style="height: 845px;">
        <div class="" style="height: 845px;">
            <div class="owl-carousel dots-inside dots-horizontal-center show-dots-hover show-dots-xs show-dots-sm show-dots-md nav-style-1 nav-inside nav-inside-plus nav-light nav-lg nav-font-size-lg show-nav-hover mb-0" data-plugin-options="{'responsive': {'0': {'items': 1, 'dots': true, 'nav': false}, '479': {'items': 1, 'dots': true}, '768': {'items': 1, 'dots': true}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': false, 'dotsVerticalOffset': '-235px', 'nav': true, 'navVerticalOffset': '70px', 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 7000, 'autoplayHoverPause': true, 'rewind': true}">
                <!-- Slide Carousel 1 -->
                {% for slider in sliders %}
                <div class="position-relative overlay-show overlay-op-0 overflow-hidden pt-4" data-dynamic-height="['845px','845px','845px','750px','750px']" style="height: 845px;">
                    <div class="background-image-wrapper position-absolute top-0 left-0 right-0 bottom-0 slide-overlay" data-appear-animation="kenBurnsToLeft" data-appear-animation-duration="30s" data-plugin-options="{'minWindowWidth': 0}" data-carousel-onchange-show style="background-image: url({{ slider.gambar.url }}); background-size: cover; background-position: center;"></div>
                    <div class="container position-relative z-index-3 pb-5 h-100">
                        <div class="row justify-content-center align-items-center pb-5 h-100">
                            <div class="col-lg-8 text-center pb-5 mb-5">
                                <h1 class="text-color-light font-weight-bold line-height-1 text-12 text-md-14 positive-ls-3 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}">{{ slider.judul }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>    
</div>

<style>
    .slide-overlay::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Ubah warna dan tingkat transparansi sesuai kebutuhan */
        z-index: 1;
    }
    .background-image-wrapper {
        position: relative;
        z-index: 0;
    }
    .container {
        position: relative;
        z-index: 2;
    }
</style>


<!-- SAMBUTAN KEPALA SEKOLAH -->

<div class="container py-3 my-3">
	<div class="row align-items-center justify-content-center">
		
		<div class="col-lg-6 mb-5 mb-lg-0">
			<h2 class="text-color-dark font-weight-extra-bold text-10 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200"><em>Sambuatan Kepala Sekolah</em></h2>
			<p class="font-weight-light text-color-dark mb-4 appear-animation" data-appear-animation="fadeInUpShorter" 
			data-appear-animation-delay="400">
				{{data_sambutan.isi_konten|safe}}
			</p>
			<p class="positive-ls-3 text-color-grey mb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">{{data_sambutan.judul}}</p>
		</div>
		<div class="col-md-9 col-lg-6 ps-lg-5">
			<div class="position-relative">
				<div class="custom-shape-1 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="1100">
					<div class="position-absolute top-0 left-0 right-0 bottom-0 bg-primary" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.1, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
					</div>
				</div>
				<div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
					<img src="{{data_sambutan.konten_image.url}}" class="img-fluid position-relative z-index-1 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="900" alt="" style="border-radius: 5px;"/>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- JUMLAH PEGAWAI -->
<section class="section overlay overlay-show overlay-op-5 border-0 m-0" style="background-image: url({% static 'logo/sd01.jpg' %}); background-size: cover; background-position: center;">
					
	<div class="container py-5 mb-5">	
		<div class="row">
			<div class="col md-12">
				<div class="col text-center mb-5">
					<h2 class="text-transform-none text-color-light font-weight-bold text-10 negative-ls-1 mb-2 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">JUMLAH SISWA DAN PEGAWAI</h2>
				</div>
			</div>
		</div>
		<div class="row counters counters-sm">		
			{% for siswa in data_siswa %}
			<div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
				<div class="counter">
					<span class="text-color-light fa {{ siswa.icon_siswa }}"></span>
					<strong class="text-color-light font-weight-bold line-height-1 text-10 mb-1" data-to="{{ siswa.total_siswa }}" data-append="+" data-plugin-options="{'appendWrapper': '<span class=text-color-secendary></span>'}">{{ siswa.total_siswa }}</strong>
					<label class="text-color-light font-weight-bold text-5 mb-0">{{ siswa.keterangan_siswa|upper}}</label>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
</section>

<!-- BERITA -->
<div class="container pb-5 mb-4 pt-5">
    <div class="row">
        <div class="col text-center">
            <h2 class="text-transform-none text-color-dark font-weight-bold text-10 negative-ls-1 mb-2 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">BERITA</h2>
        </div>
        <div class="col-12">
            <div class="d-flex flex-nowrap justify-content-center">
                {% for dt_berita in data_berita %}
                <div id="teamMember{{ forloop.counter }}" class="d-flex flex-column align-items-center appear-animation mx-2 mb-4 berita-item" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">
                    <div class="image-container mb-2">
                        <img src="{{ dt_berita.konten_image.url }}" class="img-fluid news-image" alt="Image of the team member" />
                    </div>
                    <div class="content-container text-center">
                        <h4 class="text-color-dark font-weight-bold line-height-1 mt-3 mb-1">{{ dt_berita.judul|truncatewords:10 }}</h4>
                        <p class="text-3 mb-3-5">{{ dt_berita.isi_konten|truncatewords:10|safe }}</p>
                        <a href="{% url 'sipandu:detail' dt_berita.id_data_konten %}" class="custom-read-more-link d-inline-flex align-items-center font-weight-semibold text-3 text-decoration-none svg-fill-color-dark svg-stroke-color-primary ps-0">
                            Lihat Detail ...
                            <svg class="ms-2" version="1.1" viewBox="0 0 15.698 8.706" width="17" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <polygon stroke="#777" stroke-width="0.1" fill="#777" points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/>
                            </svg>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
			<div class="row">
				<div class="col text-center appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="800" data-plugin-options="{'accY': -250}">
					<a href="{% url 'sipandu:berita' %}" class="btn btn-info font-weight-bold px-5 btn-py-3"><span class="fa fa-eye"></span> Lihat Berita Lainnya</a>
				</div>
			</div>
        </div>
    </div>
</div>


<style>
.berita-item {
    width: 300px; /* Atur lebar sesuai kebutuhan */
    height: 450px; /* Atur tinggi sesuai kebutuhan */
    border: 1px solid #ddd; /* Opsional: Untuk visualisasi batas */
    padding: 15px; /* Opsional: Untuk memberikan ruang dalam */
    box-sizing: border-box; /* Memastikan padding tidak menambah ukuran total */
}
.image-container {
    width: 100%;
    height: 200px; /* Atur tinggi gambar */
    overflow: hidden;
}
.news-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Memastikan gambar memenuhi kontainer */
}
.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
</style>




<!-- GALERI -->
<section class="section overlay overlay-show overlay-op-5 border-0 m-0" style="background-image: url({% static 'logo/sd01.jpg' %}); background-size: cover; background-position: center;">
	<div class="container py-5 mb-5 pt-5">
		<div class="row">
			<div class="col-md-12">
				<div class="col text-center mb-5">
					<h2 class="text-transform-none text-color-light font-weight-bold text-10 negative-ls-1 mb-2 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">GALERI</h2>
				</div>
			</div>
		</div>
		<div class="lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
			<div class="row">
				{% for gambar in galeri %}
				<div class="col-lg-4 appear-animation mb-4" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">
					<a class="img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon rounded-0" href="{{ gambar.gambar.url }}">
						<img src="{{ gambar.gambar.url }}" class="img-fluid gambar-galeri rounded-0 fixed-size-image" alt="" />
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<style>
    .fixed-size-image {
        width: 100%;
        height: 300px; /* Anda dapat menyesuaikan tinggi sesuai kebutuhan */
        object-fit: cover; /* Memastikan gambar menyesuaikan dengan ukuran kontainer */
    }
</style>


</div>
{% endblock main %}