{% extends 'layout/base_layout.html' %}
{% block main %}
{% load static %}

<section class="page-header page-header-modern page-header-lg" style="padding: 5rem 0; background-color: #0169fe;">
    <div class="container py-4">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-color-light font-weight-bold text-10"> IPA </h1>
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium mb-2">
                    <li class="text-color-light active"> >>Ilmu Pengetahuan Alam<< </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section section-no-border section-angled bg-color-light-scale-1 m-0">
    <div class="section-angled-layer-top section-angled-layer-increase-angle" style="padding: 5rem 0;"></div>
    <div class="container py-5 my-5">
        <div class="row align-items-center text-justify my-5">
            {% for item in data_ipa %}
                <div class="col-md-6 mb-5">
                    <h2 class="font-weight-bold text-9 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">{{ item.judul }}</h2>
                    <p class="pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800" data-appear-animation-duration="750">{{ item.isi_konten|safe }}</p>
                </div>
                <div class="col-md-6 position-relative py-5 mb-5">
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="0" data-appear-animation-duration="750">
                        <div class="strong-shadow rounded strong-shadow-top-right">
                            <img src="{{ item.konten_image.url }}" class="lazyload img-fluid border border-width-10 border-color-light rounded box-shadow-3" alt="{{ item.judul }}" width="600" height="400" />
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="section section-height-3 bg-gradient border-0 m-0">
    <div class="container py-1">
        <div class="col">
            <h2 class="text-color-light font-weight-bold text-9 mb-5-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">Berita Lainnya</h2>
            <div class="custom-half-carousel-style-1 carousel-half-full-width-wrapper carousel-half-full-width-right">
                <div class="owl-carousel owl-theme carousel-half-full-width-right dots-align-left dots-light custom-dots-style-1 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '768': {'items': 3}, '992': {'items': 3}, '1200': {'items': 3}}, 'loop': false, 'nav': false, 'dots': true, 'margin': 20}">
                    <!-- start -->
                     {% for dt_berita_latest in data_berita_latest %}
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="400">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{{dt_berita_latest.konten_image.url}}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% url 'sipandu:detail' dt_berita_latest.id_data_konten %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">{{dt_berita_latest.created_at}}</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="{% url 'sipandu:detail' dt_berita_latest.id_data_konten %}" class="text-decoration-none text-color-light opacity-hover-8">{{dt_berita_latest.judul|title}}</a>
                        </h3>
                    </div>
                    {% endfor %}
                    <!-- end -->
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock main %}
