{% extends 'layoutsmp/base_layoutsmp.html' %}
{% block main %}
{% load static %}

<section class="page-header page-header-modern page-header-lg overlay overlay-show overlay-op-9 m-0" style="background-image: url(img/demos/law-firm-2/backgrounds/background-4.jpg); height: 300px; background-size: cover;  background-position: center;">
    <div class="container py-5">
        <div class="row">
            <div class="col text-align-center text-center">
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium " style="margin-top: 80px;">
                    <h2 class="text-color-light">
                      KEGIATAN
                    </h2>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container py-5 my-4">
    <div class="row row-gutter-sm py-2">
        <div class="col-md-6 col-lg-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">
            <a href="demo-law-firm-2-attorney-detail.html" class="text-decoration-none">
                <div class="card custom-card-style-1 border-0 border-radius-0 custom-box-shadow-1">
                    <img src="{% static 'img/pakibrasmp.jpg' %}" class="card-img-top border-radius-0" alt="John Doe Image" />
                    <div class="card-body text-center px-4 py-5">
                        <h2 class="card-title alternative-font-4 text-color-dark font-weight-semibold line-height-1 text-5 mb-1">Pengibaran Bendera 17 Agustus 2023</h2>
                        <p class="font-weight-light text-color-dark line-height-7 mb-2">Pengibaran dilaksanakan di Politeknik Negeri Lampung </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">
            <a href="demo-law-firm-2-attorney-detail.html" class="text-decoration-none">
                <div class="card custom-card-style-1 border-0 border-radius-0 custom-box-shadow-1">
                    <img src="{% static 'img/pa.jpg' %}" class="card-img-top border-radius-0" alt="John Doe Image" />
                    <div class="card-body text-center px-4 py-5">
                        <h2 class="card-title alternative-font-4 text-color-dark font-weight-semibold line-height-1 text-5 mb-1">Presiden Hadir Dalam Acara Pramuka</h2>
                        <p class="font-weight-light text-color-dark line-height-7 mb-2">Anggota Pramuka dilaksakan oleh anak pramuka </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="600">
            <a href="demo-law-firm-2-attorney-detail.html" class="text-decoration-none">
                <div class="card custom-card-style-1 border-0 border-radius-0 custom-box-shadow-1">
                    <img src="{% static 'img/tarismp.jpg' %}" class="card-img-top border-radius-0" alt="John Doe Image" />
                    <div class="card-body text-center px-4 py-5">
                        <h2 class="card-title alternative-font-4 text-color-dark font-weight-semibold line-height-1 text-5 mb-1">Tari yang dilaksanakan di Alun Alun Kidul</h2>
                        <p class="font-weight-light text-color-dark line-height-7 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.ac auctor lacus tincidunt ut...</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">
            <a href="demo-law-firm-2-attorney-detail.html" class="text-decoration-none">
                <div class="card custom-card-style-1 border-0 border-radius-0 custom-box-shadow-1">
                    <img src="{% static 'img/volli.jpg' %}" class="card-img-top border-radius-0" alt="John Doe Image" />
                    <div class="card-body text-center px-4 py-5">
                        <h2 class="card-title alternative-font-4 text-color-dark font-weight-semibold line-height-1 text-5 mb-1">Pertandingan Volley</h2>
                        <p class="font-weight-light text-color-dark line-height-7 mb-2">Anggota Bola Volley </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">
            <a href="{% static 'demo-law-firm-2-attorney-detail.html' %}" class="text-decoration-none">
                <div class="card custom-card-style-1 border-0 border-radius-0 custom-box-shadow-1">
                    <img src="{% static 'img/pmr.jpeg' %}" class="card-img-top border-radius-0" alt="John Doe Image" />
                    <div class="card-body text-center px-4 py-5">
                        <h2 class="card-title alternative-font-4 text-color-dark font-weight-semibold line-height-1 text-5 mb-1">PMR</h2>
                        <p class="font-weight-light text-color-dark line-height-7 mb-2">Anggota PMR (Palang Merah Remaja) </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="600">
            <a href="{% static 'demo-law-firm-2-attorney-detail.html' %}" class="text-decoration-none">
                <div class="card custom-card-style-1 border-0 border-radius-0 custom-box-shadow-1">
                    <img src="{% static 'img/s1.jpg' %}" class="card-img-top border-radius-0" alt="John Doe Image" />
                    <div class="card-body text-center px-4 py-5">
                        <h2 class="card-title alternative-font-4 text-color-dark font-weight-semibold line-height-1 text-5 mb-1">Pencak Silat</h2>
                        <p class="font-weight-light text-color-dark line-height-7 mb-2">Anggota PMR (Palang Merah Remaja) </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<section class="section section-height-3 bg-gradient border-0 m-0">
    <div class="container py-1">
        <div class="col">
            <h2 class="text-color-light font-weight-bold text-9 mb-5-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">BERITA</h2>
            <div class="custom-half-carousel-style-1 carousel-half-full-width-wrapper carousel-half-full-width-right">
                <div class="owl-carousel owl-theme carousel-half-full-width-right dots-align-left dots-light custom-dots-style-1 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '768': {'items': 3}, '992': {'items': 3}, '1200': {'items': 3}}, 'loop': false, 'nav': false, 'dots': true, 'margin': 20}">
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="400">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/bantu1.jpeg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% url 'sipandu:detail' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="600">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/tarismp.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="800">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/bantu1.jpeg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/angklung.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/bantu1.jpeg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'logo/pramuka.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock main %}