{% extends 'layout/base_layout.html' %}
{% block main %}
{% load static %}

<div role="main" class="main">

<section class="page-header page-header-modern page-header-lg overlay overlay-show overlay-op-9 m-0" style="background-image: url(img/demos/law-firm-2/backgrounds/background-4.jpg); background-size: cover; background-position: center;">
        <div class="container py-4">
            <div class="row">
                <div class="col text-center">
                    <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium mb-2">
                    </ul>
                    <h1 class="text-color-light font-weight-bold text-10">{{data_detail_fasilitas.judul}}</h1>
                </div>
            </div>
        </div>
</section>

<div class="container pt-4 pb-5 my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">
                <article>
                    <div class="card border-0">
                        <div class="card-body z-index-1 p-0">
                            <div class="post-image pb-4 "> <!-- Changed class to text-center -->
                                <img class="card-img-top custom-border-radius-1" src="{{ data_detail_fasilitas.konten_image.url }}" alt="Card Image">
                                <p class="text-uppercase text-1 mb-3 text-color-default"><time pubdate datetime="2023-01-10">{{data_detail_fasilitas.created_at}}</time> 
                                
                                </p>
                            </div>
                            <div class="card-body p-0" style="text-align: justify;">     
                                <p style="color: black;">{{data_detail_fasilitas.isi_konten|safe}}</p>
                                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                <div class="addthis_inline_share_toolbox"></div>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60ba220dbab331b0"></script>
                            </div>
                            
                            
                        </div>
                    </div>
                </article>
                
    
            </div>
        </div>
</div>
    
<section class="section section-height-3 bg-gradient border-0 m-0">
        <div class="container py-1">
            <div class="col">
                <h2 class="text-color-light font-weight-bold text-9 mb-5-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">FASILITAS</h2>
                <div class="custom-half-carousel-style-1 carousel-half-full-width-wrapper carousel-half-full-width-right">
                    <div class="owl-carousel owl-theme carousel-half-full-width-right dots-align-left dots-light custom-dots-style-1 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '768': {'items': 3}, '992': {'items': 3}, '1200': {'items': 3}}, 'loop': false, 'nav': false, 'dots': true, 'margin': 20}">
                        <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="400">
                            <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                                <div class="thumb-info-wrapper rounded-0">
                                    
                                    <img src="{{ data_detail_fasilitas.konten_image.url }}" class="img-fluid rounded-0" alt="" />
                                    <div class="thumb-info-action">
                                        <a href="" aria-label="">
                                            <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                                <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Laboratorium IPA</a>
                            </h3>
                        </div>
                        <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="600">
                            <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                                <div class="thumb-info-wrapper rounded-0">
                                    <img src="{% static 'logo/lab komputer.jpg' %}" class="img-fluid rounded-0" alt="" />
                                    <div class="thumb-info-action">
                                        <a href="" aria-label="">
                                            <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                                <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Laboratorium Komputer</a>
                            </h3>
                        </div>
                        <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="800">
                            <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                                <div class="thumb-info-wrapper rounded-0">
                                    <img src="{% static 'logo/perpustakaan.jpg' %}" class="img-fluid rounded-0" alt="" />
                                    <div class="thumb-info-action">
                                        <a href="" aria-label="">
                                            <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                                <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Perpustakaan</a>
                            </h3>
                        </div>
                        <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                            <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                                <div class="thumb-info-wrapper rounded-0">
                                    <img src="{% static 'logo/aula.jpg' %}" class="img-fluid rounded-0" alt="" />
                                    <div class="thumb-info-action">
                                        <a href="" aria-label="">
                                            <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                                <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Aula</a>
                            </h3>
                        </div>
                        <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                            <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                                <div class="thumb-info-wrapper rounded-0">
                                    <img src="{% static 'logo/lapangan.jpg' %}" class="img-fluid rounded-0" alt="" />
                                    <div class="thumb-info-action">
                                        <a href="" aria-label="">
                                            <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                                <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Lapangan</a>
                            </h3>
                        </div>
                        <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                            <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                                <div class="thumb-info-wrapper rounded-0">
                                    <img src="{% static 'img/demos/digital-agency/projects/project-6.jpg' %}" class="img-fluid rounded-0" alt="" />
                                    <div class="thumb-info-action">
                                        <a href="" aria-label="">
                                            <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                            <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                                <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

</div> 



{% endblock main %}