{% extends 'layout_smp/base_layout_smp.html' %}
{% block main %}
{% load static %}



<section class="page-header page-header-modern page-header-lg" style="background-color:#0169fe;">
    <div class="container py-4">
        <div class="row">
            <div class="col text-center">
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium mb-2">
                    <h2 class="text-color-light">
                        PROFIL SEKOLAH
                    </h2>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <h2>{{ data_sejarah.judul }}</h2>
               
                
                <p>{{ data_sejarah.isi_konten|safe }}</p>
                
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <img src="{{ data_sejarah.konten_image.url}}" alt="" style="border-radius: 5px;">
            </div>
        </div>
    </div>
</section>

<section class="section overlay-show border-0 m-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300" style="background-size: cover; background-position: center; background-color: blue;">
    <div class="row mt-5 mb-5">
        <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium mb-2 mt-3">
            <h2 class="card-title alternative-font-4 text-color-light font-weight-semibold line-height-1 text-5 mb-1">Pergantian Kepala Sekolah</h2>
        </ul>
    </div>
    <div class="row mt-5 mb-5">
        <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium mb-2 mt-3">
            <h2 class="card-title alternative-font-4 text-color-light font-weight-semibold line-height-1 text-5 mb-1"></h2>
        </ul>
    </div>
      
</section>

<div class="owl-carousel-wrapper position-relative z-index-3 pb-5 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="600" style="height: 373px; margin-top: -225px;">
    <div class="owl-carousel owl-theme dots-horizontal-center custom-dots-style-1 dots-dark mb-0" data-plugin-options="{'responsive': {'576': {'items': 2}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}, '1440': {'items': 5}}, 'margin': 20, 'stagePadding': 20, 'loop': true, 'nav': false, 'dots': true, 'autoplay': true, 'autoplayTimeout': 7000}">
        
        <div class="py-5">
            <a href="#"class="text-decoration-none">
                <div class="card custom-card-style-1 border-0 border-radius-3 custom-box-shadow-1">
                    <img src="#" class="card-img-top border-radius-5" width="291" height="178"/>
                    <div class="card-body text-center px-4 py-4">
                        <h2 class="card-title alternative-font-4 text-color-dark font-weight-semibold line-height-1 text-5 mb-1">#</h2>
                        <p class="text-color-grey positive-ls-3 mb-3">#</p>
                        <svg class="ms-2" version="1.1" viewBox="0 0 15.698 8.706" width="17" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <polygon stroke="#777" stroke-width="0.1" fill="#777" points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/>
                        </svg>
                    </div>
                </div>
            </a>
    
    </div>
</div>


<div class="container py-5 my-5">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card bg-primary border-0 border-radius-0">
                <div class="card-body p-5">
                    <h2 class="text-color-light font-weight-bold text-9 pb-2 mb-4">Identitas Sekolah</h2>

                    <div class="custom-seemore-overlay mb-4" style="max-height: 400px;">
                        <div class="custom-accordion-style-1 accordion accordion-modern" id="FAQAccordion">
                           
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Npsn: {{ identitas_sekolah.sekolah_npsn }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Nama: {{ identitas_sekolah.sekolah_nama }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Jenis : {{ identitas_sekolah.sekolah_jenis }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                        Status : {% if identitas_sekolah.sekolah_status %} Aktif {% else %} Tidak Aktif {% endif %}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Jenjang : {{ identitas_sekolah.sekolah_jenjang.jenjang_nama }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Provinsi : {{ identitas_sekolah.sekolah_provinsi.wilayah_nama }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Kabupaten : {{ identitas_sekolah.sekolah_kabupaten.wilayah_nama }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Kecamatan : {{ identitas_sekolah.sekolah_kecamatan.wilayah_nama }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="position-relative">
                <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
                    <img src="{% static 'logo/FILLIANA.jpg' %}" class="img-fluid position-relative z-index-1 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="900" alt="" style="border-radius: 5px;"/>
                </div>
                <h2 class="font-weight-bold text-color-dark text-center "> FILLYANA TRI PURWA HASTUTI</h2>
                <h5 class="text-center">Masa Jabatan 2010 - Sekarang </h5>
            </div>
        </div>
    </div>
</div>






{% endblock main %}