<!-- Modal Tambah Data -->
 
<div class="modal fade" id="editdata_{{dt_transaksi.transanksi_id}}" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDataModalLabel">Edit Data Transaksi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form tambah data di sini -->
                <form method="post" action="{% url 'sipandu_admin:edit_transaksi' dt_transaksi.transanksi_id %}">

                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="sekolah_jenjang" class="form-label">Sekolah</label>
                        <select class="form-select" id="sekolah_id" name="sekolah_nama_edit">
                            <option value="test" selected disabled>Pilih Sekolah</option>
                            {% for sekolah in data_sekolah %}
                            <option value="{{ sekolah.sekolah_id }}" {% if sekolah.sekolah_id == sekolah.sekolah_id %} selected {% endif %}>{{ sekolah.sekolah_nama.upper }}</option>
                            {% endfor %}
                        </select>
                    </div>  
                    <div class="mb-3">
                        <label for="sekolah_jenjang" class="form-label">Tema</label>
                       
                        <select class="form-select" id="tema_id" name="tema_nama_edit">
                            <option value="test" selected disabled>Pilih Tema</option>
                            {% for tema in data_tema %}
                            <option value="{{tema.tema_id}}"{% if tema.tema_id == tema.tema_id %} selected {% endif %}></option>>{{tema.tema_nama.upper}}</option>
                            {% endfor %}
                        </select>
                    </div> 
                        <label for="provinsi" class="form-label">Domain</label>
                        <input type="text" value="{{dt_transaksi.domain}}" class="form-control" name="domain_edit" placeholder="Masukkan Distrik">
                  
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                
                </form>
            
        </div>
    </div>
</div>
<!-- Modal Tambah Data End -->

                            