{% extends 'layout_sd/base_layout_sd.html' %}
{% block main %}
{% load static %}


<section class="page-header page-header-modern bg-primary custom-page-header">
    <div class="custom-svg-style-1 svg-fill-color-primary position-absolute top-0 left-50pct transform3dx-n50 h-100 z-index-0">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 400" xml:space="preserve" preserveAspectRatio="none" width="100%" height="100%" data-plugin-float-element-svg="true">
            <circle id="svg_2" r="7.5" cy="539.5" cx="209.5" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
            <circle id="svg_3" r="12" cy="211" cx="268" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.4, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
            <circle id="svg_4" r="17" cy="144" cx="1864" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.6, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
            <circle id="svg_6" r="28.5" cy="326.74992" cx="327.75073" stroke-miterlimit="10" stroke-width="3" stroke="6CD499" fill="none"/>
            <circle opacity="0.2" stroke="#ffffff" id="svg_8" r="21.5" cy="340.25" cx="90.74976" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
            <circle stroke="#ffffff" opacity="0.2" id="svg_9" r="14.625" cy="689.625" cx="128.87476" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.5, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
        </svg>								
    </div>
    <div class="container position-relative z-index-1 mt-4 h-100 d-flex flex-column align-items-center justify-content-center">
       
        <div class="text-center">
            <h1 class="text-color-light font-weight-bold positive-ls-3 custom-big-text-1 line-height-1 mb-0" style="font-size: 20px;">VISI & MISI</h1>
        </div>
    </div>
</section>

<div class="container py-5 my-4">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <img src="{{data_visi.konten_image.url}}" class="img-fluid rounded-0 p-relative top-10 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" alt="" />
        </div>
        <div class="mt-4 mt-md-0 col-md-6">
            <h2 class="font-weight-bold text-color-dark text-7 mb-4">VISI</h2>
            <p class="text-4-5 line-height-7">{{ data_visi.isi_konten|safe}}</p>
        </div>
    </div>
</div>

<section class="section bg-color-grey border-0 position-relative py-0 m-0">
    <div class="container">
        <div class="row">
            <div class="col pt-5 pb-4">
                <h2 class="font-weight-bold text-center text-7 mb-4">MISI</h2>
                <div class="row process my-5">
                    {% for dt_misi in data_misi %}
                    <div class="process-step col-lg-3 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content">>{{ forloop.counter }}</strong>
                        </div>
                        <div class="process-step-content">
                            <p class="mb-0">{{ dt_misi.isi_konten|safe}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
             </div>
         </div>
     </div>
</section>
{% endblock main %}