{% load static %}
<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="side-header">
        <a class="header-brand1" href="index.html">
            <img src="{% static 'admin/images/brand/logo-papua.png' %}" class="header-brand-img desktop-logo" alt="logo">
            <img src="{% static 'admin/images/brand/logo-papua.png' %}" class="header-brand-img toggle-logo" alt="logo">
            <img src="{% static 'admin/images/brand/logo-papua.png' %}" class="header-brand-img light-logo" alt="logo">
            <img src="{% static 'admin/images/brand/logo-papua.png' %}" class="header-brand-img light-logo1" alt="logo">
        </a><!-- LOGO -->
    </div>
    <ul class="side-menu">
        <li><h3></h3></li>
        <li class="slide">
            <a class="side-menu__item"  data-bs-toggle="slide" href="{% url 'sipandu_admin:admin_index' %}"></i><span class="side-menu__label">Beranda</span></a>
        </li>
        <li class="slide">
            <a class="side-menu__item" data-bs-toggle="slide" href="#"></i><span class="side-menu__label">Master Data</span><i class="angle fa fa-angle-right"></i></a>
            <ul class="slide-menu">
                <li><a href="{% url 'sipandu_admin:index_user' %}" class="slide-item">User</a></li>
                <li><a href="{% url 'sipandu_admin:index_jenjang' %}" class="slide-item">Jenjang</a></li>
                <li><a href="{% url 'sipandu_admin:index_wilayah' %}" class="slide-item">Wilayah</a></li>
                <li><a href="{% url 'sipandu_admin:index_sekolah' %}" class="slide-item">Sekolah</a></li>
                <li><a href="{% url 'sipandu_admin:index_tema' %}" class="slide-item">Tema</a></li>
                <li><a href="{% url 'sipandu_admin:master_kategori' %}" class="slide-item">Master Kategori</a></li>
            </ul>
        </li>
        <li class="slide">
            <a class="side-menu__item"  data-bs-toggle="slide" href="{% url 'sipandu_admin:index_transaksi' %}"></i><span class="side-menu__label">Transaksi Situs</span></a>
        </li>
        <li class="slide">
            <a class="side-menu__item" data-bs-toggle="slide" href="#"></i><span class="side-menu__label">Data</span><i class="angle fa fa-angle-right"></i></a>
            <ul class="slide-menu">
                <li><a href="{% url 'sipandu_admin:index_konten' %}" class="slide-item">Konten</a></li>
            </ul>
            <ul class="slide-menu">
                <li><a href="{% url 'sipandu_admin:index_galeri' %}" class="slide-item">Galeri</a></li>
            </ul>
            <ul class="slide-menu">
                <li><a href="{% url 'sipandu_admin:index_kontak' %}" class="slide-item">Kontak Sekolah</a></li>
            </ul>
            <ul class="slide-menu">
                <li><a href="{% url 'sipandu_admin:index_link' %}" class="slide-item">Link</a></li>
            </ul>
            <ul class="slide-menu">
                <li><a href="{% url 'sipandu_admin:index_siswa' %}" class="slide-item">Data Siswa</a></li>
            </ul>
            <ul class="slide-menu">
                <li><a href="{% url 'sipandu_admin:index_guru' %}" class="slide-item">Data Guru</a></li>
            </ul>
            <ul class="slide-menu">
                <li><a href="{% url 'sipandu_admin:index_slider' %}" class="slide-item">Slider</a></li>
            </ul>
        </li>
       
        <li class="slide">
            <a class="side-menu__item" data-bs-toggle="slide" href="#"></i><span class="side-menu__label">Laporan</span><i class="angle fa fa-angle-right"></i></a>
            <ul class="slide-menu">
                <li><a href="{% url 'sipandu_admin:laporan_transaksi_sudah' %}" class="slide-item"> Laporan Sekolah Yang Sudah Transaksi</a></li>
                <li><a href="{% url 'sipandu_admin:laporan_transaksi_belum' %}" class="slide-item"> Laporan Sekolah Yang Belum Transaksi</a></li>
            </ul>
        </li>
    </ul>
</aside>