{% extends 'layout_smp/base_layout_smp.html' %}
{% block main %}
{% load static %}

<section class="page-header page-header-modern page-header-lg" style="background-color:#0169fe;">
    <div class="container py-4">
        <div class="row">
            <div class="col text-center">
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium mb-2">
                    <h2 class="text-color-light">
                      PRESTASI
                    </h2>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container py-5 mt-4">
    <div class="row">
        <div class="col">
            <ul class="nav nav-pills sort-source sort-source-style-3 custom-sort-source mt-4" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'packery', 'filter': '*'}"></ul>
            <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
                <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
                {% if page_obj %}
                    {% for prestasi in page_obj %}
                    <div class="col-sm-6 col-lg-6 isotope-item websites">
                        <div class="portfolio-item">
                            <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                                <div class="thumb-info-wrapper rounded-0">
                                    <img src="{{ prestasi.konten_image.url }}" class="img-fluid rounded-0 fixed-size" alt="" />
                                    <div class="thumb-info-action">
                                        <a href="{% url 'sipandu:detail_prestasi' prestasi.id_data_konten %}" aria-label="">
                                            <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                                <a href="{% url 'sipandu:detail_prestasi' prestasi.id_data_konten %}" class="text-decoration-none text-color-dark opacity-hover-8">{{ prestasi.judul }}</a>
                            </h3>
                            <h2 class="text-color-dark font-weight-semibold text-3 opacity-7 line-height-1 mb-1">{{ prestasi.isi_konten|truncatewords:15|safe }}</h2>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No news available.</p>
                {% endif %}
                </div>
                
            <ul class="custom-pagination-style-1 pagination pagination-rounded pagination-md justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
                </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a>
                </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </div>
</div>

<style>
    .fixed-size {
        width: 100%;
        height: 300px; /* Set a fixed height */
        object-fit: cover; /* Ensure images cover the set height and width without stretching */
    }
    .portfolio-item {
        margin-bottom: 30px;
    }
    .thumb-info-wrapper {
        position: relative;
        overflow: hidden;
    }
    .thumb-info-action {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
    .thumb-info:hover .thumb-info-action {
        display: block;
    }
</style>


<section class="section section-height-3 bg-gradient border-0 m-0">
    <div class="container py-1">
        <div class="col">
            <h2 class="text-color-light font-weight-bold text-9 mb-5-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">Berita Lainnya</h2>
            <div class="custom-half-carousel-style-1 carousel-half-full-width-wrapper carousel-half-full-width-right">
                <div class="owl-carousel owl-theme carousel-half-full-width-right dots-align-left dots-light custom-dots-style-1 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '768': {'items': 3}, '992': {'items': 3}, '1200': {'items': 3}}, 'loop': false, 'nav': false, 'dots': true, 'margin': 20}">
                    <!-- start -->
                    {% for dt_berita_latest in data_berita_latest %}
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="400">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3 berita-item">
                            <div class="thumb-info-wrapper rounded-0 image-container">
                                <img src="{{ dt_berita_latest.konten_image.url }}" class="img-fluid rounded-0 news-image" alt="Image of the news" />
                                <div class="thumb-info-action">
                                    <a href="{% url 'sipandu:detail' dt_berita_latest.id_data_konten %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">{{ dt_berita_latest.created_at }}</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="{% url 'sipandu:detail' dt_berita_latest.id_data_konten %}" class="text-decoration-none text-color-light opacity-hover-8">{{ dt_berita_latest.judul|title }}</a>
                        </h3>
                    </div>
                    {% endfor %}
                    <!-- end -->
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.berita-item {
    width: 100%;
    height: 100%; /* Adjust as needed */
}
.image-container {
    width: 100%;
    height: 200px; /* Set a fixed height for the images */
    overflow: hidden;
}
.news-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container without distortion */
}
</style>

{% endblock main %}
