{% extends 'layout_smp/base_layout_smp.html' %}
{% block main %}
{% load static %}

<section class="page-header page-header-modern page-header-lg overlay overlay-show overlay-op-9 m-0" style="background-image: url(img/demos/law-firm-2/backgrounds/background-4.jpg); background-size: cover; background-position: center;">
    <div class="container py-4">
        <div class="row">
            <div class="col text-center">
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium mb-2">
                </ul>
                <h1 class="text-color-light font-weight-bold text-10">BIODATA GURU</h1>
            </div>
        </div>
    </div>
</section>

<div class="container py-3 my-3">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <!-- Tabel BIODATA -->
            <h2 class="text-color-dark font-weight-extra-bold text-5 mb-3 mb-md-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200"><em>BIODATA</em></h2>
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td class="label text-color-dark">NAMA</td>
                        <td class="label text-color-dark">: {{ data_detail_guru.nama_guru }}</td>
                    </tr>
                    <tr>
                        <td class="label text-color-dark">NIP</td>
                        <td class="label text-color-dark">: {{ data_detail_guru.nip_guru }}</td>
                    </tr>
                    <tr>
                        <td class="label text-color-dark">Mata Pelajaran</td>
                        <td class="label text-color-dark">: {{ data_detail_guru.mata_pelajaran }}</td>
                    </tr>
                    <tr>
                        <td class="label text-color-dark">Pendidikan</td>
                        <td class="label text-color-dark">: {{ data_detail_guru.pendidikan }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-9 col-lg-6 ps-lg-5">
            <!-- Gambar -->
            <div >
                <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
                    <img src="{{ data_detail_guru.guru_image.url }}" class="img-fluid position-relative z-index-1 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="900" alt="" style="position: absolute; top: 100; left: 0; width: 100%; height: 100%; object-fit: cover; border-radius: 5px;">
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock main %}
