{% extends 'layoutsmp/base_layoutsmp.html' %}
{% block main %}
{% load static %}

<div role="main" class="main">

    <section class="page-header page-header-modern page-header-lg overlay overlay-show overlay-op-9 m-0" style="background-image: url(img/demos/law-firm-2/backgrounds/background-4.jpg); height: 300px; background-size: cover;  background-position: center;">
        <div class="container py-5">
            <div class="row">
                <div class="col text-align-center text-center">
                    <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium " style="margin-top: 80px;">
                        <h2 class="text-color-light">
                          Detail Fasilitas
                        </h2>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container pt-4 pb-5 my-5">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">

                <article class="mb-5">
                    <div class="card border-0 border-radius-0 custom-box-shadow-1">
                        <div class="card-img-top">

                                <img class="card-img-top border-radius-0 hover-effect-2" src="{% static 'img/bantu1.jpeg' %}" alt="Card Image">
                            </a>
                        </div>
                        <div class="card-body bg-light p-4 z-index-1">
                            <p class="text-uppercase text-color-default text-1 mb-1 pt-1">
                                <time pubdate datetime="2023-01-10">12 Feb 2024</time> 
                                <span class="opacity-3 d-inline-block px-2">|</span> 
                                2 Comments 
                                <span class="opacity-3 d-inline-block px-2">|</span> 
                                Emiya
                            </p>
                            <div class="card-body p-0">
                                <h4 class="card-title alternative-font-4 font-weight-semibold text-5 mb-3"><a class="text-color-dark text-color-hover-primary text-decoration-none font-weight-bold text-3" href="demo-law-firm-2-blog-post.html">Bantuan dari Pemerintah</a></h4>
                                <p class="card-text mb-2">Bantuan Rp1 Juta dari Pemerintah untuk Pelajar SMP</p>
                               
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus harum rerum, delectus, est nulla error ea sunt, maiores aperiam similique quas eos debitis reprehenderit iste pariatur sapiente reiciendis? Molestias, nesciunt?
                                </p>

                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus harum rerum, delectus, est nulla error ea sunt, maiores aperiam similique quas eos debitis reprehenderit iste pariatur sapiente reiciendis? Molestias, nesciunt?
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus harum rerum, delectus, est nulla error ea sunt, maiores aperiam similique quas eos debitis reprehenderit iste pariatur sapiente reiciendis? Molestias, nesciunt?
                                </p>
                                  
                                </a>
                            </div>
                        </div>
                    </div>
                </article>

            

            </div>
            <div class="blog-sidebar col-lg-4 pt-4 pt-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1800">
                <aside class="sidebar">
                   
                
                    <div class="px-3 mt-4">
                        <h3 class="text-color-quaternary text-capitalize font-weight-bold text-5 m-0">Daftar Fasilitas</h3>
                        <ul class="nav nav-list flex-column mt-2 mb-0 p-relative right-9">
                            <li class="nav-item"><a class="nav-link bg-transparent border-0" href="{% url 'sipandu:detail_fasilitas_smp' %}">Fasilitas 1</a></li>
                            <li class="nav-item"><a class="nav-link bg-transparent border-0" href="{% url 'sipandu:detail_fasilitas_smp' %}">Fasilitas 2</a></li>
                            <li class="nav-item"><a class="nav-link bg-transparent border-0" href="{% url 'sipandu:detail_fasilitas_smp' %}">Fasilitas 3</a></li>
                            <li class="nav-item"><a class="nav-link bg-transparent border-0" href="{% url 'sipandu:detail_fasilitas_smp' %}">Fasilitas 4</a></li>
                            <li class="nav-item"><a class="nav-link bg-transparent border-0" href="{% url 'sipandu:detail_fasilitas_smp' %}">Fasilitas 5</a></li>
                            <li class="nav-item"><a class="nav-link bg-transparent border-0" href="{% url 'sipandu:detail_fasilitas_smp' %}">Fasilitas 6</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>

</div>

<section class="section section-height-3 bg-gradient border-0 m-0">
    <div class="container py-1">
        <div class="col">
            <h2 class="text-color-light font-weight-bold text-9 mb-5-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">BERITA</h2>
            <div class="custom-half-carousel-style-1 carousel-half-full-width-wrapper carousel-half-full-width-right">
                <div class="owl-carousel owl-theme carousel-half-full-width-right dots-align-left dots-light custom-dots-style-1 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '768': {'items': 3}, '992': {'items': 3}, '1200': {'items': 3}}, 'loop': false, 'nav': false, 'dots': true, 'margin': 20}">
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="400">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/bantu1.jpeg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% url 'sipandu:detail' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="600">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/tarismp.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="800">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/bantu1.jpeg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/angklung.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/bantu1.jpeg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'logo/pramuka.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}