{% extends 'layoutsmp/base_layoutsmp.html' %}
{% block main %}
{% load static %}

<section class="page-header page-header-modern page-header-lg overlay overlay-show overlay-op-9 m-0" style="background-image: url(img/demos/law-firm-2/backgrounds/background-4.jpg); height: 300px; background-size: cover;  background-position: center;">
    <div class="container py-5">
        <div class="row">
            <div class="col text-align-center text-center">
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium " style="margin-top: 80px;">
                    <h2 class="text-color-light">
                      Fasilitas
                    </h2>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="speakers" class="border-0 bg-transparent py-1">
    <div class="container py-3">
        
        <div class="row mt-4 mb-4 pt-0 pb-0">
            <div class="col-sm-6 col-md-4 mb-4 text-center appear-animation" data-appear-animation="blurIn" data-plugin-options="{'minWindowWidth': 0}" data-appear-animation-delay="100">
                <div class="hover-effect-3d">
                    <a href="{% url 'sipandu:detail_fasilitas_smp' %}" class="popup-with-zoom-anim">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded">
                            <div class="thumb-info-wrapper">
                                <img src="{% static 'img/2.jpeg' %}" class="img-fluid mb-2" />
                                
                            </div>
                        </div>
                    </a>
                </div>
                <h4 class="text-color-dark font-weight-bold line-height-1 text-5 mt-3 mb-2">John Doe</h4>
                <h3 class="d-block text-color-default text-uppercase font-weight-bold line-height-1 positive-ls-2 text-2 mb-3">Wordpress Dev</h3>

                <!-- Speaker Lightbox 1 -->
                <div id="speaker-content-1" class="dialog dialog-lg zoom-anim-dialog mfp-hide p-5">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 text-center">
                            <img src="{% static 'img/2.jpeg' %}" class="img-fluid mb-2" />
                        </div>
                        <div class="col-lg-8 col-sm-8">
                            <h4 class="text-color-dark font-weight-bold line-height-1 text-5 mt-0 mb-2">John Doe</h4>
                            <h3 class="d-block text-color-default text-uppercase font-weight-bold line-height-1 positive-ls-2 text-2 mb-3">Wordpress Dev</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at elementum lacus. Fusce luctus urna ac mauris consequat, ac eleifend odio imperdiet. Sed euismod tempor orci, ullamcorper accumsan justo semper eu. Donec venenatis elit et euismod iaculis. Integer vehicula imperdiet metus at convallis. Donec ullamcorper at nunc lobortis ultricies. Nam tincidunt.</p>	
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet faucibus congue. Donec at volutpat nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas risus dui.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque at purus et auctor. Donec eget risus vitae lacus aliquam porttitor. Morbi pellentesque fermentum ex, nec sagittis augue mollis sit amet. Pellentesque vitae metus porttitor ipsum finibus tincidunt. Praesent sit amet fringilla nisi, in porttitor eros. Vivamus iaculis mattis purus, vitae dictum felis tempor nec. Maecenas eget fermentum turpis. Fusce dignissim leo sit amet aliquet facilisis.</p>		
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4 text-center appear-animation" data-appear-animation="blurIn" data-plugin-options="{'minWindowWidth': 0}" data-appear-animation-delay="300">
                <div class="hover-effect-3d">
                    <a href="{% url 'sipandu:detail_fasilitas_smp' %}" class="popup-with-zoom-anim">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded">
                            <div class="thumb-info-wrapper">
                                <img src="{% static 'img/2.jpeg' %}" class="img-fluid mb-2" alt="" />
                                
                            </div>
                        </div>
                    </a>
                </div>
                <h4 class="text-color-dark font-weight-bold line-height-1 text-5 mt-3 mb-2">Janice Doe</h4>
                <h3 class="d-block text-color-default text-uppercase font-weight-bold line-height-1 positive-ls-2 text-2 mb-3">Wordpress Dev</h3>


                <!-- Speaker Lightbox 2 -->
                <div id="speaker-content-2" class="dialog dialog-lg zoom-anim-dialog mfp-hide p-5">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 text-center">
                            <img src="{% static 'img/2.jpeg' %}" class="img-fluid mb-2" />
                        </div>
                        <div class="col-lg-8 col-sm-8">
                            <h4 class="text-color-dark font-weight-bold line-height-1 text-5 mt-0 mb-2">Janice Doe</h4>
                            <h3 class="d-block text-color-default text-uppercase font-weight-bold line-height-1 positive-ls-2 text-2 mb-3">Wordpress Dev</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at elementum lacus. Fusce luctus urna ac mauris consequat, ac eleifend odio imperdiet. Sed euismod tempor orci, ullamcorper accumsan justo semper eu. Donec venenatis elit et euismod iaculis. Integer vehicula imperdiet metus at convallis. Donec ullamcorper at nunc lobortis ultricies. Nam tincidunt.</p>	
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet faucibus congue. Donec at volutpat nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas risus dui.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque at purus et auctor. Donec eget risus vitae lacus aliquam porttitor. Morbi pellentesque fermentum ex, nec sagittis augue mollis sit amet. Pellentesque vitae metus porttitor ipsum finibus tincidunt. Praesent sit amet fringilla nisi, in porttitor eros. Vivamus iaculis mattis purus, vitae dictum felis tempor nec. Maecenas eget fermentum turpis. Fusce dignissim leo sit amet aliquet facilisis.</p>		
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-4 mb-4 text-center appear-animation" data-appear-animation="blurIn" data-plugin-options="{'minWindowWidth': 0}" data-appear-animation-delay="600">
                <div class="hover-effect-3d">
                    <a href="{% url 'sipandu:detail_fasilitas_smp' %}" class="popup-with-zoom-anim">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded">
                            <div class="thumb-info-wrapper">
                                <img src="{% static 'img/2.jpeg' %}" class="img-fluid mb-2" alt="" />
                                
                            </div>
                        </div>
                    </a>
                </div>
                <h4 class="text-color-dark font-weight-bold line-height-1 text-5 mt-3 mb-2">Josh Doe</h4>
                <h3 class="d-block text-color-default text-uppercase font-weight-bold line-height-1 positive-ls-2 text-2 mb-3">Wordpress Dev</h3>
                <!-- Speaker Lightbox 3 -->
                <div id="speaker-content-3" class="dialog dialog-lg zoom-anim-dialog mfp-hide p-5">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 text-center">
                            <img src="{% static 'img/2.jpeg' %}" class="img-fluid mb-2" />
                        </div>
                        <div class="col-lg-8 col-sm-8">
                            <h4 class="text-color-dark font-weight-bold line-height-1 text-5 mt-0 mb-2">Josh Doe</h4>
                            <h3 class="d-block text-color-default text-uppercase font-weight-bold line-height-1 positive-ls-2 text-2 mb-3">Wordpress Dev</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at elementum lacus. Fusce luctus urna ac mauris consequat, ac eleifend odio imperdiet. Sed euismod tempor orci, ullamcorper accumsan justo semper eu. Donec venenatis elit et euismod iaculis. Integer vehicula imperdiet metus at convallis. Donec ullamcorper at nunc lobortis ultricies. Nam tincidunt.</p>	
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet faucibus congue. Donec at volutpat nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas risus dui.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque at purus et auctor. Donec eget risus vitae lacus aliquam porttitor. Morbi pellentesque fermentum ex, nec sagittis augue mollis sit amet. Pellentesque vitae metus porttitor ipsum finibus tincidunt. Praesent sit amet fringilla nisi, in porttitor eros. Vivamus iaculis mattis purus, vitae dictum felis tempor nec. Maecenas eget fermentum turpis. Fusce dignissim leo sit amet aliquet facilisis.</p>		
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-4 mb-4 text-center appear-animation" data-appear-animation="blurIn" data-plugin-options="{'minWindowWidth': 0}" data-appear-animation-delay="100">
                <div class="hover-effect-3d">
                    <a href="{% url 'sipandu:detail_fasilitas_smp' %}" class="popup-with-zoom-anim">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded">
                            <div class="thumb-info-wrapper">
                                <img src="{% static 'img/2.jpeg' %}"  class="img-fluid mb-2" alt="" />
                                
                            </div>
                        </div>
                    </a>
                </div>
                <h4 class="text-color-dark font-weight-bold line-height-1 text-5 mt-3 mb-2">Monica Doe</h4>
                <h3 class="d-block text-color-default text-uppercase font-weight-bold line-height-1 positive-ls-2 text-2 mb-3">Wordpress Dev</h3>

                <!-- Speaker Lightbox 4 -->
                <div id="speaker-content-4" class="dialog dialog-lg zoom-anim-dialog mfp-hide p-5">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 text-center">
                            <img src="{% static 'img/2.jpeg' %}"  class="img-fluid mb-2" />
                        </div>
                        <div class="col-lg-8 col-sm-8">
                            <h4 class="text-color-dark font-weight-bold line-height-1 text-5 mt-0 mb-2">Monica Doe</h4>
                            <h3 class="d-block text-color-default text-uppercase font-weight-bold line-height-1 positive-ls-2 text-2 mb-3">Wordpress Dev</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at elementum lacus. Fusce luctus urna ac mauris consequat, ac eleifend odio imperdiet. Sed euismod tempor orci, ullamcorper accumsan justo semper eu. Donec venenatis elit et euismod iaculis. Integer vehicula imperdiet metus at convallis. Donec ullamcorper at nunc lobortis ultricies. Nam tincidunt.</p>	
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet faucibus congue. Donec at volutpat nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas risus dui.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque at purus et auctor. Donec eget risus vitae lacus aliquam porttitor. Morbi pellentesque fermentum ex, nec sagittis augue mollis sit amet. Pellentesque vitae metus porttitor ipsum finibus tincidunt. Praesent sit amet fringilla nisi, in porttitor eros. Vivamus iaculis mattis purus, vitae dictum felis tempor nec. Maecenas eget fermentum turpis. Fusce dignissim leo sit amet aliquet facilisis.</p>		
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-4 mb-4 text-center appear-animation" data-appear-animation="blurIn" data-plugin-options="{'minWindowWidth': 0}" data-appear-animation-delay="300">
                <div class="hover-effect-3d">
                    <a href="{% url 'sipandu:detail_fasilitas_smp' %}" class="popup-with-zoom-anim">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded">
                            <div class="thumb-info-wrapper">
                                <img src="{% static 'img/2.jpeg' %}"  class="img-fluid mb-2" alt="" />
                                
                            </div>
                        </div>
                    </a>
                </div>
                <h4 class="text-color-dark font-weight-bold line-height-1 text-5 mt-3 mb-2">Will Doe</h4>
                <h3 class="d-block text-color-default text-uppercase font-weight-bold line-height-1 positive-ls-2 text-2 mb-3">Wordpress Dev</h3>

                <!-- Speaker Lightbox 5 -->
                <div id="speaker-content-5" class="dialog dialog-lg zoom-anim-dialog mfp-hide p-5">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 text-center">
                            <img src="{% static 'img/2.jpeg' %}"  class="img-fluid mb-2" />
                        </div>
                        <div class="col-lg-8 col-sm-8">
                            <h4 class="text-color-dark font-weight-bold line-height-1 text-5 mt-0 mb-2">Will Doe</h4>
                            <h3 class="d-block text-color-default text-uppercase font-weight-bold line-height-1 positive-ls-2 text-2 mb-3">Wordpress Dev</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at elementum lacus. Fusce luctus urna ac mauris consequat, ac eleifend odio imperdiet. Sed euismod tempor orci, ullamcorper accumsan justo semper eu. Donec venenatis elit et euismod iaculis. Integer vehicula imperdiet metus at convallis. Donec ullamcorper at nunc lobortis ultricies. Nam tincidunt.</p>	
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet faucibus congue. Donec at volutpat nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas risus dui.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque at purus et auctor. Donec eget risus vitae lacus aliquam porttitor. Morbi pellentesque fermentum ex, nec sagittis augue mollis sit amet. Pellentesque vitae metus porttitor ipsum finibus tincidunt. Praesent sit amet fringilla nisi, in porttitor eros. Vivamus iaculis mattis purus, vitae dictum felis tempor nec. Maecenas eget fermentum turpis. Fusce dignissim leo sit amet aliquet facilisis.</p>		
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-4 mb-4 text-center appear-animation" data-appear-animation="blurIn" data-plugin-options="{'minWindowWidth': 0}" data-appear-animation-delay="600">
                <div class="hover-effect-3d">
                    <a href="{% url 'sipandu:detail_fasilitas_smp' %}" class="popup-with-zoom-anim">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded">
                            <div class="thumb-info-wrapper">
                                <img src="{% static 'img/2.jpeg' %}"  class="img-fluid mb-2" alt="" />
                                
                            </div>
                        </div>
                    </a>
                </div>
                <h4 class="text-color-dark font-weight-bold line-height-1 text-5 mt-3 mb-2">Brad Doe</h4>
                <h3 class="d-block text-color-default text-uppercase font-weight-bold line-height-1 positive-ls-2 text-2 mb-3">Wordpress Dev</h3>
                <!-- Speaker Lightbox 6 -->
                <div id="speaker-content-6" class="dialog dialog-lg zoom-anim-dialog mfp-hide p-5">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 text-center">
                            <img src="{% static 'img/2.jpeg' %}"  class="img-fluid mb-2" />
                        </div>
                        <div class="col-lg-8 col-sm-8">
                            <h4 class="text-color-dark font-weight-bold line-height-1 text-5 mt-0 mb-2">Brad Doe</h4>
                            <h3 class="d-block text-color-default text-uppercase font-weight-bold line-height-1 positive-ls-2 text-2 mb-3">Wordpress Dev</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at elementum lacus. Fusce luctus urna ac mauris consequat, ac eleifend odio imperdiet. Sed euismod tempor orci, ullamcorper accumsan justo semper eu. Donec venenatis elit et euismod iaculis. Integer vehicula imperdiet metus at convallis. Donec ullamcorper at nunc lobortis ultricies. Nam tincidunt.</p>	
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet faucibus congue. Donec at volutpat nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas risus dui.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque at purus et auctor. Donec eget risus vitae lacus aliquam porttitor. Morbi pellentesque fermentum ex, nec sagittis augue mollis sit amet. Pellentesque vitae metus porttitor ipsum finibus tincidunt. Praesent sit amet fringilla nisi, in porttitor eros. Vivamus iaculis mattis purus, vitae dictum felis tempor nec. Maecenas eget fermentum turpis. Fusce dignissim leo sit amet aliquet facilisis.</p>		
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock main %}