{% extends 'layout_smp/base_layout_smp.html' %}
{% block main %}
{% load static %}

<section class="page-header page-header-modern page-header-lg" style="background-color:#0169fe;">
    <div class="container py-4">
        <div class="row">
            <div class="col text-center">
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium mb-2">
                    <h2 class="text-color-light">
                        IDENTITAS SEKOLAH
                    </h2>
                </ul>
            </div>
        </div>
    </div>
</section>

 <!-- SEJARAH SINGKAT -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <h2>
                    {{ data_sejarah.judul }}
                </h2>
                
                <p align="justify-content-start">
                    {{ data_sejarah.isi_konten|safe }}
                </p>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="{{ data_sejarah.konten_image.url}}" alt="" style="border-radius: 2px;">
            </div>
        </div>
    </div>
</section>

<!-- PERGANTIAN KEPALA SEKOLAH -->
<div class="container py-5 my-5">
    <div class="row align-items-center">
        <!-- IDENTITAS SEKOLAH -->
        <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card bg-primary border-0 border-radius-0">
                <div class="card-body p-5">
                    <h2 class="text-color-light font-weight-bold text-9 pb-2 mb-4">Identitas Sekolah</h2>
                    <div class="custom-seemore-overlay mb-4" style="max-height: 400px;">
                        <div class="custom-accordion-style-1 accordion accordion-modern" id="FAQAccordion">
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            NPSN : {{ identitas_sekolah.sekolah_npsn }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Nama Sekolah : {{ identitas_sekolah.sekolah_nama }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Jenis : {{ identitas_sekolah.sekolah_jenis.upper }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Status : {% if identitas_sekolah.sekolah_status %} Aktif {% else %} Tidak Aktif {% endif %}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Jenjang : {{ identitas_sekolah.sekolah_jenjang.jenjang_nama }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Provinsi : {{ identitas_sekolah.sekolah_provinsi.wilayah_nama }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Kabupaten : {{ identitas_sekolah.sekolah_kabupaten.wilayah_nama }} 
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title m-0">
                                        <a class="text-color-dark">
                                            Kecamatan : {{ identitas_sekolah.sekolah_kecamatan.wilayah_nama }} 
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOTO KEPALA SEKOLAH -->
        <div class="col-lg-6">
            <div class="d-flex flex-column align-items-center">
                <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
                    <img src="{{ data_kepala_sekolah.guru_image.url }}" class="img-fluid z-index-1 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="900" alt="" style="border-radius: 5px;"/>
                </div>
                <h2 class="font-weight-bold text-color-dark text-center mt-3">{{ data_kepala_sekolah.nama_guru }}</h2>
                <h5 class="text-center">{{ data_kepala_sekolah.tahun_guru }}</h5>
            </div>
        </div>
    </div>
</div>
{% endblock main %}