{% extends 'layoutsmp/base_layoutsmp.html' %}
{% block main %}
{% load static %}

<section class="page-header page-header-modern page-header-lg overlay overlay-show overlay-op-9 m-0" style="background-image: url(img/demos/law-firm-2/backgrounds/background-4.jpg); height: 300px; background-size: cover;  background-position: center;">
    <div class="container py-5">
        <div class="row">
            <div class="col text-align-center text-center">
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium " style="margin-top: 80px;">
                    <h2 class="text-color-light">
                      Identitas Sekolah
                    </h2>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <h2>
                    Sejarah Singkat Sekolah
                </h2>
                
                <p align="justify-content-start">
                    Sekolah menengah pertama (disingkat SMP) adalah jenjang pendidikan dasar pada pendidikan formal di Indonesia yang ditempuh setelah lulus sekolah dasar (atau sederajat). Sekolah menengah pertama ditempuh dalam waktu 3 tahun, mulai dari kelas 7 sampai kelas 9. Pada tahun ajaran 1994/1995 hingga 2003/2004, sekolah ini pernah disebut Sekolah Lanjutan Tingkat Pertama (SLTP).
                </p>
                <p align="justify-content-start">
                    Murid kelas 9 diwajibkan mengikuti Ujian Sekolah (dahulu diwajibkan mengikuti Ujian Nasional (dahulu bernama Ebtanas)) yang memengaruhi kelulusan siswa. Lulusan sekolah menengah pertama dapat melanjutkan pendidikan ke sekolah menengah atas atau sekolah menengah kejuruan (atau sederajat).
                </p>
                <p align="justify-content-start">
                    Pelajar sekolah menengah pertama umumnya berusia 12–15 tahun. Di Indonesia, setiap warga negara berusia 7–15 tahun wajib mengikuti pendidikan dasar, yakni sekolah dasar (atau sederajat) 6 tahun dan sekolah menengah pertama (atau sederajat) 3 tahun.
                </p>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="{% static 'img/iden.jpg' %}" alt="" style="border-radius: 2px;">
            </div>
        </div>
    </div>
</section>
<section class="section custom-bg-color-grey-1 border-0 m-0" id="courses">
        <div class="row mb-4">
            <div class="col text-center">
                <div class="overflow-hidden">
                    <h2 class="text-color-secondary font-weight-semi-bold text-6 line-height-1 mb-3-5 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">Pergantian Kepala Sekolah</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="500">
                <div class="owl-carousel owl-theme nav-style-1 nav-outside nav-font-size-lg custom-nav-secondary mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 2}, '992': {'items': 2}, '1200': {'items': 3}}, 'loop': true, 'nav': true, 'dots': false, 'margin': 20}">
                    <div>
                        <div class="card custom-card-courses border-radius-0">
                            <div class="p-relative">
                                <a href="demo-education-courses-details.html" class="text-color-secondary" title="">
                                    <img class="card-img-top border-radius-0" src="{% static 'img/home1.jpg' %}" alt="" />
                                </a>
                            </div>
                            
                            <div class="card-body">
                                <div class="card-body text-center px-2 py-3">
                                    <h2 class="card-title alternative-font-4 text-color-dark font-weight-semibold line-height-1 text-5 mb-1"> Jamal </h2>
                                    <p class="text-color-grey positive-ls-3 mb-3"> 2003 - 2008</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card custom-card-courses border-radius-0">
                            <div class="p-relative">
                                <a href="demo-education-courses-details.html" class="text-color-secondary" title="">
                                    <img class="card-img-top border-radius-0" src="{% static 'img/home1.jpg' %}" alt="" />
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="card-body text-center px-2 py-3">
                                    <h2 class="card-title alternative-font-4 text-color-dark font-weight-semibold line-height-1 text-5 mb-1"> Emiya </h2>
                                    <p class="text-color-grey positive-ls-3 mb-3"> 2009 - 2014</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card custom-card-courses border-radius-0">
                            <div class="p-relative">
                                <a href="demo-education-courses-details.html" class="text-color-secondary" title="">
                                    <img class="card-img-top border-radius-0" src="{% static 'img/home1.jpg' %}" alt="" />
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="card-body text-center px-2 py-3">
                                    <h2 class="card-title alternative-font-4 text-color-dark font-weight-semibold line-height-1 text-5 mb-1"> Ivana </h2>
                                    <p class="text-color-grey positive-ls-3 mb-3"> 2014 - 2019/p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col text-center">
            </div>
        </div>
    </div>
</section>

{% endblock main %}