{% extends 'layout/base_layout.html' %}
{% block main %}
{% load static %}

<section class="page-header page-header-modern page-header-lg overlay overlay-show overlay-op-9 m-0" style="background-image: url(img/demos/law-firm-2/backgrounds/background-4.jpg); background-size: cover; background-position: center;">
    <div class="container py-4">
        <div class="row">
            <div class="col text-center">
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium mb-2">
                    <h2 class="text-color-light">
                       STRUKTUR ORGANISASI SEKOLAH
                    </h2>
                </ul>
            </div>
        </div>
    </div>
</section>


{% endblock main %}