{% extends 'layout_smp/base_layout_smp.html' %}
{% block main %}
{% load static %}

<section class="page-header page-header-modern page-header-lg" style="background-color:#0169fe;">
    <div class="container py-4">
        <div class="row">
            <div class="col text-center">
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium mb-2">
                    <h2 class="text-color-light">
                        VISI & MISI
                    </h2>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light border-0 z-index-2 pb-0 m-0">
    <div class="container pt-3 mt-5">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-9 col-xl-8 text-center">
                <div class="overflow-hidden mb-3">
                    <h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">VISI</h3>
                </div>
                <p>{{ data_visi.isi_konten|safe}}</p>
            </div>
        </div>
        <section class="section bg-color-light border-0 position-relative py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 pt-5 pb-4">
                        <div class="text-center mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0">MISI</h3>
                        </div>
                        <div class="row process my-5">
                            {% for dt_misi in data_misi %}
                            <div class="col-lg-4 mb-4">
                                <div class="process-step mb-4">
                                    <div class="process-step-circle">
                                        <strong class="process-step-circle-content">{{ forloop.counter }}</strong>
                                    </div>
                                    <div class="process-step-content">
                                        <p class="mb-0">{{ dt_misi.isi_konten|safe }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>  
    </div>
</section>

<section class="section section-height-3 bg-gradient border-0 m-0">
    <div class="container py-1">
        <div class="col">
            <h2 class="text-color-light font-weight-bold text-9 mb-5-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">Berita Lainnya</h2>
            <div class="custom-half-carousel-style-1 carousel-half-full-width-wrapper carousel-half-full-width-right">
                <div class="owl-carousel owl-theme carousel-half-full-width-right dots-align-left dots-light custom-dots-style-1 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '768': {'items': 3}, '992': {'items': 3}, '1200': {'items': 3}}, 'loop': false, 'nav': false, 'dots': true, 'margin': 20}">
                    <!-- start -->
                    {% for dt_berita_latest in data_berita_latest %}
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="400">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3 berita-item">
                            <div class="thumb-info-wrapper rounded-0 image-container">
                                <img src="{{ dt_berita_latest.konten_image.url }}" class="img-fluid rounded-0 news-image" alt="Image of the news" />
                                <div class="thumb-info-action">
                                    <a href="{% url 'sipandu:detail' dt_berita_latest.id_data_konten %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">{{ dt_berita_latest.created_at }}</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="{% url 'sipandu:detail' dt_berita_latest.id_data_konten %}" class="text-decoration-none text-color-light opacity-hover-8">{{ dt_berita_latest.judul|title }}</a>
                        </h3>
                    </div>
                    {% endfor %}
                    <!-- end -->
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.berita-item {
    width: 100%;
    height: 100%; /* Adjust as needed */
}
.image-container {
    width: 100%;
    height: 200px; /* Set a fixed height for the images */
    overflow: hidden;
}
.news-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container without distortion */
}
</style>


{% endblock main %}