{% extends 'layout/base_layout.html' %}
{% block main %}
{% load static %}

<section class="page-header page-header-modern page-header-lg" style="background-color:#0169fe;">
    <div class="container py-4">
        <div class="row">
            <div class="col text-center">
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium mb-2">
                    <h2 class="text-color-light">EKSTRAKULIKULER</h2>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">  
        <div class="row portfolio-list sort-destination sort-destination-margin sort-destination-items-hardware-acc overflow-visible mt-4" data-sort-id="portfolio">
            {% for ekstrakulikuler in ekstrakulikuler_list %}
            <div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="classic">
                <div class="card border-0 border-radius-5 custom-box-shadow-1">
                    <div class="card-img-top">
                        <a href="{% url 'sipandu:detail_ekstrakulikuler' ekstrakulikuler.id_data_konten %}">
                            <img class="card-img-top border-radius-5 hover-effect-2" src="{{ ekstrakulikuler.konten_image.url }}" alt="Card Image">
                        </a> 
                    </div>
                    <div class="card-body bg-light p-4 z-index-1">
                        <div class="card-body p-0 text-center">
                            <h4 class="card-title alternative-font-4 font-weight-semibold text-5 mb-3">
                                <a class="text-color-dark text-color-hover-primary text-decoration-none font-weight-bold text-3" href="{% url 'sipandu:detail_ekstrakulikuler' ekstrakulikuler.id_data_konten %}">{{ ekstrakulikuler.judul }}</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock main %}
