{% extends 'layout/base_layout.html' %}
{% block main %}
{% load static %}

<section class="page-header page-header-modern page-header-lg" style="background-color:#0169fe;">
    <div class="container py-4">
        <div class="row">
            <div class="col text-center">
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium mb-2">
                    <h2 class="text-color-light">
                        EKSTRAKULIKULER
                    </h2>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="row portfolio-list sort-destination sort-destination-margin sort-destination-items-hardware-acc overflow-visible mt-4" data-sort-id="portfolio">

    <div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="classic">
        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
            <div class="portfolio-item hover-effect-1 text-center">
                <span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
                    <span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link lazyload m-0" data-bg-src="{% static '
                    logo/pramuka.jpg' %}">
                        <a href="{% url 'sipandu:detail_fasilitas' %}" target="_blank"></a>
                    </span>
                </span>
                <h5 class="text-color-dark text-capitalize mt-3">Pramuka</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="classic">
        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
            <div class="portfolio-item hover-effect-1 text-center">
                <span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
                    <span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link lazyload m-0" data-bg-src="{% static 'logo/paskibra.jpg' %}">
                        <a href="{% url 'sipandu:detail_fasilitas' %}" target="_blank"></a>
                    </span>
                </span>
                <h5 class="text-color-dark text-capitalize mt-3">Paskibra</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="classic">
        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
            <div class="portfolio-item hover-effect-1 text-center">
                <span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
                    <span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link lazyload m-0" data-bg-src="{% static 'logo/silat.jpg' %}">
                        <a href="{% url 'sipandu:detail_fasilitas' %}" target="_blank"></a>
                    </span>
                </span>
                <h5 class="text-color-dark text-capitalize mt-3">Silat</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="classic">
        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
            <div class="portfolio-item hover-effect-1 text-center">
                <span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
                    <span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link lazyload m-0" data-bg-src="{% static 'logo/olahraga.jpg' %}">
                        <a href="{% url 'sipandu:detail_fasilitas' %}" target="_blank"></a>
                    </span>
                </span>
                <h5 class="text-color-dark text-capitalize mt-3">Olahraga</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="classic">
        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
            <div class="portfolio-item hover-effect-1 text-center">
                <span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
                    <span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link lazyload m-0" data-bg-src="{% static 'logo/tari.jpg' %}">
                        <a href="{% url 'sipandu:detail_fasilitas' %}" target="_blank"></a>
                    </span>
                </span>
                <h5 class="text-color-dark text-capitalize mt-3">Tari</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="classic">
        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
            <div class="portfolio-item hover-effect-1 text-center">
                <span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
                    <span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link lazyload m-0" data-bg-src="{% static 'logo/pmr.jpg' %}">
                        <a href="{% url 'sipandu:detail_fasilitas' %}" target="_blank"></a>
                    </span>
                </span>
                <h5 class="text-color-dark text-capitalize mt-3">PMR</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="classic">
        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
            <div class="portfolio-item hover-effect-1 text-center">
                <span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
                    <span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link lazyload m-0" data-bg-src="{% static 'logo/dramband.jpg' %}">
                        <a href="{% url 'sipandu:detail_fasilitas' %}" target="_blank"></a>
                    </span>
                </span>
                <h5 class="text-color-dark text-capitalize mt-3">Dramband</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 isotope-item classic" data-sort-search="classic">
        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
            <div class="portfolio-item hover-effect-1 text-center">
                <span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg">
                    <span class="thumb-info-wrapper thumb-info-wrapper-demos thumb-info-wrapper-link lazyload m-0" data-bg-src="{% static 'logo/paduan_suara.jpg' %}">
                        <a href="{% static 'sipandu:detail_fasilitas' %}" target="_blank"></a>
                    </span>
                </span>
                <h5 class="text-color-dark text-capitalize mt-3">Paduan Suara</h5>
            </div>
        </div>
    </div>
</div>

<section class="section section-height-3 bg-gradient border-0 m-0">
    <div class="container py-1">
        <div class="col">
            <h2 class="text-color-light font-weight-bold text-9 mb-5-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">BERITA</h2>
            <div class="custom-half-carousel-style-1 carousel-half-full-width-wrapper carousel-half-full-width-right">
                <div class="owl-carousel owl-theme carousel-half-full-width-right dots-align-left dots-light custom-dots-style-1 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '768': {'items': 3}, '992': {'items': 3}, '1200': {'items': 3}}, 'loop': false, 'nav': false, 'dots': true, 'margin': 20}">
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="400">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'logo/1.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% url 'sipandu:detail' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="600">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'logo/silat.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="800">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'logo/olahraga.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'logo/tari.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'logo/paskibra.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'logo/pramuka.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock main %}