{% extends 'layout_smp/base_layout_smp.html' %}
{% block main %}
{% load static %}

 <div role="main" class="main full-height initial-height" id="main">

        <section class="page-header page-header-modern page-header-lg overlay overlay-show overlay-op-9 m-0" style="background-image: url(img/demos/law-firm-2/backgrounds/background-4.jpg); height: 300px; background-size: cover;  background-position: center;">
            <div class="container py-5">
                <div class="row">
                    <div class="col text-align-center text-center">
                        <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium " style="margin-top: 80px;">
                            <h2 class="text-color-light">
                              Kontak
                            </h2>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="row mt-4 pt-4 mb-4 pb-4">
                <div class="col-lg-4">
                    <div class="owl-carousel owl-theme nav-center custom-carousel-dots-style custom-carousel-dots-style-inside mt-1" data-plugin-options="{'items': 1, 'responsive': {'479': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'margin': 10, 'loop': false, 'dots': true, 'nav': false, 'autoplay': true, 'autoplayTimeout': 5000}">
                        {% for data in data_kontak_footer %}
                        <div>
                            <img src="{{ data.gambar.url }}" alt="Gambar {{ data.id_data_kontak }}" class="img-fluid" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
        
                <div class="col-lg-8">
                    <h5 class="mb-4">HUBUNGI KAMI</h5>
                    <div class="row">
                        {% for data in data_kontak_footer %}
                        <div class="col-lg-6">
                            <ul class="list list-icons list-icons-style-2 text-color-primary">
                                <li><i class="fas fa-map-marker-alt"></i> 
                                    <a href="{{ data.link_map }}" target="_blank">{{ data.alamat }}</a>
                                </li>
                                <li><i class="fas fa-phone"></i> 
                                    <a href="https://wa.me/{{ data.no_hp }}" target="_blank">{{ data.no_hp }}</a>
                                </li>
                                <li>
                                    <a href="mailto:{{ data.email }}"><i class="far fa-envelope"></i> {{ data.email }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list list-icons list-icons-style-2 text-color-primary">
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/{{ data.fb }}"><i class="fab fa-facebook-f"></i> Facebook</a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.twitter.com/{{ data.tw }}"><i class="fab fa-twitter"></i> Twitter</a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.instagram.com/{{ data.ig }}"><i class="fab fa-instagram"></i> Instagram</a>
                                </li>
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                {% for data in data_kontak_footer %}
                <div class="col-md-12">
                    <iframe src="{{ data.link_map }}" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                {% endfor %}
            </div>
        </div> 
</div>

  

{% endblock main %}