{% extends 'layout/base_layout.html' %}
{% block main %}
{% load static %}

<section class="page-header page-header-modern page-header-lg overlay overlay-show overlay-op-9 m-0" style="background-image: url(img/demos/law-firm-2/backgrounds/background-4.jpg); height: 300px; background-size: cover;  background-position: center;">
    <div class="container py-5">
        <div class="row">
            <div class="col text-align-center text-center">
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium " style="margin-top: 80px;">
                    <h2 class="text-color-light">
                      Prestasi
                    </h2>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="row" data-plugin-masonry data-plugin-options="{'itemSelector': '.col-lg-4'}">
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-1.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-1.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Baptism
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-2.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'logo/pramuka.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-2.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Wedding
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-3.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'logo/tari.jpg' %}"  alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-3.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Church Community
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-2.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'logo/olahraga.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-2.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Wedding
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-3.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'logo/pmr.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-3.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Church Community
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-1.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-1.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Baptism
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-1.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-1.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Baptism
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-2.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-2.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Wedding
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-3.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}"alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-3.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Church Community
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
</div>



{% endblock main %}