<div class="card">
    <div class="card-header border-bottom-0 p-4">
        <div class="page-options d-flex justify-content-end">
        </div>
    </div>
    <div class="e-table px-5 pb-5">
        <div class="table-responsive table-lg">
            <form id="deleteForm" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_data_konten" id="id_data_konten">
            </form>
            <table class="table border-top table-bordered mb-0">
                <thead>
                    <tr>
                        <th class="text-center border-bottom-0">No</th>
                        <th class="text-center border-bottom-0">Kategori</th>
                        <th class="text-center border-bottom-0">Sub Kategori</th>
                        <th class="text-center border-bottom-0">Judul</th>
                        <th class="text-center border-bottom-0">Status</th>
                        <th class="text-center border-bottom-0">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for konten in data_konten %}
                    <tr>
                        <td class="align-middle text-center">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="item-{{ dt_konten.id_data_konten }}" type="checkbox"> 
                                <label class="custom-control-label" for="item-{{ dt_konten.id_data_konten }}"></label>
                            </div>
                        </td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ dt_konten.kategori_id.kategori_uraian }}</td>
                        <td>{{ dt_konten.sub_kategori_id.sub_kategori_uraian }}</td>
                        <td>{{ dt_konten.judul }}</td>
                        <td>{{ dt_konten.status }}</td>
                        <td class="text-center align-middle">
                            <div class="btn-group align-top">
                                <button class="btn btn-sm btn-danger badge" onclick="prepareDelete('{{ dt_konten.id_data_konten }}')" type="button">Delete Sekolah</button>
                            </div>
                        </td>
                        <form id="deleteForm{{ dt_konten.id_data_konten}}" method="post" action="{% url 'delete_konten' dt_konten.id_data_sekolah %}">
                            {% csrf_token %}
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block js %}

<script>
    function deleteKonten(id_data_konten) {
        if (confirm("Apakah Anda yakin ingin menghapus pengguna ini?")) {
            window.location.href = "{% url 'sipandu_admin:delete_konten' %}?id_data_konten=" + id_data_konten;
        }
    }
</script>


