{% extends 'admin/base/base_index.html' %}
{% load static %}
{% block title %}
Master User
{% endblock %}

{% block content %}
<!-- edit_konten.html -->
<div class="app-content">
    <div class="side-app">

        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">EDIT KONTEN</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Beranda</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data / Edit Data Konten</li>
                </ol>
            </div>
        </div>

        <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Edit Data Posting Konten</h3>
                    </div>
                <div class="card-body">
<form method="post" action="{% url 'sipandu_admin:edit_konten' dt_konten.id_data_konten %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="konten_sekolah" class="form-label">Sekolah</label>
        <select class="form-select" id="konten_sekolah" data-value="{{dt_konten.konten_sekolah_id}}" name="konten_sekolah" onchange="render_kategori(this)">
            <option value="test" selected disabled>Pilih Sekolah</option>
            {% for sekolah in data_sekolah %}
            <option value="{{ sekolah.sekolah_id }}" {% if dt_konten.konten_sekolah_id == sekolah.sekolah_id %} selected {% endif %}>{{ sekolah.sekolah_nama.upper }}</option>
            {% endfor %}
        </select>
    </div> 
    <div class="mb-3">
        <label for="konten_kategori" class="form-label">Kategori</label>
        <select class="form-select" id="konten_kategori" data-value="{{dt_konten.konten_kategori.kategori_id}}" name="konten_kategori" onchange="render_sub_kategori(this)">
            <option value="" selected disabled>Pilih Kategori</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="konten_sub_kategori" class="form-label">Sub Kategori</label>
        <select class="form-select" id="konten_sub_kategori" data-value="{{dt_konten.konten_sub_kategori.sub_kategori_id}}" name="konten_sub_kategori">
            <option value="" selected disabled>Pilih Sub Kategori</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="judul" class="form-label">Judul</label>
        <input type="text" value="{{ dt_konten.judul }}" class="form-control" name="judul" required>
    </div>
    <div class="mb-3">
        <label for="status">Status</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="statusAktif" value="True" {% if dt_konten.status %}checked{% endif %}>
            <label class="form-check-label" for="statusAktif">Publish</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="statusTidakAktif" value="False" {% if not dt_konten.status %}checked{% endif %}>
            <label class="form-check-label" for="statusTidakAktif">Unpublish</label>
        </div>
    </div>

    <div class="mb-3">
        <label for="konten_tag" class="form-label">Tag</label>
        <input type="text" value="{{ dt_konten.konten_tag }}" class="form-control" id="konten_tag" name="konten_tag" required>
    </div>

    <div class="mb-3">
        <label for="konten_image" class="form-label">Image</label>
        <input type="file" class="form-control" id="konten_image" name="konten_image" accept="image/*" onchange="EditpreviewImage(event)" style="display:none;">
        <input type="text" id="edit-file-name-display" readonly class="form-control" onclick="document.getElementById('konten_image').click();" placeholder="Choose file">
    </div>
    <div id="edit-image-preview" class="mb-3" style="border: 2px dotted; text-align: center;">
        {% if dt_konten.konten_image %}
            <img src="{{ dt_konten.konten_image.url }}" alt="Gambar Konten" style="max-width: 100%;">
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header border-bottom-0">
                    <div class="card-title">
                        Isi Konten
                    </div>
                </div>
                <div class="card-body">
                    <textarea value="{{ dt_konten.isi_konten }}" id="editor" name="isi_konten" >
                        {{ dt_konten.isi_konten }}
                    </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-paper-plane"></i> Submit
        </button>
    </div> 
</form>
</div>
</div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'admin/js/ckeditor.js'%}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<script>
    let modifiedFile;

function EditpreviewImage(event) {
    var input = event.target;
    var preview = document.getElementById('edit-image-preview');
    var fileNameDisplay = document.getElementById('edit-file-name-display');

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
            // Menghapus preview thumbnail sebelumnya jika ada
            while (preview.firstChild) {
                preview.removeChild(preview.firstChild);
            }

            // Menambahkan elemen img untuk menampilkan preview thumbnail
            var img = document.createElement('img');
            img.src = e.target.result;
            img.style.maxWidth = '300px';
            img.alt = 'Preview';
            preview.appendChild(img);
        }

        reader.readAsDataURL(input.files[0]);

        // Mendapatkan informasi waktu upload
        var currentTime = new Date();
        var year = String(currentTime.getFullYear());
        var month = String(currentTime.getMonth() + 1).padStart(2, '0'); // Bulan dimulai dari 0
        var day = String(currentTime.getDate()).padStart(2, '0');
        var hours = String(currentTime.getHours()).padStart(2, '0');
        var minutes = String(currentTime.getMinutes()).padStart(2, '0');
        var seconds = String(currentTime.getSeconds()).padStart(2, '0');
        var formattedTime = `${year}-${month}-${day} at ${hours}.${minutes}.${seconds}`;
        
        // Mendapatkan nama file yang diunggah
        var file = input.files[0];
        var fileName = file.name;
        
        // Memisahkan ekstensi file
        var fileExtension = fileName.split('.').pop();
        
        // Menggabungkan nama file, waktu upload, dan ekstensi file
        var newFileName = `${fileName.split('.').slice(0, -1).join('.')}_${formattedTime}.${fileExtension}`;
        
        // Membuat file baru dengan nama yang telah diubah
        modifiedFile = new File([file], newFileName, { type: file.type });

        // Menampilkan nama file baru di elemen input teks
        fileNameDisplay.value = newFileName;
    }
}

    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
                console.log( editor );
        } )
        .catch( error => {
                console.error( error );
        } );
    
    $(function(){
        $('#konten_sekolah').trigger('change')
    })

    function render_kategori(e) {
        var sekolah = $(e).val()
        console.log(sekolah)

        $.ajax({
            url: "{% url 'sipandu_admin:get_kategori_by_sekolah' %}",
            type: "GET",
            data: {
                'sekolah_id': sekolah,
            },
            success: function(response) {
                var elem = $('#konten_kategori');
                elem.html('<option value="" selected disabled>Pilih Kategori</option>');

                response.data_kategori.forEach(function(kategori) {
                    elem.append('<option value="' + kategori.kategori_id + '">' + kategori.kategori_uraian.toUpperCase() + '</option>');
                });

                elem.val(elem.data('value')).trigger('change');
            },
            error: function(xhr, status, error) {
                console.error('Error: ' + error + ', Status: ' + status);
            }
        });
    }

    function render_sub_kategori(e) {
        var kategori = $(e).val()
        console.log(kategori)

        $.ajax({
            url: "{% url 'sipandu_admin:get_sub_kategori' %}",
            type: "GET",
            data: {
                'kategori_id': kategori,
            },
            success: function(response) {
                var elem = $('#konten_sub_kategori');
                elem.html('<option value="" selected disabled>Pilih Sub Kategori</option>');

                response.data_sub_kategori.forEach(function(sub_kategori) {
                    elem.append('<option value="' + sub_kategori.sub_kategori_id + '">' + sub_kategori.sub_kategori_uraian.toUpperCase() + '</option>');
                });

                elem.val(elem.data('value'));
            },
            error: function(xhr, status, error) {
                console.error('Error: ' + error + ', Status: ' + status);
            }
        });
    }

        
    
</script>
{% endblock %}


