{% extends 'admin/base/base_index.html' %}
{% load static %}
{% block title %}
Master User
{% endblock %}

{% block content %}

<div class="app-content">
    <div class="side-app">
        <!-- ROW-1 OPEN -->
        <div class="page-header">
            <div>
                <h1 class="page-title">DATA GALERI</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'sipandu_admin:admin_index' %}">Beranda</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'sipandu_admin:index_galeri' %}">Data</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Galeri</li>
                </ol>
            </div>
            <div class="ms-auto pageheader-btn">
                <a href="{% url 'sipandu_admin:index_galeri' %}" class="btn btn-primary btn-icon text-white me-2">
                    <span>
                        <i class="fa fa-folder"></i>
                    </span> Daftar Galeri
                </a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Edit Galeri</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'sipandu_admin:edit_galeri' dt_galeri.id_data_galeri %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table">
                            <tr>
                                <td>
                                    <label for="galeri_sekolah" class="form-label">Sekolah</label>
                                </td>
                                <td>
                                    <select class="form-select" id="galeri_sekolah" name="galeri_sekolah">
                                        <option value="test" selected disabled>Pilih Sekolah</option>
                                        {% for sekolah in data_sekolah %}
                                            <option {% if sekolah.sekolah_id == dt_galeri.galeri_sekolah.sekolah_id %} selected {% endif %} value="{{ sekolah.sekolah_id }}">{{ sekolah.sekolah_nama.upper }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="video" class="form-label">Video</label>
                                </td>
                                <td>
                                    <input type="text" value="{{ dt_galeri.video }}" class="form-control" id="video" name="video_galeri">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="image" class="form-label">Image</label>
                                </td>
                                <td>
                                    <input type="file" class="form-control" id="gambar" name="image_galeri" accept="image/*" onchange="previewImage(event)">
                                </td>
                            </tr>
                        </table>
                        <div id="image-preview" class="mb-3" style="border: 2px dotted; text-align: center;">
                            {% if dt_galeri.gambar %}
                                <img src="{{ dt_galeri.gambar.url }}" alt="Preview" style="max-width: 300px;">
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ROW-1 END -->
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'admin/js/ckeditor.js' %}"></script>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });

    function previewImage(event) {
        var input = event.target;
        var preview = document.getElementById('image-preview');
        
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                // Menghapus preview thumbnail sebelumnya jika ada
                while (preview.firstChild) {
                    preview.removeChild(preview.firstChild);
                }

                // Menambahkan elemen img untuk menampilkan preview thumbnail
                var img = document.createElement('img');
                img.src = e.target.result;
                img.style.maxWidth = '300px';
                img.alt = 'Preview';
                preview.appendChild(img);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}
