<div class="app-content">
    <div class="side-app">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">GALERI</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tema Web</li>
                </ol>
            </div>
            <div class="ms-auto pageheader-btn">
                <a href="{% url 'sipandu_admin:edit_galeri' dt_galeri.id_data_galeri %}" class="btn btn-sm btn-primary badge" data-bs-toggle="modal" data-bs-target="#editdata_{{ dt_galeri.id_data_galeri }}">Edit</a> &nbsp;

                    <span>
                        <i class="fe fe-plus"></i>
                    </span> Tambahkan Gambar
                </a>
            </div>
        </div>
        <!-- PAGE-HEADER END -->
        
        <!-- ROW-1 OPEN -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DATA TEMA</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap border-bottom w-100" id="responsive-datatable">
                                <thead>
                                    <tr>
                                        <th class="text-center border-bottom-0">No</th>
                                        <th class="text-center border-bottom-0">Tanggal</th>
                                        <th class="text-center border-bottom-0">Judul</th>
                                        <th class="text-center border-bottom-0">Gambar</th>
                                        <th class="text-center border-bottom-0">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dt_galeri in data_galeri %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ dt_galeri.created_at }}</td>
                                        <td>{{ dt_galeri.judul }}</td>
                                        <td><img src="{% if dt_galeri.galeri_thumbnail %}{{ MEDIA_URL }}{{ dt_galeri.galeri_thumbnail.url }}{% endif %}" alt="{{ dt_galeri.judul }}" style="max-width: 100px;">
                                        </td>
                                        <td class="text-center align-middle">
                                            <div class="btn-group align-top">
                                                <a href="#" class="btn btn-sm btn-primary badge" data-bs-toggle="modal" data-bs-target="#editdata_{{dt_galeri.id_data_galeri}}">Edit</a> &nbsp;
                                                <button onclick="deletegaleri('{{ dt_galeri.id_data_galeri }}')" class="btn btn-sm btn-danger badge" value='Alert with title'>Delete</button>
                                            </div>
                                        </td> 
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ROW-1 END -->
    </div>
</div>