{% extends 'admin/base/base_index.html' %}
{% load static %}

{% block title %}
Master User
{% endblock %}

{% block content %}
<!--app-content open-->
<div class="app-content">
    <div class="side-app">

        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">DATA KONTEN</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">data konten</li>
                </ol>
            </div>
            
            <div class="ms-auto pageheader-btn">
                <a href="{% url 'sipandu_admin:tambah_konten'%}" class="btn btn-primary btn-icon text-white me-2" >
                    <span>
                        <i class="fe fe-plus"></i>
                    </span> Tambahkan konten
                </a>
            </div>
        </div>
        
        <!-- PAGE-HEADER END -->

        <!-- ROW-1 OPEN -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Data Posting Konten</h3>
                    </div>
                    <div class="card-body">
                        <div class="example">
                            <table class="table table-bordered text-nowrap border-bottom w-100" id="datakontenResponsiveDatatable">
                                <thead>
                                    <tr>
                                        <th class="text-center border-bottom-0">No</th>
                                        <th class="text-center border-bottom-0">Tanggal</th>
                                        <th class="text-center border-bottom-0">Kategori</th>
                                        <th class="text-center border-bottom-0">Sub Kategori</th>
                                        <th class="text-center border-bottom-0">Judul</th>
                                        <th class="text-center border-bottom-0">Status</th>
                                        <th class="text-center border-bottom-0">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dt_konten in data_konten %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ dt_konten.created_at }}</td>
                                        <td>{{ dt_konten.konten_kategori.kategori_uraian }}</td>
                                        <td>{{ dt_konten.konten_sub_kategori.sub_kategori_uraian }}</td>
                                        <td>{{ dt_konten.judul }}</td>
                                        <td class="text-center align-middle"><span>{% if dt_konten.status == 1 %} Aktif {% else %} Tidak Aktif {% endif %}</span></td>
                                        <td class="text-center align-middle">
                                            <div class="btn-group align-top">
                                                <a href="{% url 'sipandu_admin:edit_konten' dt_konten.id_data_konten %}" class="btn btn-sm btn-primary badge">Edit</a> &nbsp;
                                                <button onclick="deleteKonten('{{ dt_konten.id_data_konten }}')" class="btn btn-sm btn-danger badge" value='Alert with title'>Delete</button>
                                            </div>
                                        </td> 
                                        <!-- <td><button type="button" class="btn btn-success"><i class="fa fa-check"></i> Aktif</button></td> --> 
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

<script>
    function deleteKonten(konten_) {
    var deleteUrl = "{% url 'sipandu_admin:delete_konten' 'id_data_konten' %}".replace("id_data_konten", konten_);

    swal({
        title: "Apakah Anda yakin?",
        text: "Anda tidak akan dapat mengembalikan data yang dihapus!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Ya, hapus!",
        cancelButtonText: "Batal",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function (isConfirm) {
        if (isConfirm) {
            $.ajax({
                url: deleteUrl,
                type: "GET",
                success: function (response) {
                    console.log('berhasil');
                    swal({
                        title: "Data berhasil dihapus!",
                        icon: "success",
                        buttons: false, // Tidak menampilkan tombol OK
                        timer: 1500 // Waktu (dalam milidetik) sebelum swal tertutup
                    });
                    window.location.reload(); // Me-refresh halaman setelah sweet alert muncul
                },
                error: function (xhr, status, error) {
                    // Terjadi kesalahan saat menghapus data
                    swal("Terjadi kesalahan saat menghapus data!", {
                        icon: "error",
                    });
                }
            });
        } else {
            // Pengguna membatalkan tindakan, tidak perlu melakukan apa pun
            swal("Tindakan dibatalkan", "", "info");
        }
    });
}
    $(function(){
        $('#datakontenResponsiveDatatable').DataTable({
		scrollX: "100%",
		language: {
			searchPlaceholder: 'Search...',
			sSearch: '',
		}
	});
    })

</script>

{% endblock %}
