{% extends 'admin/base/base_index.html' %}
{% load static %}
{% block title %}
Master User
{% endblock %}

{% block content %}
<!--app-content open-->
<div class="app-content">
    <div class="side-app">

        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">DATA KONTEN</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">data konten</li>
                </ol>
            </div>
            <div class="ms-auto pageheader-btn">
                <a href="{% url 'sipandu_admin:tambah_konten'%}" class="btn btn-primary btn-icon text-white me-2">
                    <span>
                        <i class="fe fe-plus"></i>
                    </span> Tambahkan konten
                </a>
            </div>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- ROW-1 OPEN -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Data Posting Konten</h3>
                    </div>
                    <div class="card-body">
                        <div class="example">
                            <table class="table border-top table-bordered mb-0">
                                <thead>
                                    <th>No</th>
                                    <th>Tanggal</th>
                                    <th>Kategori</th>
                                    <th>Sub Kategori</th>
                                    <th>Judul</th>
                                    <th>Status</th>
                                    <th>Aksi</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>12 februari 2024</td>
                                        <td>Profil</td>
                                        <td>Identitas Sekolah</td>
                                        <td>Sejarah Singkat</td>
                                        <td><button type="button" class="btn btn-success"><i class="fa fa-check"></i> Aktif</button></td>
                                        <td>
                                            <a href="#" class="btn btn-sm btn-primary badge" data-bs-toggle="modal" data-bs-target="#editdata_001c1dbc-156d-43ac-abfc-be2d49f3ecce"><i class="fa fa-pencil"></i> Edit</a>
                                            <a href="#" class="btn btn-sm btn-danger badge" data-bs-toggle="modal" data-bs-target="#editdata_001c1dbc-156d-43ac-abfc-be2d49f3ecce"><i class="fa fa-times"></i> Hapus</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}