{% extends 'admin/base/base_index.html' %}
{% load static %}

{% block title %}
Konten
{% endblock %}

{% block content %}
<!--app-content open-->
<div class="app-content">
    <div class="side-app">

        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">DATA KONTEN</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Beranda</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data/ Data Konten</li>
                </ol>
            </div>
            
            <div class="ms-auto pageheader-btn">
                <a href="{% url 'sipandu_admin:tambah_konten'%}" class="btn btn-primary btn-icon text-white me-2" >
                    <span>
                        <i class="fe fe-plus"></i>
                    </span> Tambahkan konten
                </a>
            </div>
        </div>
        
        <!-- PAGE-HEADER END -->
        {% csrf_token %} <!-- Penempatan token CSRF di sini -->

        <!-- ROW-1 OPEN -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Data Posting Konten</h3>
                    </div>
                    <div class="card-body">
                        <div class="example">
                            <table class="table table-bordered text-nowrap border-bottom w-100" id="datakontenResponsiveDatatable">
                                <thead>
                                    <tr>
                                        <th class="text-center border-bottom-0">No</th>
                                        <th class="text-center border-bottom-0">Tanggal</th>
                                        <th class="text-center border-bottom-0">Kategori</th>
                                        <th class="text-center border-bottom-0">Sub Kategori</th>
                                        <th class="text-center border-bottom-0">Judul</th>
                                        <th class="text-center border-bottom-0">Status</th>
                                        <th class="text-center border-bottom-0">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dt_konten in data_konten %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ dt_konten.created_at }}</td>
                                        <td>{{ dt_konten.konten_kategori.kategori_uraian }}</td>
                                        <td>{{ dt_konten.konten_sub_kategori.sub_kategori_uraian }}</td>
                                        <td>{{ dt_konten.judul }}</td>
                                        <td class="text-center align-middle">
                                            <span class="badge {% if dt_konten.status == 1 %} badge-success-light{% else %} badge-orange-light{% endif %}">
                                                {% if dt_konten.status == 1 %} Publish {% else %} Un-publish {% endif %}
                                            </span>
                                        </td>                                        
                                        <td class="text-center align-middle">
                                            <div class="btn-group align-top">
                                                <a href="{% url 'sipandu_admin:edit_konten' dt_konten.id_data_konten %}" class="btn btn-sm btn-primary badge">
                                                    <i class="fas fa-edit"></i> Edit
                                                </a>&nbsp;
                                                <button onclick="archiveKonten('{{ dt_konten.id_data_konten }}', '{{ dt_konten.created_at }}', '{{ dt_konten.konten_kategori.kategori_uraian }}', '{{ dt_konten.konten_sub_kategori.sub_kategori_uraian}}', '{{ dt_konten.judul  }}', '{{ dt_konten.status  }}')" class="btn btn-sm btn-danger badge" value="Archive">
                                                    <i class="fas fa-archive"></i> Arsip
                                                </button>  
                                            </div>
                                            
                                        </td> 
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ROW-2 OPEN -->
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Arsip Data Posting Konten</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom w-100">
                        <thead>
                            <tr>
                                <th class="text-center">No</th>
                                <th class="text-center">Tanggal</th>
                                <th class="text-center">Kategori</th>
                                <th class="text-center">Sub Kategori</th>
                                <th class="text-center">Judul</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dt_arsip in data_arsip_konten %}
                            <tr>
                                <td class="text-center align-middle">{{ forloop.counter }}</td>
                                <td class="text-center align-middle">{{ dt_arsip.created_at }}</td>
                                <td class="text-center align-middle">{{ dt_arsip.konten_kategori.kategori_uraian }}</td>
                                <td class="text-center align-middle">{{ dt_arsip.konten_sub_kategori.sub_kategori_uraian }}</td>
                                <td class="text-center align-middle">{{ dt_arsip.judul }}</td>
                                <td class="text-center align-middle">
                                    <span class="badge {% if dt_konten.status == 1 %} badge-success-light{% else %} badge-orange-light{% endif %}">
                                        {% if dt_konten.status == 1 %} Publish {% else %} Un-publish {% endif %}
                                    </span>                                    
                                </td>
                                <td class="text-center align-middle">
                                    <button type="button" class="btn btn-danger" onclick="deleteKonten('{{ dt_arsip.id_data_konten }}')">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </button>                                   
                                    <button type="button" class="btn btn-success" onclick="UnarchiveKonten('{{ dt_arsip.id_data_konten }}')">
                                        <i class="fas fa-sync-alt"></i> Restore
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-2 CLOSE -->
    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<script>
    function archiveKonten(idDataKonten, createdAt, kontenKategori, kontenSubKategori, judul, status) {
        Swal.fire({
            title: "Apakah Anda yakin?",
            text: "Anda ingin mengarsipkan data ini?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ya, arsipkan!",
            cancelButtonText: "Batal",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                var archiveUrl = "{% url 'sipandu_admin:archive_konten' 0 %}".replace('0', idDataKonten);

                $.ajax({
                    headers: { "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val() }, // Mengambil token CSRF dari input dengan nama csrfmiddlewaretoken
                    url: archiveUrl,
                    type: "POST",
                    success: function(response) {
                        Swal.fire({
                            title: "Data berhasil diarsipkan!",
                            icon: "success",
                            timer: 1500,
                            showConfirmButton: false
                        }).then(() => {
                            window.location.reload();
                        });
                    },
                    error: function(xhr, status, error) {
                        Swal.fire({
                            title: "Terjadi kesalahan saat mengarsipkan data!",
                            icon: "error",
                        });
                    }
                });
            }
        });
    }

    function deleteKonten(konten_) {
        var deleteUrl = "{% url 'sipandu_admin:delete_konten' 'id_data_konten' %}".replace("id_data_konten", konten_);

        Swal.fire({
            title: "Apakah Anda yakin?",
            text: "Anda tidak akan dapat mengembalikan data yang dihapus!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ya, hapus!",
            cancelButtonText: "Batal",
            reverseButtons: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    headers: { "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val() },
                    url: deleteUrl,
                    type: "DELETE",
                    success: function(response) {
                        console.log('berhasil');
                        Swal.fire({
                            title: "Data berhasil dihapus!",
                            icon: "success",
                            timer: 1500,
                            showConfirmButton: false
                        }).then(() => {
                            window.location.reload();
                        });
                    },
                    error: function(xhr, status, error) {
                        Swal.fire({
                            title: "Terjadi kesalahan karena data ini sedang digunakan!",
                            icon: "error",
                        });
                    }
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Tindakan dibatalkan',
                    '',
                    'info'
                );
            }
        });
    }

    function UnarchiveKonten(idDataKonten) {
    var unarchiveUrl = "{% url 'sipandu_admin:unarchive_konten' 0 %}".replace("0", idDataKonten);

    Swal.fire({
        title: "Apakah Anda yakin?",
        text: "ingin mengembalikan data yang diarsipkan!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#28a745", // Kode warna hijau yang sesuai dengan tombol Bootstrap
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, lanjutkan",
        cancelButtonText: "Batal",
        reverseButtons: true
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                headers: { "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val() },
                url: unarchiveUrl,
                type: "POST",
                success: function(response) {
                    console.log('berhasil');
                    Swal.fire({
                        title: "Data berhasil dikembalikan!",
                        icon: "success",
                        timer: 1500,
                        showConfirmButton: false
                    }).then(() => {
                        window.location.reload();
                    });
                },
                error: function(xhr, status, error) {
                    Swal.fire({
                        title: "Terjadi kesalahan karena data ini sedang digunakan!",
                        icon: "error",
                    });
                }
            });
        } else if (result.dismiss === Swal.DismissReason.cancel) {
            Swal.fire(
                'Tindakan dibatalkan',
                '',
                'info'
            );
        }
    });
}

    $(function(){
        $('#datakontenResponsiveDatatable').DataTable({
		scrollX: "100%",
		language: {
			searchPlaceholder: 'Search...',
			sSearch: '',
		}
	});
    })

</script>

{% endblock %}
