{% extends 'admin/base/base_index.html' %}
{% load static %}

{% block title %}
Master User
{% endblock %}

{% block content %}
<!--app-content open-->
<div class="app-content">
    <div class="side-app">

        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">DATA LINK</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Beranda</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data / data link</li>
                </ol>
            </div>
            
            <div class="ms-auto pageheader-btn">
                <!-- Tombol untuk membuka modal tambah data -->
                <button type="button" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#tambahModal">
                    <span><i class="fe fe-plus"></i></span> Tambahkan
                </button>
            </div>
        </div>
        
        <!-- PAGE-HEADER END -->

        <!-- Modal untuk tambah data -->
        <div class="modal fade" id="tambahModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Data</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form untuk tambah data -->
                        <form method="POST" action="{% url 'sipandu_admin:index_link' %}" >
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="link_sekolah" class="form-label">Sekolah</label>
                                <select class="form-select" id="link_sekolah" name="link_sekolah">
                                    <option value="test" selected disabled>Pilih Sekolah</option>
                                    {% for sekolah in data_sekolah %}
                                    <option value="{{sekolah.sekolah_id}}">{{sekolah.sekolah_nama.upper}}</option>
                                    {% endfor %}
                                </select>
                            </div> 
                            <div class="mb-3">
                                <label for="judul_link" class="form-label">Judul</label>
                                <input type="text" class="form-control" id="judul_link" name="judul_link" placeholder="Masukkan judul" required>
                            </div>
                            <div class="mb-3">
                                <label for="nama_link" class="form-label">Link</label>
                                <input type="text" class="form-control" id="nama_link" name="nama_link" placeholder="Masukkan link" required>
                            </div>
                            <div class="mb-3">
                                <label for="posisi_link" class="form-label">Posisi Link</label>
                                <select class="form-control" id="posisi_link" name="posisi_link"  required>
                                    <option value="">Pilih Posisi Link</option>
                                    <option value="kanan">kanan</option>
                                    <option value="kiri">kiri</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            </div>                         
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->

        <!-- ROW-1 OPEN -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Data Link</h3>
                    </div>
                    <div class="card-body">
                        <div class="example">
                            <table class="table table-bordered text-nowrap border-bottom w-100" id="datakontenResponsiveDatatable">
                                <thead>
                                    <tr>
                                        <th class="text-center border-bottom-0">NO</th>
                                        <th class="text-center border-bottom-0">TANGGAL</th>
                                        <th class="text-center border-bottom-0">NAMA SEKOLAH</th>
                                        <th class="text-center border-bottom-0">JUDUL</th>
                                        <th class="text-center border-bottom-0">LINK</th>
                                        <th class="text-center border-bottom-0">POSISI LINK</th>
                                        <th class="text-center border-bottom-0">AKSI</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dt_link in data_link %}
                                    <tr>
                                        <td class="text-center align-middle">{{ forloop.counter }}</td>
                                        <td class="text-center align-middle">{{ dt_link.created_at }}</td>
                                        <td class="text-center align-middle">{{ dt_link.link_sekolah.sekolah_nama }}</td>
                                        <td class="text-center align-middle">{{ dt_link.judul_link }}</td>
                                        <td class="text-center align-middle">{{ dt_link.nama_link }}</td>
                                        <td class="text-center align-middle">{{ dt_link.posisi_link}}</td>
                                        <td class="text-center align-middle">
                                            <div class="btn-group align-top">
                                                <a href="#" class="btn btn-sm btn-primary badge" data-bs-toggle="modal" data-bs-target="#editdata_{{dt_link.id_link}}">
                                                    <i class="fas fa-edit"></i> Edit
                                                </a>
                                                <button onclick="deleteLink('{{ dt_link.id_link }}')" class="btn btn-sm btn-danger badge" value='Alert with title'>
                                                    <i class="fas fa-trash-alt"></i> Delete
                                                </button>
                                            </div>
                                            
                                        </td> 
                                    </tr>
                                    {% include 'admin/data/edit_link.html' %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script>
    function deleteLink(link_) {
    var deleteUrl = "{% url 'sipandu_admin:delete_link' 'id_link' %}".replace("id_link", link_);

    swal({
        title: "Apakah Anda yakin?",
        text: "Anda tidak akan dapat mengembalikan data yang dihapus!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Ya, hapus!",
        cancelButtonText: "Batal",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function (isConfirm) {
        if (isConfirm) {
            $.ajax({
                url: deleteUrl,
                type: "GET",
                success: function (response) {
                    console.log('berhasil');
                    swal({
                        title: "Data berhasil dihapus!",
                        icon: "success",
                        buttons: false, // Tidak menampilkan tombol OK
                        timer: 1500 // Waktu (dalam milidetik) sebelum swal tertutup
                    });
                    window.location.reload(); // Me-refresh halaman setelah sweet alert muncul
                },
                error: function (xhr, status, error) {
                    // Terjadi kesalahan saat menghapus data
                    swal("Terjadi kesalahan saat menghapus data!", {
                        icon: "error",
                    });
                }
            });
        } else {
            // Pengguna membatalkan tindakan, tidak perlu melakukan apa pun
            swal("Tindakan dibatalkan", "", "info");
        }
    });
}
    $(function(){
        $('#datakontenResponsiveDatatable').DataTable({
		scrollX: "100%",
		language: {
			searchPlaceholder: 'Search...',
			sSearch: '',
		}
	});
    })

</script>

{% endblock %}
