{% extends 'admin/base/base_index.html' %}
{% load static %}
{% block title %}
Master User
{% endblock %}

{% block content %}
<!-- tambah_konten_form.html -->
<div class="app-content">
    <div class="side-app">

        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">DATA SLIDER</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'sipandu_admin:admin_index' %}">Beranda</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'sipandu_admin:index_slider' %}">Data</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Slider</li>
                </ol>
            </div>

            <div class="ms-auto pageheader-btn">
                <a href="{% url 'sipandu_admin:index_slider' %}" class="btn btn-primary btn-icon text-white me-2" >
                    <span>
                        <i class="fa fa-folder"></i>
                    </span> Daftar Slider
                </a>
            </div>

        </div>

        

        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tambah Slider</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'sipandu_admin:tambah_slider' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="slider_sekolah" class="form-label">Sekolah</label>
                            <select class="form-select" id="slider_sekolah" name="slider_sekolah" required>
                                <option value="" selected disabled>Pilih Sekolah</option>
                                {% for sekolah in data_sekolah %}
                                <option value="{{sekolah.sekolah_id}}">{{sekolah.sekolah_nama.upper}}</option>
                                {% endfor %}
                            </select>
                        </div> 
        
                        <div class="mb-3">
                            <label for="judul" class="form-label">Judul </label>
                            <input type="text" class="form-control" id="judul" name="judul" required>
                        </div>
                        

                        <tr>
                            <td>
                                <label for="image" class="form-label">Gambar </label>
                            </td>
                            <td>
                                <input type="file" class="form-control" id="gambar" name="image_slider1" accept="image/*" onchange="previewImage1(event)">
                            </td>
                        </tr>

                        <div class="" style="text-align: center;">
                            <div id="image-preview1" class="mb-3" style="">
                                {% if dt_slider.gambar %}
                                <img src="{{dt_slider.gambar.url}}" alt="">
                                {% endif %}
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="status">Status</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="statusAktif" value="True" checked>
                                <label class="form-check-label" for="statusAktif">Publish</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="statusTidakAktif" value="False">
                                <label class="form-check-label" for="statusTidakAktif">Unpublish</label>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i> 
                                Simpan 
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'admin/js/ckeditor.js'%}"></script>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });

    function previewImage1(event) {
        var input = event.target;
        var preview = document.getElementById('image-preview1');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                // Menghapus preview thumbnail sebelumnya jika ada
                while (preview.firstChild) {
                    preview.removeChild(preview.firstChild);
                }

                // Menambahkan elemen img untuk menampilkan preview thumbnail
                var img = document.createElement('img');
                img.src = e.target.result;
                img.style.maxWidth = '300px';
                img.alt = ' Preview';
                preview.appendChild(img);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    function previewImage2(event) {
        var input = event.target;
        var preview = document.getElementById('image-preview2');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                // Menghapus preview thumbnail sebelumnya jika ada
                while (preview.firstChild) {
                    preview.removeChild(preview.firstChild);
                }

                // Menambahkan elemen img untuk menampilkan preview thumbnail
                var img = document.createElement('img');
                img.src = e.target.result;
                img.style.maxWidth = '300px';
                img.alt = ' Preview';
                preview.appendChild(img);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    function previewImage3(event) {
        var input = event.target;
        var preview = document.getElementById('image-preview3');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                // Menghapus preview thumbnail sebelumnya jika ada
                while (preview.firstChild) {
                    preview.removeChild(preview.firstChild);
                }

                // Menambahkan elemen img untuk menampilkan preview thumbnail
                var img = document.createElement('img');
                img.src = e.target.result;
                img.style.maxWidth = '300px';
                img.alt = ' Preview';
                preview.appendChild(img);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
{% endblock %}
