{% load static %}
<footer id="footer" class="mt-0">
    <div class="container py-5 my-4">
        <div class="row gy-4">
            <div class="col-lg-2 align-self-center mb-4 mb-lg-0">
                <a href="index.html" class="text-decoration-none">
                    {% for data in data_kontak_footer %}
                    
                    <img src="{% static 'logo/logo_sekolah.png' %}" width="125" height="35" class="img-fluid" alt="Footer Logo" />
                   <h5> {{ data.kontak_sekolah.sekolah_nama }}</h5>
                    {% endfor %}
                </a>
            </div>
            <div class="col-lg-3">
                <h4 class="font-weight-bold text-color-light">Alamat</h4>
                {% for data in data_kontak_footer %}
                    
                    <p class="text-3-5"><a href="{{ data.link_map  }}" target="_blank" class="text-decoration-none">{{ data.alamat}}</a></p>
                {% endfor %}
            </div>
            
            
            <div class="col-lg-2">
                <h4 class="font-weight-bold text-color-light">Navigasi</h4>
                <ul class="list list-unstyled mb-0">
                    <li class="mb-0"><a href="{% url 'sipandu:home' %}" class="text-decoration-none text-3-5">- Beranda</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:home' %}" class="text-decoration-none text-3-5">- Profil</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:berita' %}" class="text-decoration-none text-3-5">- Berita</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:galeri' %}" class="text-decoration-none text-3-5">- Galeri</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:kontak' %}" class="text-decoration-none text-3-5">- Kontak</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h4 class="font-weight-bold text-color-light">LINK TERKAIT</h4>
                <ul class="list list-unstyled mb-0">
                    {% for data in data_link_footer %}
                    <li class="mb-0"><a href="{{data.nama_link}}" target="_blank" class="text-decoration-none text-3-5">{{data.judul_link}}</a></li>
                    {% endfor %}
                    <!-- <li class="mb-0"><a href="#" class="text-decoration-none text-3-5">- Privacy Policy</a></li> -->
                </ul>
            </div>
            <div class="col-lg-3">
                <h4 class="font-weight-bold text-color-light">Kontak</h4>
                {% for data in data_kontak_footer %}
                    <p class="text-3-5"><a href="#" target="_blank" class="text-decoration-none"><i class="fas fa-phone"></i> {{data.no_hp}}</a></p>
                    <p class="text-3-5"><a href="mailto:email@example.com" target="_blank" class="text-decoration-none"><i class="fa fa-envelope"></i> {{data.email}}</a></p>
                    <p class="text-3-5"><a href="#" target="_blank" class="text-decoration-none"><i class="fab fa-facebook-f text-4"></i> {{data.fb}}</a></p>
                    <p class="text-3-5"><a href="#" target="_blank" class="text-decoration-none"><i class="fab fa-instagram text-4"></i> {{data.ig}}</a></p>
                    
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-color-dark-scale-2">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-start mb-2 mb-lg-0">
                    <p class="text-color-grey text-3-5">RST © 2024. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>