{% load static %}
<footer id="footer" class="mt-0">
    <div class="container py-5 my-4">
        <div class="row gy-4">
            <div class="col-lg-2 align-self-center mb-4 mb-lg-0">
                <a href="index.html" class="text-decoration-none">
                    <img src="{% static 'logo/logo_sekolah.png' %}" width="125" height="35" class="img-fluid" alt="Footer Logo" />
                </a>
            </div>
            <div class="col-lg-3">
                <h4 class="font-weight-bold text-color-light">Alamat</h4>
                <p class="text-3-5">
                    Jl. Sri Rahayu Jl. H. Abdul Kahar
                     No.127, Sumodaran, Banyuraden,
                     Kec. Gamping, Kabupaten Sleman, 
                     Daerah Istimewa Yogyakarta 55293
                </p>
            </div>
            <div class="col-lg-2">
                <h4 class="font-weight-bold text-color-light">Navigasi</h4>
                <ul class="list list-unstyled mb-0">
                    <li class="mb-0"><a href="{% url 'sipandu:home' %}" class="text-decoration-none text-3-5">- Beranda</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:home' %}" class="text-decoration-none text-3-5">- Profil</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:berita' %}" class="text-decoration-none text-3-5">- Berita</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:galeri' %}" class="text-decoration-none text-3-5">- Galeri</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:kontak' %}" class="text-decoration-none text-3-5">- Kontak</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h4 class="font-weight-bold text-color-light">More</h4>
                <ul class="list list-unstyled mb-0">
                    {% for data in data_link_footer %}
                    <li class="mb-0"><a href="{{data.nama_link}}" target="_blank" class="text-decoration-none text-3-5">{{data.judul_link}}</a></li>
                    {% endfor %}
                    <!-- <li class="mb-0"><a href="#" class="text-decoration-none text-3-5">- Privacy Policy</a></li> -->
                </ul>
            </div>
            <div class="col-lg-3">
                <h4 class="font-weight-bold text-color-light">Kontak</h4>
                <ul class="list list-unstyled mb-4">
                    <li>
                        <i class="icons icon-phone text-color-primary text-5-5 position-relative top-2 me-2"></i>
                        <a href="tel:0123456789" class="text-color-light font-weight-bold text-decoration-none text-5">(800) 123-4657</a>
                    </li>
                    <li class="mb-3">
                        <i class="icons icon-envelope text-color-primary text-6 position-relative top-6 me-2"></i>
                        <a href="mailto:porto@portotheme.com" class="text-color-light text-decoration-none text-4">porto@portotheme.com</a>
                    </li>
                    <li class="text-color-light text-4">
                        <i class="icons icon-calendar text-color-primary text-5 position-relative top-3 me-2"></i>
                        Mon - Fri 9am - 6pm
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-color-dark-scale-2">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-start mb-2 mb-lg-0">
                    <p class="text-color-grey text-3-5">RST © 2024. All Rights Reserved.</p>
                </div>
                <div class="col-md-8 d-flex align-items-center justify-content-center justify-content-md-end mb-4 mb-lg-0">
                    <ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light social-icons-big">
                        <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Intagram"><i class="fab fa-instagram text-4"></i></a></li>
                        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter text-4"></i></a></li>
                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f text-4"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>