{% load static %}
<div class="header-column justify-content-end">
    <div class="header-row">
        <div class="header-nav header-nav-links header-nav-line header-nav-bottom-line header-nav-bottom-line-active-text-light header-nav-dropdowns-dark header-nav-light-text">
            <div class="header-nav-main header-nav-main-text-capitalize header-nav-main-mobile-dark header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                <nav class="collapse">
                    <ul class="nav nav-pills" id="mainNav">
                        <li>
                            <a class="nav-link active" href="{% url 'sipandu:home' %}">
                                BERANDA
                            </a>
                        </li>
                        <li class="dropdown">									
                            <a href="{% url 'sipandu:home' %}" class="nav-link">PROFIL</a>
                            <ul class="dropdown-menu border-radius-0">
                                {% for konten in nav_profil_sd %}
                                    {% if konten.sub_kategori_uraian == 'Identitas Sekolah' %}
                                    <li>
                                        <a href="{% url 'sipandu:identitas' %}" class="nav-link">Identitas Sekolah</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Visi dan Misi' %}
                                    <li>
                                        <a href="{% url 'sipandu:visi' %}" class="nav-link">Visi dan Misi</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Struktur Organisasi' %}
                                    <li>
                                        <a href="{% url 'sipandu:struktur' %}" class="nav-link">Struktur Organisasi</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Fasilitas' %}
                                    <li>
                                        <a href="{% url 'sipandu:fasilitas' %}" class="nav-link">Fasilitas</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Data GTK' %}
                                    <li>
                                        <a href="{% url 'sipandu:datagtk'  %}" class="nav-link">Data GTK</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="{% url 'sipandu:identitas'  %}" class="nav-link">Tidak ada data</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="{% url 'sipandu:home' %}" class="dropdown-item dropdown-toggle">BERITA</a>
                            <ul class="dropdown-menu border-radius-0">
                                {% for konten in nav_berita_sd %}
                                    {% if konten.sub_kategori_uraian == 'Berita' %}
                                    <li>
                                        <a href="{% url 'sipandu:berita' %}" class="nav-link">Berita</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Pengumuman' %}
                                    <li>
                                        <a href="{% url 'sipandu:pengumuman' %}" class="nav-link">Pengumuman</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Kegiatan' %}
                                    <li>
                                        <a href="{% url 'sipandu:kegiatan' %}" class="nav-link">Kegiatan</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                
                            </ul>
                          </li>  
                        <li>
                            <a class="nav-link" href="{% url 'sipandu:galeri' %}">
                               Galeri
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'sipandu:kontak' %}">
                              Kontak
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> 
        <button class="btn header-btn-collapse-nav ms-3 ms-sm-4" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</div>