{% extends 'layout_smp/base_layout_smp.html' %}
{% block main %}
{% load static %}

<div role="main" class="main">

	<!-- Slider -->
	<div class="owl-carousel-wrapper" style="height: 845px;">
		<div class="" style="height: 845px;">
			<div class="owl-carousel dots-inside dots-horizontal-center show-dots-hover show-dots-xs show-dots-sm show-dots-md nav-style-1 nav-inside nav-inside-plus nav-light nav-lg nav-font-size-lg show-nav-hover mb-0" data-plugin-options="{'responsive': {'0': {'items': 1, 'dots': true, 'nav': false}, '479': {'items': 1, 'dots': true}, '768': {'items': 1, 'dots': true}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': false, 'dotsVerticalOffset': '-235px', 'nav': true, 'navVerticalOffset': '70px', 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 7000, 'autoplayHoverPause': true, 'rewind': true}">
				<!-- Slide Carousel 1 -->
				{% for slider in sliders %}
				<div class="position-relative overlay-show overlay-op-0 overflow-hidden pt-4" data-dynamic-height="['845px','845px','845px','750px','750px']" style="height: 845px;">
					<div class="background-image-wrapper position-absolute top-0 left-0 right-0 bottom-0 slide-overlay" data-appear-animation="kenBurnsToLeft" data-appear-animation-duration="30s" data-plugin-options="{'minWindowWidth': 0}" data-carousel-onchange-show style="background-image: url({{ slider.gambar.url }}); background-size: cover; background-position: center;">
						<div class="overlay"></div> <!-- Overlay menggunakan pseudo-element ::before -->
					</div>
					<div class="container position-relative z-index-3 pb-5 h-100">
						<div class="row justify-content-center align-items-center pb-5 h-100">
							<div class="col-lg-8 text-center pb-5 mb-5">
								<h1 class="text-color-light font-weight-bold line-height-1 text-12 text-md-14 positive-ls-3 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}">{{ slider.judul }}</h1>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	<style>
		.background-image-wrapper {
			position: relative;
			z-index: 0;
		}
		.background-image-wrapper .overlay {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.3); /* Warna overlay dan tingkat transparansi (0.3 = 30%) */
			z-index: 1;
		}
		.container {
			position: relative;
			z-index: 2;
		}
	</style>
	


	<!-- Pengumuman  -->
<div class="container py-3 my-3">
    <div class="row mb-5">
        <div class="col text-center">
            <h2 class="text-transform-none text-color-dark font-weight-bold text-10 negative-ls-1 mb-2 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">PENGUMUMAN</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row py-5 my-3">
        <div class="col-sm-4">
            <img src="{{ data_pengumuman.konten_image.url }}" alt class="img-fluid" />
        </div>
        <div class="col-sm-8">
            <h1>
                {{ data_pengumuman.judul }}
            </h1>
            <p>
                {{ data_pengumuman.isi_konten|safe|truncatewords:15 }}
            </p>
            <a href="{% url 'sipandu:pengumuman' %}" class="btn btn-primary btn-sm">
                Baca Selengkapnya <span class="fa fa-arrow-right"></span></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col px-0">
            <hr class="my-0">
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col text-center appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="800" data-plugin-options="{'accY': -250}">
        <a href="{% url 'sipandu:pengumuman' %}" class="btn btn-info font-weight-bold px-5 btn-py-3"><span class="fa fa-eye"></span> Lihat Pengumuman Lainnya</a>
    </div>
</div>

<!-- Sambutan Kepala Sekolah  -->
<section class="section parallax border-0 pt-5 py-0 m-0 mb-5" data-plugin-parallax data-plugin-options="{'speed': '1.5', 'parallaxHeight': '125%', 'fadeIn': true}" data-image-src="{% static 'img/jadi.jpeg' %}">
    <div class="container">
        <div class="row gy-5 align-items-center">
            <div class="col-lg-6 text-center order-2 order-lg-1">
                <img src="{{data_sambutan.konten_image.url}}" class="img-fluid" alt="Woman testimonial from Porto Magazine company" />
            </div>
            <div class="col-lg-6 align-self-center pb-lg-5 order-1 order-lg-2 ps-5 ps-lg-0">
                <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote testimonial-quotes-light custom-testimonial-quote-position-1 mb-0" style="color: #ffffff !important;">
                    <blockquote>
                        <h2 class="text-white text-start mb-0" style="color: #ffffff;">Sambutan Kepala sekolah</h2>
                        <p class="alternative-font-4 font-weight-medium text-start text-4 text-white px-2 mb-0" style="color: #ffffff !important;" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationName': 'typeWriter', 'animationSpeed': 25}">{{data_sambutan.isi_konten|safe}}</p>
                    </blockquote>
                    <div class="testimonial-author text-start ps-3 ms-1">
                        <strong class="text-4-5 negative-ls-1 text-white" style="color: #ffffff;">{{data_sambutan.judul}}</strong>
                        <p class="text-white text-start mb-0" style="color: #ffffff;">Kepala Sekolah</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

	
	

	<!-- Kegiatan Sekolah -->
	<section class="section position-relative overflow-hidden border-0 m-0">
		<div class="container py-3 my-3">
			<div class="row mb-5">
				<div class="col text-center">
					<h2 class="text-transform-none text-color-dark font-weight-bold text-10 negative-ls-1 mb-2 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">KEGIATAN SEKOLAH</h2>
				</div>
			</div>
			<style>
				.card-img-top img {
					width: 100%; /* Gambar akan memiliki lebar 100% dari parent element (card-img-top) */
					height: auto; /* Mengatur tinggi gambar agar sesuai proporsi */
					border-radius: 0; /* Menghapus border-radius yang mungkin ada untuk memastikan gambar seragam */
				}
			</style>
			
			<div class="row row-cols-1 row-cols-md-3 pb-2 mb-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="600">
				{% for dt_kegiatan in data_kegiatan %}
				<div class="col mb-4">
					<article>
						<div class="card border-0 border-radius-0 custom-box-shadow-1">
							<div class="card-img-top">
								<a href="{% url 'sipandu:detail_kegiatan' dt_kegiatan.id_data_konten %}">
									<img class="card-img-top border-radius-0 hover-effect-2" src="{{ dt_kegiatan.konten_image.url }}" alt="Card Image">
								</a>
							</div>
							<div class="card-body bg-light p-4 z-index-1">
								<p class="text-uppercase text-color-default text-1 mb-1 pt-1">
									<time pubdate datetime="2023-01-10">{{ dt_kegiatan.created_at }}</time> 
								</p>
								<div class="card-body p-0">
									<h4 class="card-title alternative-font-4 font-weight-semibold text-5 mb-3">
										<a class="text-color-dark text-color-hover-primary text-decoration-none font-weight-bold text-3" href="demo-law-firm-2-blog-post.html">{{ dt_kegiatan.judul }}</a>
									</h4>
									<p class="card-text mb-2">{{ dt_kegiatan.isi_konten|truncatewords:5|safe }}</p>
									<a href="{% url 'sipandu:detail_kegiatan' dt_kegiatan.id_data_konten %}" class="custom-read-more-link d-inline-flex align-items-center font-weight-semibold text-3 text-decoration-none svg-fill-color-primary svg-stroke-color-primary ps-0">
										READ MORE
										<svg class="ms-2" version="1.1" viewBox="0 0 15.698 8.706" width="17" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
											<polygon stroke="#777" stroke-width="0.1" fill="#777" points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353"/>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</article>
				</div>
				{% endfor %}
			</div>
	
			<div class="row">
				<div class="col text-center appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="800" data-plugin-options="{'accY': -250}">
					<a href="{% url 'sipandu:kegiatan' %}" class="btn btn-info font-weight-bold px-5 btn-py-3"><span class="fa fa-eye"></span> Lihat Kegiatan Lainnya</a>
				</div>
			</div>
		</div>
	
		<div class="container py-2 my-2">
			<div class="row">
				<div class="col">
					<h2 class="text-color-dark font-weight-bold text-7 line-height-1 mb-3-5">Gallery</h2>
					<p class="text-4 font-weight-light">Dokumentasi dari sekolah kami</p>
				</div>
			</div>
	
			<div role="main" class="main" id="main">
				<div id="photographyLightbox" class="mfp-hide">
					<div class="thumb-gallery">
						<div class="owl-carousel owl-theme manual thumb-gallery-detail" id="thumbGalleryDetail">
							{% for d_galeri in galeri %}
							<div>
								<span class="img-thumbnail d-block">
									<img alt="Project Image" src="{{d_galeri.gambar.url}}" class="img-fluid">
								</span>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
	
				<div id="horizontalScrollBox">
					<div class="content">
						{% for d_galeri in galeri %}
						<div class="horizontal-scroll-item-wrapper">
							<div class="horizontal-scroll-item">
								<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
									<span class="thumb-info">
										<span class="thumb-info-wrapper m-0">
											<img src="{{d_galeri.gambar.url}}" class="img-fluid" alt="">
											<span class="thumb-info-plus"></span>
										</span>
									</span>
								</a>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	
		<div class="position-absolute transform3dy-n50 right-0 pe-5 me-4">
			<div class="appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="1700" data-appear-animation-duration="750ms">
				<div class="custom-square-1 bg-primary mb-5"></div>
			</div>
		</div>
	
		<div class="position-absolute transform3dy-n50 right-15 pe-5 me-5">
			<div class="appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="1500" data-appear-animation-duration="750ms">
				<div class="custom-square-1 bg-dark pe-5 me-5 mt-4 mb-5"></div>
			</div>
		</div>
	</section>
	
	
	<!-- Berita -->
	<div class="container pb-5 mb-4 pt-5">
		<div class="row">
			<div class="col text-center">
				<h2 class="text-transform-none text-color-dark font-weight-bold text-10 negative-ls-1 mb-2 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">BERITA</h2>
			</div>
			<div class="col-12">
				<div class="d-flex flex-nowrap justify-content-center">
					{% for dt_berita in data_berita %}
					<div id="teamMember{{ forloop.counter }}" class="d-flex flex-column align-items-center appear-animation mx-2 mb-4 berita-item" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">
						<div class="image-container mb-2">
							<img src="{{ dt_berita.konten_image.url }}" class="img-fluid news-image" alt="Image of the team member" />
						</div>
						<div class="content-container text-center">
							<h4 class="text-color-dark font-weight-bold line-height-1 mt-3 mb-1">{{ dt_berita.judul|truncatewords:10 }}</h4>
							<p class="text-3 mb-3-5">{{ dt_berita.isi_konten|truncatewords:10|safe }}</p>
							<a href="{% url 'sipandu:detail' dt_berita.id_data_konten %}" class="custom-read-more-link d-inline-flex align-items-center font-weight-semibold text-3 text-decoration-none svg-fill-color-dark svg-stroke-color-primary ps-0">
								Lihat Detail ...
								<svg class="ms-2" version="1.1" viewBox="0 0 15.698 8.706" width="17" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<polygon stroke="#777" stroke-width="0.1" fill="#777" points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/>
								</svg>
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="row">
					<div class="col text-center appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="800" data-plugin-options="{'accY': -250}">
						<a href="{% url 'sipandu:berita' %}" class="btn btn-info font-weight-bold px-5 btn-py-3"><span class="fa fa-eye"></span> Lihat Berita Lainnya</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<style>
	.berita-item {
		width: 300px; /* Atur lebar sesuai kebutuhan */
		height: 450px; /* Atur tinggi sesuai kebutuhan */
		border: 1px solid #ddd; /* Opsional: Untuk visualisasi batas */
		padding: 15px; /* Opsional: Untuk memberikan ruang dalam */
		box-sizing: border-box; /* Memastikan padding tidak menambah ukuran total */
	}
	.image-container {
		width: 100%;
		height: 200px; /* Atur tinggi gambar */
		overflow: hidden;
	}
	.news-image {
		width: 100%;
		height: 100%;
		object-fit: cover; /* Memastikan gambar memenuhi kontainer */
	}
	.content-container {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	</style>
{% endblock main %}
