{% extends 'layoutsmp/base_layoutsmp.html' %}
{% block main %}
{% load static %}

<section class="page-header page-header-modern page-header-lg overlay overlay-show overlay-op-9 m-0" style="background-image: url(img/demos/law-firm-2/backgrounds/background-4.jpg); height: 300px; background-size: cover;  background-position: center;">
    <div class="container py-5">
        <div class="row">
            <div class="col text-align-center text-center">
                <ul class="breadcrumb d-flex justify-content-center text-4-5 font-weight-medium " style="margin-top: 80px;">
                    <h2 class="text-color-light">
                      Ekstrakulikuler
                    </h2>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="row mt-4 mb-4 pt-0 pb-0" data-plugin-masonry data-plugin-options="{'itemSelector': '.col-lg-4'}">
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-1.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-1.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Baptism
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-2.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-2.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Wedding
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-3.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-3.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Church Community
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-2.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-2.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Wedding
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-3.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-3.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Church Community
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-1.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-1.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Baptism
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-1.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-1.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Baptism
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-2.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-2.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Wedding
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
    <div class="col-lg-4">
        <span class="thumb-info custom-thumb-info-4">
            <a data-href="ajax/demo-church-gallery-ajax-on-page-3.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                <span class="thumb-info-wrapper">
                    <img src="{% static 'img/foto.jpg' %}" alt class="img-fluid" />
                </span>
            </a>
            <span class="thumb-info-caption custom-box-shadow">
                <span class="thumb-info-caption-text">
                    <h2 class="font-weight-bold text-5 text-center">
                        <a data-href="ajax/demo-church-gallery-ajax-on-page-3.html" class="text-decoration-none custom-secondary-font text-color-dark" data-ajax-on-page>
                            Church Community
                        </a>
                    </h2>
                </span>
            </span>
        </span>
    </div>
</div>

<section class="section section-height-3 bg-gradient border-0 m-0">
    <div class="container py-1">
        <div class="col">
            <h2 class="text-color-light font-weight-bold text-9 mb-5-5 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">BERITA</h2>
            <div class="custom-half-carousel-style-1 carousel-half-full-width-wrapper carousel-half-full-width-right">
                <div class="owl-carousel owl-theme carousel-half-full-width-right dots-align-left dots-light custom-dots-style-1 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '768': {'items': 3}, '992': {'items': 3}, '1200': {'items': 3}}, 'loop': false, 'nav': false, 'dots': true, 'margin': 20}">
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="400">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/bantu1.jpeg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% url 'sipandu:detail' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="600">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/tarismp.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="800">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/bantu1.jpeg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/angklung.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'img/bantu1.jpeg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="200">
                        <div class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-icons rounded-0 mb-3">
                            <div class="thumb-info-wrapper rounded-0">
                                <img src="{% static 'logo/pramuka.jpg' %}" class="img-fluid rounded-0" alt="" />
                                <div class="thumb-info-action">
                                    <a href="{% static 'portfolio-single-wide-slider.html' %}" aria-label="">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="text-color-light font-weight-semibold text-3 opacity-7 line-height-1 mb-1">WEBSITE CREATION - 2023</h2>
                        <h3 class="text-transform-none font-weight-bold text-5-5 mb-0 pb-2">
                            <a href="#" class="text-decoration-none text-color-light opacity-hover-8">Porto Digital Agency</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}