<!-- Modal Arsip Data -->
<div class="modal fade" id="archiveDataModal" tabindex="-1" aria-labelledby="archiveDataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="archiveDataModalLabel">Arsip Data Jenjang</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom w-100">
                        <thead>
                            <tr>
                                <th class="text-center">NO</th>
                                <th class="text-center">JENJANG PENDIDIKAN</th>
                                <th class="text-center">STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center align-middle" id="archiveJenjangNo"></td>
                                <td class="text-center align-middle" id="archiveJenjangNama"></td>
                                <td class="text-center align-middle" id="archiveJenjangStatus"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times"></i> Close
                </button>
                <button type="button" class="btn btn-warning" id="confirmArchiveButton">
                    <i class="fas fa-archive"></i> Arsipkan
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Arsip Data End -->
