<!-- Modal Delete Data Sekolah -->
<div class="modal fade" id="deleteSekolahModal" tabindex="-1" aria-labelledby="deleteSekolahModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteSekolahModalLabel">Hapus Data Sekolah</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Apakah Anda yakin ingin menghapus sekolah <span id="sekolahName"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteSekolah()">Hapus</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteSekolahId;

    function setDeleteSekolahModal(sekolahId, sekolahNama) {
        deleteSekolahId = sekolahId;
        document.getElementById('sekolahName').innerText = sekolahNama;
    }

    function deleteSekolah() {
        if (deleteSekolahId) {
            window.location.href = "{% url 'sipandu_admin:delete_sekolah' %}?sekolah_id=" + deleteSekolahId;
        }
    }
</script>
