<!-- Modal Tambah Data -->
 
 <div class="modal fade" id="editdata_{{dt_wilayah.wilayah_id}}" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDataModalLabel">Edit Data wilayah</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form tambah data di sini -->
                <form method="post" action="{% url 'sipandu_admin:edit_wilayah' dt_wilayah.wilayah_id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="kode" class="form-label">Kode</label>
                        <input type="text" value="{{dt_wilayah.wilayah_kode}}" class="form-control" name="wilayah_kode" placeholder="Masukkan Kode">
                        <label for="provinsi" class="form-label">Provinsi</label>
                        <input type="text" value="{{dt_wilayah.wilayah_provinsi}}" class="form-control" name="wilayah_provinsi" placeholder="Masukkan Provinsi">
                        <label for="provinsi" class="form-label">Kabupaten</label>
                        <input type="text" value="{{dt_wilayah.wilayah_kabupaten}}" class="form-control" name="wilayah_kabupaten" placeholder="Masukkan Kabupaten">
                        <label for="provinsi" class="form-label">Distrik</label>
                        <input type="text" value="{{dt_wilayah.wilayah_distrik}}" class="form-control" name="wilayah_distrik" placeholder="Masukkan Distrik">
                        <!-- Input wilayah_status secara default -->
                    </div>
                        <div class="mb-3">
                            <label>Status</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="wilayah_status" id="statusAktif" value="True" {% if dt_jenjang.jenjang_status == "True" %} checked {% endif %}>
                                <label class="form-check-label" for="statusAktif">Aktif</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="wilayah_status" id="statusTidakAktif" value="False" {% if dt_jenjang.jenjang_status == "False" %} checked {% endif %}>
                                <label class="form-check-label" for="statusTidakAktif">Tidak Aktif</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            
            </div>
        </div>
    </div>
</div>
<!-- Modal Tambah Data End -->

                            