<!-- Modal Edit Data Sekolah -->
<div class="modal fade" id="editdata_{{dt_sekolah.sekolah_id}}" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDataModalLabel">Edit Data Sekolah</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form edit data di sini -->
                <form method="post" action="{% url 'sipandu_admin:edit_sekolah' dt_sekolah.sekolah_id %}">

                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="sekolah_provinsi" class="form-label">Provinsi</label>
                        <select class="form-select" id="sekolah_wilayah" name="wilayah_provinsi">
                            <option value="" selected disabled>Pilih Provinsi</option>
                            {% for provinsi in data_wilayah %}
                            <option value="{{ provinsi.wilayah_id }}" {% if dt_sekolah.sekolah_wilayah_id == provinsi.wilayah_provinsi %} selected {% endif %}>{{ provinsi.wilayah_provinsi.upper }}</option>
                            {% endfor %}
                        </select>
                    </div>  
                    
                    <div class="mb-3">
                        <label for="kabupaten" class="form-label">Kabupaten</label>
                        <select class="form-select" id="sekolah_provinsi" name="sekolah_provinsi">
                            <option value="" selected disabled>Pilih Kabupaten</option>
                            {% for kabupaten in data_wilayah %}
                            <option value="{{kabupaten.wilayah_id}}">{{kabupaten.wilayah_kabupaten.upper}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="distrik" class="form-label">Distrik</label>
                        <select class="form-select" id="sekolah_provinsi" name="sekolah_provinsi">
                            <option value="" selected disabled>Pilih Kabupaten</option>
                            {% for distrik in data_wilayah %}
                            <option value="{{kabupaten.wilayah_id}}">{{distrik.wilayah_distrik.upper}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="sekolah_nama" class="form-label">Nama Sekolah</label>
                        <input type="text" value="{{ dt_sekolah.sekolah_nama }}" class="form-control" name="sekolah_nama" placeholder="Masukkan Nama Sekolah">
                    </div>
                    <div class="mb-3">
                        <label for="sekolah_npsn" class="form-label">NPSN</label>
                        <input type="text" value="{{ dt_sekolah.sekolah_npsn }}" class="form-control" name="sekolah_npsn" placeholder="Nomor NPSN">
                    </div>
                    <div class="mb-3">
                        <label for="sekolah_jenis" class="form-label">Jenis Sekolah</label>
                        <select class="form-select" id="sekolah_jenis" name="sekolah_jenis">
                            <option value="negeri" {% if dt_sekolah.sekolah_jenis == 'negeri' %} selected {% endif %}>Negeri</option>
                            <option value="swasta" {% if dt_sekolah.sekolah_jenis == 'swasta' %} selected {% endif %}>Swasta</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="sekolah_jenjang" class="form-label">Jenjang</label>
                        <select class="form-select" id="sekolah_jenjang" name="sekolah_jenjang">
                            <option value="" selected disabled>Pilih jenjang</option>
                            {% for jenjang in data_jenjang %}
                            <option value="{{ jenjang.jenjang_id }}" {% if dt_sekolah.sekolah_jenjang_id == jenjang.jenjang_id %} selected {% endif %}>{{ jenjang.jenjang_nama.upper }}</option>
                            {% endfor %}
                        </select>
                    </div>            
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edit Data Sekolah End -->
