
 <!-- Modal Tambah Data -->
 
 <div class="modal fade" id="editdata_{{dt_jenjang.jenjang_id}}" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDataModalLabel">Edit Data Jenjang</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form tambah data di sini -->
                <form method="post" action="{% url 'sipandu_admin:edit_jenjang' dt_jenjang.jenjang_id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="jenjang" class="form-label">Jenjang</label>
                        <input type="text" value="{{dt_jenjang.jenjang_nama}}" class="form-control" name="jenjang_nama" placeholder="Masukkan id">
                        <!-- Input jenjang_status secara default -->
                    </div>
                    <div class="mb-3">
                        <label for="jenjang_status">Status</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jenjang_status" id="statusAktif" value="True" {% if dt_jenjang.jenjang_status %}checked{% endif %}>
                            <label class="form-check-label" for="statusAktif">Aktif</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jenjang_status" id="statusTidakAktif" value="False" {% if not dt_jenjang.jenjang_status %}checked{% endif %}>
                            <label class="form-check-label" for="statusTidakAktif">Tidak Aktif</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fas fa-times"></i> Close
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-paper-plane"></i> Submit
                        </button>
                    </div>
                </form>
            
            </div>
        </div>
    </div>
</div>
<!-- Modal Tambah Data End -->

                            