<!-- Modal Edit Data Sekolah -->
<div class="modal fade" id="editdata_{{dt_sekolah.sekolah_id}}" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDataModalLabel">Edit Data Sekolah</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form edit data di sini -->
                <form method="post" action="{% url 'sipandu_admin:edit_sekolah' dt_sekolah.sekolah_id %}">

                    {% csrf_token %}
                    <div class="mb-3" id="div_prov_edit_{{dt_sekolah.sekolah_id}}">
                        <label for="role">Provinsi</label>
                        <select name="sekolah_provinsi" id="prov_edit_{{dt_sekolah.sekolah_id}}" data-level="prov_edit" class="form-control" onchange="render_kab_edit(this)">
                            <option value="">- Pilih Provinsi -</option>
                            {% for provinsi in data_prov %}
                            <option value="{{provinsi.wilayah_id}}">{{provinsi.wilayah_nama.upper}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3" id="div_kab_edit_{{dt_sekolah.sekolah_id}}">
                        <label for="role">Kabupaten</label>
                        <select name="sekolah_kabupaten" id="kab_edit_{{dt_sekolah.sekolah_id}}" data-level="kab_edit" class="form-control" onchange="render_kab_edit(this)">
                            <option value="">- Pilih Kabupaten -</option>
                        </select>
                    </div>
                    <div class="mb-3" id="div_kec_edit_{{dt_sekolah.sekolah_id}}">
                        <label for="role">Kecamatan</label>
                        <select name="sekolah_kecamatan" id="kec_edit_{{dt_sekolah.sekolah_id}}" data-level="kec_edit" class="form-control">
                            <option value="">- Pilih Kecamatan -</option>
                            <option value="test" selected disabled>Pilih Kecamatan</option>
                        </select>
                    </div>   
                    <div class="mb-3">
                        <label for="sekolah_nama" class="form-label">Nama Sekolah</label>
                        <input type="text" value="{{ dt_sekolah.sekolah_nama }}" class="form-control" name="sekolah_nama" placeholder="Masukkan Nama Sekolah">
                    </div>
                    <div class="mb-3">
                        <label for="sekolah_npsn" class="form-label">NPSN</label>
                        <input type="text" value="{{ dt_sekolah.sekolah_npsn }}" class="form-control" name="sekolah_npsn" placeholder="Nomor NPSN">
                    </div>
                    <div class="mb-3">
                        <label for="sekolah_jenis" class="form-label">Jenis Sekolah</label>
                        <select class="form-select" id="sekolah_jenis" name="sekolah_jenis">
                            <option value="negeri" {% if dt_sekolah.sekolah_jenis == 'negeri' %} selected {% endif %}>Negeri</option>
                            <option value="swasta" {% if dt_sekolah.sekolah_jenis == 'swasta' %} selected {% endif %}>Swasta</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="sekolah_jenjang" class="form-label">Jenjang</label>
                        <select class="form-select" id="sekolah_jenjang" name="sekolah_jenjang">
                            <option value="" selected disabled>Pilih jenjang</option>
                            {% for jenjang in data_jenjang %}
                            <option value="{{ jenjang.jenjang_id }}" {% if dt_sekolah.sekolah_jenjang_id == jenjang.jenjang_id %} selected {% endif %}>{{ jenjang.jenjang_nama.upper }}</option>
                            {% endfor %}
                        </select>
                    </div>            
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edit Data Sekolah End -->

<script>
    function render_kab_edit(e) {
        var level_wilayah = $(e).data('level');

        $.ajax({
            url: "{% url 'sipandu_admin:get_wilayah_by_level' %}",
            type: "GET",
            data: {
                'level': $('#wilayah_level_edit_' + e.id.split("_").pop()).val(),
                'wilayah_id': $(e).val()
            },
            success: function(response) {
                if (level_wilayah == 'prov_edit') {
                    var elem = $(`#kab_edit_${$(e).attr('id').split("_").pop()}`);
                } else if (level_wilayah == 'kab_edit') {
                    var elem = $(`#kec_edit_${$(e).attr('id').split("_").pop()}`);
                }

                elem.html('');
                var opt_label = '<option value="">- Pilih Kabupaten -</option>';
                for (var i = 0; i < response.data_wilayah.length; i++) {
                    elem.append(`<option value="${response.data_wilayah[i]['wilayah_id']}">${response.data_wilayah[i]['wilayah_nama']}</option>`);
                }
                elem.val('');
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>
