<!-- Modal Edit Data User -->
<div class="modal fade" id="editUserModal_{{dt_user.user_id}}" tabindex="-1" aria-labelledby="editDataModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDataModalLabel">Edit Data User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form edit data di sini -->
                <form id="editWilayahForm_{{dt_user.user_id}}" method="post" action="{% url 'sipandu_admin:edit_user' dt_user.user_id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="role_edit">Level</label>
                        <select name="role_edit" id="role_edit_{{dt_user.user_id}}" class="form-control" onchange="pilih_role_edit(this)">
                            <option value="">- Pilih Role -</option>
                            {% for role_key_edit, role_display_edit in role_choices %}
                                <option value="{{ role_key_edit }}">{{ role_display_edit }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3 d-none" id="div_prov_edit_{{dt_user.user_id}}">
                        <label for="prov_edit">Provinsi</label>
                        <select name="prov_edit" id="prov_edit_{{dt_user.user_id}}" class="form-control" onchange="render_kab_edit(this)" data-role="prov_edit">
                            <option value="">- Pilih Provinsi -</option>
                            {% for provinsi_edit in prov %}
                                <option value="{{ provinsi_edit.wilayah_id }}">{{ provinsi_edit.wilayah_nama }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Tambahkan div untuk kabupaten -->
                    <div class="mb-3 d-none" id="div_kab_edit_{{dt_user.user_id}}">
                        <label for="kab_edit">Kabupaten</label>
                        <select name="kab_edit" id="kab_edit_{{dt_user.user_id}}" class="form-control" onchange="render_kab_edit(this)" data-role="kab_edit">
                            <option value="">- Pilih Kabupaten -</option>
                        </select>
                    </div>
                    <!-- Tambahkan div untuk kecamatan -->
                    <div class="mb-3 d-none" id="div_kec_edit_{{dt_user.user_id}}">
                        <label for="kec_edit">Kecamatan</label>
                        <select name="kec_edit" id="kec_edit_{{dt_user.user_id}}" class="form-control" data-role="kec_edit">
                            <option value="">- Pilih Kecamatan -</option>
                        </select>
                    </div>
                    <div class="mb-3 d-none" id="div_sekolah_edit_{{dt_user.user_id}}">
                        <label for="sekolah_edit">Sekolah</label>
                        <select name="user_sekolah_edit" id="sekolah_edit_{{dt_user.user_id}}" class="form-control" data-role="sekolah_edit">
                            <option value="">- Pilih Sekolah-</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="first_name_edit" class="form-label">Nama Depan</label>
                        <input type="text" class="form-control" id="first_name_edit_{{dt_user.user_id}}" name="first_name_edit">
                    </div>
                    <div class="mb-3">
                        <label for="last_name_edit" class="form-label">Nama Belakang</label>
                        <input type="text" class="form-control" id="last_name_edit_{{dt_user.user_id}}" name="last_name_edit">
                    </div>
                    <div class="mb-3">
                        <label for="user_status_edit" class="form-label">Status</label>
                        <select class="form-select" name="user_status_edit" aria-label="Default select example">
                            <option value="1">Aktif</option>
                            <option value="0">Tidak Aktif</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="password_edit" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password_edit_{{dt_user.user_id}}" name="password_edit">
                    </div>
                    <div class="mb-3">
                        <label for="email_edit" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email_edit_{{dt_user.user_id}}" name="email_edit">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function pilih_role_edit(e) {
        var level = $(e).val();
        var div_prov = $('#div_prov_edit_' + e.id.split("_").pop());
        var div_kab = $('#div_kab_edit_' + e.id.split("_").pop());
        var div_kec = $('#div_kec_edit_' + e.id.split("_").pop());
        var div_sekolah = $('#div_sekolah_edit_' + e.id.split("_").pop());

        if (level == 'superadmin' || level == 'admin') {
            div_prov.addClass('d-none');
            div_kab.addClass('d-none');
            div_kec.addClass('d-none');
            div_sekolah.addClass('d-none');
        } else if (level == 'admin_kabupaten') {
            div_prov.removeClass('d-none');
            div_kab.removeClass('d-none');
            div_kec.addClass('d-none');
            div_sekolah.addClass('d-none');
        } else if (level == 'admin_sekolah') {
            div_prov.removeClass('d-none');
            div_kab.removeClass('d-none');
            div_kec.removeClass('d-none');
            div_sekolah.removeClass('d-none');
        } else {
            div_prov.removeClass('d-none');
            div_kab.removeClass('d-none');
            div_kec.removeClass('d-none');
            div_sekolah.removeClass('d-none');
        }

        div_prov.trigger('change');
        div_kab.trigger('change');
        div_kec.trigger('change');
    }

    function render_kab_(e) {
        var level_wilayah = $(e).data('level');

        $.ajax({
            url: "{% url 'sipandu_admin:get_wilayah_by_level' %}",
            type: "GET",
            data: {
                'level': $('#wilayah_level').val(),
                'wilayah_id': $(e).val()
            },
            success: function(response) {
                console.log(response, level_wilayah)
                if (level_wilayah == 'prov') {
                    var elem = $('#kab')
                } else if (level_wilayah == 'kab') {
                    var elem = $('#kec')
                }

                elem.html('');
                var opt_label = '<option value="">- Pilih Kabupaten -</option>'
                for (var i = 0; i < response.data_wilayah.length; i++) {
                    elem.append(`<option value="${response.data_wilayah[i]['wilayah_id']}">${response.data_wilayah[i]['wilayah_nama']}</option>`)
                    console.log(response.data_wilayah[i]['wilayah_nama'])
                }
                elem.val('');

            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>


</script>
