{% extends 'admin/base/base_index.html' %}
{% load static %}
{% block title %}
Master User
{% endblock %}

{% block content %}
<!--app-content open-->
<div class="app-content">
    <div class="side-app">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">TEMA WEB</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tema Web</li>
                </ol>
            </div>
            <div class="ms-auto pageheader-btn">
                <!-- Tombol untuk membuka modal tambah data -->
                <button type="button" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#tambahModal">
                    <span><i class="fe fe-plus"></i></span> Tambahkan
                </button>
            </div>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- Modal untuk tambah data -->
        <div class="modal fade" id="tambahModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Data Tema</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form untuk tambah data -->
                        <form method="POST" action="{% url 'sipandu_admin:index_tema' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="nama" class="form-label">Nama Tema</label>
                                <input type="text" class="form-control" id="nama" name="tema_nama" required>
                            </div>
                            <div class="mb-3">
                                <label for="sekolah_jenjang" class="form-label">Jenjang</label>
                                <select class="form-select" id="sekolah_jenjang" name="tema_jenjang">
                                    <option value="" selected disabled>Pilih jenjang</option>
                                    {% for jenjang in data_jenjang %}
                                    <option value="{{jenjang.jenjang_id}}">{{jenjang.jenjang_nama.upper}}</option>
                                    {% endfor %}
                                </select>
                            </div>      
                            <div class="mb-3">
                                <label for="folder" class="form-label">Nama Folder</label>
                                <input type="text" class="form-control" id="folder" name="tema_folder_name" >
                            </div>
                            <div class="mb-3">
                                <label for="thumbnail" class="form-label">Thumbnail</label>
                                <input type="file" class="form-control" id="tema_thumbnail" name="tema_thumbnail" accept="image/*" onchange="previewThumbnail(event)">
                            </div>
                            <div id="thumbnail-preview" class="mb-3" style="border: 2px dotted; text-align: center;"></div> 
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->

        <!-- Container untuk menampilkan card -->
        <div class="row">
            {% for dt_tema in data_tema %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{% if dt_tema.tema_thumbnail %}{{ dt_tema.tema_thumbnail.url }}{% endif %}" class="card-img-top br-tr-7 br-tl-7" alt="{{ dt_tema.tema_nama }}">
                    <div class="card-header">
                        <h5 class="card-title">{{ dt_tema.tema_nama }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Jenjang : {{ dt_tema.tema_jenjang.jenjang_nama }}</p>
                        <p class="card-text">Nama Folder : {{ dt_tema.tema_folder_name }}</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editdata_{{ dt_tema.tema_id }}">
                            Edit
                        </button>
                        <!-- Button trigger delete confirmation -->
                        <button type="button" class="btn btn-danger" onclick="deleteTema('{{ dt_tema.tema_id }}')">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            {% include 'admin/master/edit_tema.html' %}
            {% endfor %}
        </div>
        <!-- Container untuk menampilkan card end -->
    </div>
</div>

{% endblock %}

{% block js %}

<script>
    function previewThumbnail(event) {
        var input = event.target;
        var preview = document.getElementById('thumbnail-preview');
        
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                // Menghapus preview thumbnail sebelumnya jika ada
                while (preview.firstChild) {
                    preview.removeChild(preview.firstChild);
                }

                // Menambahkan elemen img untuk menampilkan preview thumbnail
                var img = document.createElement('img');
                img.src = e.target.result;
                img.style.maxWidth = '300px';
                img.alt = 'Thumbnail Preview';
                preview.appendChild(img);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function deleteTema(tema_) {
        var deleteUrl = "{% url 'sipandu_admin:delete_tema' 'tema_id' %}".replace("tema_id",tema_);

        swal({
            title: "Apakah Anda yakin?",
            text: "Anda tidak akan dapat mengembalikan data yang dihapus!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ya, hapus!",
            cancelButtonText: "Batal",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function(isConfirm){
            if (isConfirm) {
                $.ajax({
                    headers : { "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val() },
                    url: deleteUrl,
                    type: "DELETE",
                    success: function (response) {
                    console.log('berhasil');
                    swal({
                        title: "Data berhasil dihapus!",
                        icon: "success",
                        buttons: false, 
                        timer: 1500 
                    });
                    window.location.reload(); 
                },
                    error: function (xhr, status, error) {
                        swal("Terjadi kesalahan saat menghapus data!", {
                            icon: "error",
                        });
                    }
                });
            } else {
                swal("Tindakan dibatalkan", "", "info");
            }
        });
    }

    $(function(){
        $('#temaResponsiveDatatable').DataTable({
		scrollX: "100%",
		language: {
			searchPlaceholder: 'Search...',
			sSearch: '',
		}
	});
    })

</script>

{% endblock %}

