{% extends 'admin/base/base_index.html' %}
{% load static %}
{% block title %}
Master Sekolah
{% endblock %}

{% block content %}
<div class="app-content">
    <div class="side-app">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">MASTER SEKOLAH</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Master</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Master Sekolah</li>
                </ol>
            </div>
            <div class="ms-auto pageheader-btn">
                <a href="#" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#addDataModal">
                    <span>
                        <i class="fe fe-plus"></i>
                    </span> Tambahkan Data
                </a>
            </div>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- Modal Form -->
        <div class="modal fade" id="addDataModal" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addDataModalLabel">Tambah Data Jenjang</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                        <!-- Form -->
                        <form id="addSekolahForm" method="post" action="{% url 'sipandu_admin:index_sekolah' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="prov">Provinsi</label>
                                <select name="prov" id="prov" class="form-control" onchange="getKabupaten(this)">
                                    <option value="">- Pilih Provinsi -</option>
                                    {% for provinsi in data_prov %}
                                        <option value="{{ provinsi.wilayah_id }}">{{ provinsi.wilayah_nama }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="kab">Kabupaten</label>
                                <select name="kab" id="kab" class="form-control" onchange="getKecamatan(this)">
                                    <option value="">- Pilih Kabupaten -</option>
                                    {% for kabupaten in data_wilayah  %}
                                        <option value="{{ kabupaten.wilayah_id }}">{{ kabupaten.wilayah_nama }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="kec">Kecamatan</label>
                                <select name="kec" id="kec" class="form-control">
                                    <option value="">- Pilih Kecamatan -</option>
                                    {% for kecamatan in data_wilayah %}
                                        <option value="{{ kecamatan.wilayah_id }}">{{ kecamatan.wilayah_nama }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="sekolah_nama" class="form-label">Nama Sekolah</label>
                                <input type="text" class="form-control" id="sekolah_nama" name="sekolah_nama" placeholder="Masukkan Nama Sekolah">
                            </div>
                            <div class="mb-3">
                                <label for="sekolah_npsn" class="form-label">NPSN</label>
                                <input type="text" class="form-control" id="sekolah_npsn" name="sekolah_npsn" placeholder="Nomor NPSN">
                            </div>
                            <div class="mb-3">
                                <label for="sekolah_jenis" class="form-label">Jenis</label>
                                <select class="form-select" id="sekolah_jenis" name="sekolah_jenis">
                                    <option value="" selected disabled>Pilih Jenis Sekolah</option>
                                    <option value="negeri">Negeri</option>
                                    <option value="swasta">Swasta</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="sekolah_jenjang" class="form-label">Jenjang</label>
                                <select class="form-select" id="sekolah_jenjang" name="sekolah_jenjang">
                                    <option value="" selected disabled>Pilih jenjang</option>
                                    {% for jenjang in data_jenjang %}
                                    <option value="{{jenjang.jenjang_id}}">{{jenjang.jenjang_nama.upper}}</option>
                                    {% endfor %}
                                </select>
                            </div>                           
                            <!-- Tambahkan pilihan lainnya sesuai kebutuhan -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                        <!-- End Form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ROW-1 -->
        <div class="row row-sm">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Daftar Sekolah</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap border-bottom w-100" id="responsive-datatable">
                                <thead>
                                    <tr>
                                        <th class="text-center border-bottom-0">PROVINSI</th>
                                        <th class="text-center border-bottom-0">KABUPATEN</th>
                                        <th class="text-center border-bottom-0">KECAMATAN</th>
                                        <th class="text-center border-bottom-0">NAMA SEKOLAH</th>
                                        <th class="text-center border-bottom-0">JENJANG</th>
                                        <th class="text-center border-bottom-0">NPSN</th>
                                        <th class="text-center border-bottom-0">JENIS</th>
                                        <th class="text-center border-bottom-0">STATUS</th>
                                        <th class="text-center border-bottom-0">AKSI</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dt_sekolah in data_sekolah %}
                                        <tr>
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_wilayah.wilayah_provinsi }}</td> 
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_wilayah.wilayah_kabupaten }}</td> 
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_wilayah.wilayah_distrik }}</td> 
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_nama }}</td>
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_jenjang.jenjang_nama }}</td>
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_npsn }}</td>
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_jenis }}</td>
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_status }}</td>
                                            
                                            <td class="text-center align-middle">
                                                <div class="btn-group align-top">
                                                    <a href="#" class="btn btn-sm btn-primary badge" data-bs-toggle="modal" data-bs-target="#editdata_{{dt_sekolah.sekolah_id}}">Edit</a> &nbsp;
                                                    <button onclick="deleteSekolah('{{ dt_sekolah.sekolah_id }}')" class="btn btn-sm btn-danger badge" value='Alert with title'>Delete</button>


                                                </div>
                                            </td>
                                        </tr>
                                        {% include 'admin/master/edit_sekolah.html' %}
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function getKabupaten(e) {
    var provinsi_id = $(e).val();
    var kabupatenSelect = $('#kab');

    $.ajax({
        url: "{% url 'sipandu_admin:get_wilayah' %}",
        type: "GET",
        data: {
            'level': 'kab',
            'wilayah_id': provinsi_id
        },
        success: function(response) {
            console.log(response);
            kabupatenSelect.empty().append('<option value="">- Pilih Kabupaten -</option>');
            response.data_wilayah.forEach(function(item) {
                kabupatenSelect.append($('<option>', {
                    value: item.wilayah_id,
                    text: item.wilayah_nama
                }));
            });
            kabupatenSelect.prop('disabled', false);
            getKecamatan(kabupatenSelect); 
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
}

function getKecamatan(e) {
    var kabupaten_id = $(e).val();
    var kecamatanSelect = $('#kec');

    $.ajax({
        url: "{% url 'sipandu_admin:get_wilayah' %}",
        type: "GET",
        data: {
            'level': 'kec',
            'wilayah_id': kabupaten_id
        },
        success: function(response) {
            console.log(response);
            kecamatanSelect.empty().append('<option value="">- Pilih Kecamatan -</option>');
            response.data_wilayah.forEach(function(item) {
                kecamatanSelect.append($('<option>', {
                    value: item.wilayah_id,
                    text: item.wilayah_nama
                }));
            });
            kecamatanSelect.prop('disabled', false);
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
}

function deleteSekolah(sekolah_) {
    var deleteUrl = "{% url 'sipandu_admin:delete_sekolah' 'sekolah_id' %}".replace("sekolah_id", sekolah_);

    swal({
        title: "Apakah Anda yakin?",
        text: "Anda tidak akan dapat mengembalikan data yang dihapus!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Ya, hapus!",
        cancelButtonText: "Batal",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function (isConfirm) {
        if (isConfirm) {
            $.ajax({
                headers: { "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val() },
                url: deleteUrl,
                type: "DELETE",
                success: function (response) {
                    console.log('berhasil');
                    swal({
                        title: "Data berhasil dihapus!",
                        icon: "success",
                        buttons: false, // Tidak menampilkan tombol OK
                        timer: 1500 // Waktu (dalam milidetik) sebelum swal tertutup
                    });
                    window.location.reload(); // Me-refresh halaman setelah sweet alert muncul
                },
                error: function (xhr, status, error) {
                    // Terjadi kesalahan saat menghapus data
                    swal("Terjadi kesalahan saat menghapus data!", {
                        icon: "error",
                    });
                }
            });
        } else {
            // Pengguna membatalkan tindakan, tidak perlu melakukan apa pun
            swal("Tindakan dibatalkan", "", "info");
        }
    });
}

</script>

{% endblock %}
