{% extends 'admin/base/base_index.html' %}
{% load static %}
{% block title %}
Master User
{% endblock %}

{% block content %}
<div class="app-content">
    <div class="side-app">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">MASTER USER</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Master</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Master User</li>
                </ol>
            </div>
            <div class="ms-auto pageheader-btn">
                <a href="#" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#addUserModal">
                    <span>
                        <i class="fe fe-plus"></i>
                    </span> Tambah User
                </a>
                <a href="#" class="btn btn-success btn-icon text-white">
                    <span>
                        <i class="fe fe-log-in"></i>
                    </span> Export
                </a>
            </div>
        </div>
        <!-- PAGE-HEADER END -->

       <!-- Modal Tambah Data -->
        <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addUserModalLabel">Tambah Pengguna Baru</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form Tambah Data disini -->
                        <form id="addUserForm" method="post" action="{% url 'sipandu_admin:index_user' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="role">Level</label>
                                <select name="role" id="role" class="form-control" onchange="pilih_role(this)">
                                    <option value="">- Pilih Role -</option>
                                    {% for role_key, role_display in role_choices %}
                                        <option value="{{ role_key }}">{{ role_display }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3 d-none" id="div_prov">
                                <label for="prov">Provinsi</label>
                                <select name="prov" id="prov" class="form-control" onchange="render_kab(this)" data-level="prov">
                                    <option value="">- Pilih Provinsi -</option>
                                    {% for provinsi in prov %}
                                        <option value="{{ provinsi.wilayah_id }}">{{ provinsi.wilayah_nama }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Tambahkan div untuk kabupaten -->
                            <div class="mb-3 d-none" id="div_kab">
                                <label for="kab">Kabupaten</label>
                                <select name="kab" id="kab" class="form-control" onchange="render_kab(this)" data-level="kab">
                                    <option value="">- Pilih Kabupaten -</option>
                                    {% for level_key, level_display in wilayah_level %}
                                        <option value="{{ level_key }}">{{ level_display }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Tambahkan div untuk kecamatan -->
                            <div class="mb-3 d-none" id="div_kec">
                                <label for="kec">Kecamatan</label>
                                <select name="kec" id="kec" class="form-control" data-level="kec">
                                    <option value="">- Pilih Kecamatan -</option>
                                </select>
                            </div>
                            <!-- Tambahkan div untuk sekolah -->
                            <div class="mb-3 d-none" id="div_sekolah">
                                <label for="sekolah">Sekolah</label>
                                <select name="sekolah" id="sekolah" class="form-control" data-level="sekolah">
                                    <option value="">- Pilih Sekolah-</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="first_name" class="form-label">Nama Depan</label>
                                <input type="text" class="form-control" id="user_first_name" name="first_name">
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Nama Belakang</label>
                                <input type="text" class="form-control" id="user_last_name" name="last_name">
                            </div>
                            <!-- Ubah id dan name sesuai -->
                            <div class="mb-3">
                                <input type="hidden" name="user_status" value="1">
                               
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="user_email" name="email">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal tambah data end -->


        <!-- ROW-1 -->
        <div class="row row-sm">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Daftar User</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap border-bottom w-100" id="responsive-datatable">
                                <thead>
                                    <tr>
                                        <th class="text-center border-bottom-0">USER</th>
                                        <th class="text-center border-bottom-0">ROLE</th>
                                        <th class="text-center border-bottom-0">LOGIN TERAKHIR</th>
                                        <th class="text-center border-bottom-0">STATUS</th>
                                        <th class="text-center border-bottom-0">EMAIL</th>
                                        <th class="text-center border-bottom-0">AKSI</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dt_user in data_user %}
                                        <tr>
                                            <td class="text-center align-middle">{{ dt_user.user_first_name }}</td>
                                            <td class="text-center align-middle">{{ dt_user.user_role }}</td>
                                            <td class="text-center align-middle">{{ dt_user.user_last_login }}</td>
                                            <td class="text-center align-middle"><span>{% if dt_user.user_status == 1 %} Aktif {% else %} Tidak Aktif {% endif %}</span></td>
                                            <td class="text-center align-middle">{{ dt_user.user_email }}</td>
                                            <td class="text-center align-middle">
                                                <div class="btn-group align-top">
                                                    <a href="#" class="btn btn-sm btn-primary badge" data-bs-toggle="modal" data-bs-target="#editUserModal_{{dt_user.user_id}}">Edit</a>&nbsp;
                                                    <button onclick="deleteUser('{{ dt_user.user_id }}')" class="btn btn-sm btn-danger badge" value='Alert with title'>Delete</button>
                                                </div>
                                            </td>
                                        </tr>

                                        {% include 'admin/master/edit_user.html'%}
                                        {% endfor %}
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <ul class="pagination float-end">
                        <li class="page-item page-prev disabled">
                            <a class="page-link" href="#" tabindex="-1">Prev</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item page-next">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function deleteUser(user_) {
    var deleteUrl = "{% url 'sipandu_admin:delete_user' 'user_id' %}".replace("user_id", user_);

    swal({
        title: "Apakah Anda yakin?",
        text: "Anda tidak akan dapat mengembalikan data yang dihapus!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Ya, hapus!",
        cancelButtonText: "Batal",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function (isConfirm) {
        if (isConfirm) {
            $.ajax({
                headers: { "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val() },
                url: deleteUrl,
                type: "DELETE",
                success: function (response) {
                    console.log('berhasil');
                    swal({
                        title: "Data berhasil dihapus!",
                        icon: "success",
                        buttons: false, // Tidak menampilkan tombol OK
                        timer: 1500 // Waktu (dalam milidetik) sebelum swal tertutup
                    });
                    window.location.reload(); // Me-refresh halaman setelah sweet alert muncul
                },
                error: function (xhr, status, error) {
                    // Terjadi kesalahan saat menghapus data
                    swal("Terjadi kesalahan saat menghapus data!", {
                        icon: "error",
                    });
                }
            });
        } else {
            // Pengguna membatalkan tindakan, tidak perlu melakukan apa pun
            swal("Tindakan dibatalkan", "", "info");
        }
    });
}

function pilih_role(e) {
    var level = $(e).val();
    var div_prov = $('#div_prov');
    var div_kab = $('#div_kab');
    var div_kec = $('#div_kec');
    var div_sekolah = $('#div_sekolah');

    if (level == 'superadmin' || level == 'admin') {
        div_prov.addClass('d-none');
        div_kab.addClass('d-none');
        div_kec.addClass('d-none');
        div_sekolah.addClass('d-none');
    } else if (level == 'admin_kabupaten') {
        div_prov.removeClass('d-none');
        div_kab.removeClass('d-none');
        div_kec.addClass('d-none');
        div_sekolah.addClass('d-none');
    } else if (level == 'admin_sekolah') {
        div_prov.removeClass('d-none');
        div_kab.removeClass('d-none');
        div_kec.removeClass('d-none');
        div_sekolah.removeClass('d-none');
    } else {
        div_prov.removeClass('d-none');
        div_kab.removeClass('d-none');
        div_kec.removeClass('d-none');
        div_sekolah.removeClass('d-none');
    }

    $('#prov').trigger('change');
    $('#kab').trigger('change');
    $('#kec').trigger('change');
    $('#sekolah').trigger('change');
}


    function render_kab(e) {
        var level_wilayah = $(e).data('level');

        $.ajax({
            url: "{% url 'sipandu_admin:get_wilayah_by_level' %}",
            type: "GET",
            data: {
                'level': $('#wilayah_level').val(),
                'wilayah_id': $(e).val()
            },
            success: function(response) {
                console.log(response, level_wilayah)
                if (level_wilayah == 'prov') {
                    var elem = $('#kab')
                } else if (level_wilayah == 'kab') {
                    var elem = $('#kec')
                }

                elem.html('');
                var opt_label = '<option value="">- Pilih Kabupaten -</option>'
                for (var i = 0; i < response.data_wilayah.length; i++) {
                    elem.append(`<option value="${response.data_wilayah[i]['wilayah_id']}">${response.data_wilayah[i]['wilayah_nama']}</option>`)
                    console.log(response.data_wilayah[i]['wilayah_nama'])
                }
                elem.val('');

            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>

{% endblock %}
