{% extends 'admin/base/base_index.html' %}
{% load static %}
{% block title %}
Master User
{% endblock %}

{% block content %}
<div class="app-content">
    <div class="side-app">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">JENJANG</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Beranda</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Master Data/Jenjang</li>
                </ol>
            </div>
            <div class="ms-auto pageheader-btn">
                <a href="#" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#addDataModal">
                    <span>
                        <i class="fe fe-plus"></i>
                    </span> Tambahkan Data
                </a>
                <button class="btn btn-secondary btn-icon text-white" onclick="openArchiveModal()">
                    <span>
                        <i class="fas fa-archive"></i>
                    </span> Arsip Data
                </button>
            </div>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- Modal Tambah Data -->
        <div class="modal fade" id="addDataModal" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addDataModalLabel">Tambah Data Jenjang</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'sipandu_admin:index_jenjang' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="jenjang" class="form-label">Jenjang</label>
                                <input type="text" class="form-control" id="jenjang_nama" name="jenjang_nama" placeholder="Masukkan Nama Jenjang" required>
                                <input type="hidden" name="jenjang_status" id="jenjang_status" value="1">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    <i class="fas fa-times"></i> Close
                                </button>
                                <button type="button" class="btn btn-primary" onclick="submitForm()">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Tambah Data End -->

<!-- Modal Arsip Data -->
<div class="modal fade" id="archiveDataModal" tabindex="-1" aria-labelledby="archiveDataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="archiveDataModalLabel">Arsip Data Jenjang</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom w-100">
                        <thead>
                            <tr>
                                <th class="text-center">NO</th>
                                <th class="text-center">JENJANG PENDIDIKAN</th>
                                <th class="text-center">STATUS</th>
                                <th class="text-center">AKSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dt_arsip in data_arsip %}
                            <tr>
                                <td class="text-center align-middle">{{ forloop.counter }}</td>
                                <td class="text-center align-middle">{{ dt_arsip.jenjang_nama }}</td>
                                <td class="text-center align-middle">
                                    <span class="badge {% if dt_arsip.jenjang_status == 1 %} badge-success-light {% else %} badge-orange-light{% endif %}">
                                        {% if dt_arsip.jenjang_status == 1 %} Aktif {% else %} Tidak Aktif {% endif %}
                                    </span>
                                </td>
                                <td class="text-center align-middle">
                                    <button type="button" class="btn btn-danger" onclick="deleteJenjang('{{ dt_arsip.jenjang_id }}')">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </button>                                   
                                    <button type="button" class="btn btn-success" onclick="confirmUnarchive('{{ dt_arsip.jenjang_id }}')">
                                        <i class="fas fa-sync-alt"></i> Restore
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Arsip Data End -->


        <!-- ROW OPEN -->
        <div class="row row-cards">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header border-bottom-0 p-4">
                        <div class="page-options d-flex float-end"></div>
                    </div>
                    <div class="e-table px-5 pb-5">
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap border-bottom w-100" id="jenjangResponsiveDatatable">
                                <thead>
                                    <tr>
                                        <th class="text-center">NO</th>
                                        <th class="text-center">JENJANG PENDIDIKAN</th>
                                        <th class="text-center">STATUS</th>
                                        <th class="text-center">AKSI</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dt_jenjang in data_jenjang %}
                                        <tr>
                                            <td class="text-center align-middle">{{ forloop.counter }}</td>
                                            <td class="text-center align-middle">{{ dt_jenjang.jenjang_nama }}</td>
                                            <td class="text-center align-middle">
                                                <span class="badge {% if dt_jenjang.jenjang_status == 1 %}badge-success-light{% else %}badge-orange-light{% endif %}">
                                                    {% if dt_jenjang.jenjang_status == 1 %} Aktif {% else %} Tidak Aktif {% endif %}
                                                </span>
                                            </td>
                                            <td class="text-center align-middle">
                                                <div class="btn-group align-top">
                                                    <a href="#" class="btn btn-sm btn-primary badge" data-bs-toggle="modal" data-bs-target="#editdata_{{ dt_jenjang.jenjang_id }}">
                                                        <i class="fas fa-edit"></i> Edit
                                                    </a>&nbsp;
                                                    <button onclick="archiveJenjang('{{ dt_jenjang.jenjang_id }}', '{{ dt_jenjang.jenjang_nama }}', '{{ dt_jenjang.jenjang_status }}')" class="btn btn-sm btn-danger badge" value="Archive">
                                                        <i class="fas fa-archive"></i> Arsip
                                                    </button>                                                    
                                                </div>
                                            </td>
                                        </tr>
                                        {% include 'admin/master/edit_jenjang.html' %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script>
    function openArchiveModal() {
    $('#archiveDataModal').modal('show');
}

    function archiveJenjang(jenjangId, jenjangNama, jenjangStatus) {
        Swal.fire({
            title: "Apakah Anda yakin?",
            text: "Anda ingin mengarsipkan data ini?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ya, arsipkan!",
            cancelButtonText: "Batal",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                var archiveUrl = "{% url 'sipandu_admin:archive_jenjang' 0 %}".replace('0', jenjangId);

                $.ajax({
                    headers: { "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val() },
                    url: archiveUrl,
                    type: "POST",
                    success: function(response) {
                        Swal.fire({
                            title: "Data berhasil diarsipkan!",
                            icon: "success",
                            timer: 1500,
                            showConfirmButton: false
                        }).then(() => {
                            window.location.reload();
                            $('#archiveDataModal').modal('show');
                        });
                    },
                    error: function(xhr, status, error) {
                        Swal.fire({
                            title: "Terjadi kesalahan saat mengarsipkan data!",
                            icon: "error",
                        });
                    }
                });
            }
        });
    }

    function submitForm() {
    // Mengambil nilai input dari formulir
    var jenjangNama = document.getElementById("jenjang_nama").value.trim();
    var jenjangStatus = document.getElementById("jenjang_status").value;

    // Periksa apakah input kosong
    if (jenjangNama === "") {
        // Tampilkan pesan error jika input kosong
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Jenjang harus diisi!'
        });
        return false; // Menghentikan proses submit
    }

    // Mengirim data ke server menggunakan Ajax
    $.ajax({
        url: "{% url 'sipandu_admin:index_jenjang' %}",
        type: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            jenjang_nama: jenjangNama,
            jenjang_status: jenjangStatus
        },
        success: function(response) {
            // Handle response dari server
            // Misalnya, tampilkan notifikasi atau muat ulang halaman
            console.log(response);
            $('#addDataModal').modal('hide'); // Tutup modal setelah berhasil
            Swal.fire({
                icon: 'success',
                title: 'Sukses!',
                text: 'Data berhasil diinput.'
            });
            setTimeout(function() {
                // Redirect ke halaman yang sama setelah 2 detik
                window.location.href = window.location.href;
            }, 2000);
        },
        error: function(xhr, status, error) {
            // Handle error jika terjadi kesalahan saat mengirimkan data
            console.error("Terjadi kesalahan:", error);
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Jenjang sudah terinput sebelumnya!'
            });
        }
    });
}


    function deleteJenjang(jenjang_) {
        var deleteUrl = "{% url 'sipandu_admin:delete_jenjang' 'jenjang_id' %}".replace("jenjang_id", jenjang_);

        Swal.fire({
            title: "Apakah Anda yakin?",
            text: "Anda tidak akan dapat mengembalikan data yang dihapus!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ya, hapus!",
            cancelButtonText: "Batal",
            reverseButtons: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    headers: { "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val() },
                    url: deleteUrl,
                    type: "DELETE",
                    success: function(response) {
                        console.log('berhasil');
                        Swal.fire({
                            title: "Data berhasil dihapus!",
                            icon: "success",
                            timer: 1500,
                            showConfirmButton: false
                        }).then(() => {
                            window.location.reload();
                        });
                    },
                    error: function(xhr, status, error) {
                        Swal.fire({
                            title: "Terjadi kesalahan karena data ini sedang digunakan!",
                            icon: "error",
                        });
                    }
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Tindakan dibatalkan',
                    '',
                    'info'
                );
            }
        });
    }

    function confirmUnarchive(jenjangId) {
    var unarchiveUrl = "{% url 'sipandu_admin:unarchive_jenjang' 0 %}".replace("0", jenjangId);

    Swal.fire({
        title: "Apakah Anda yakin?",
        text: "ingin mengembalikan data yang diarsipkan!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#28a745", // Kode warna hijau yang sesuai dengan tombol Bootstrap
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, lanjutkan",
        cancelButtonText: "Batal",
        reverseButtons: true
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                headers: { "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val() },
                url: unarchiveUrl,
                type: "POST",
                success: function(response) {
                    console.log('berhasil');
                    Swal.fire({
                        title: "Data berhasil dikembalikan!",
                        icon: "success",
                        timer: 1500,
                        showConfirmButton: false
                    }).then(() => {
                        window.location.reload();
                    });
                },
                error: function(xhr, status, error) {
                    Swal.fire({
                        title: "Terjadi kesalahan karena data ini sedang digunakan!",
                        icon: "error",
                    });
                }
            });
        } else if (result.dismiss === Swal.DismissReason.cancel) {
            Swal.fire(
                'Tindakan dibatalkan',
                '',
                'info'
            );
        }
    });
}
    $(function() {
        $('#jenjangResponsiveDatatable').DataTable({
            scrollX: "100%",
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
            }
        });
    });
</script>
{% endblock %}
