{% extends 'admin/base/base_index.html' %}
{% load static %}
{% block title %}
Master User
{% endblock %}

{% block content %}

<div class="app-content">
    <div class="side-app">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">JENJANG</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Jenjang</li>
                </ol>
            </div>
            <div class="ms-auto pageheader-btn">
                <a href="#" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#addDataModal">
                    <span>
                        <i class="fe fe-plus"></i>
                    </span> Tambahkan Data
                </a>
            </div>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- Modal Tambah Data -->
 
         <div class="modal fade" id="addDataModal" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addDataModalLabel">Tambah Data Jenjang</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form tambah data di sini -->
                        <form method="post" action="{% url 'sipandu_admin:index_jenjang' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="jenjang" class="form-label">Jenjang</label>
                                <input type="text" class="form-control" name="jenjang_nama" placeholder="Masukkan Status Jenjang">
                                <!-- Input jenjang_status secara default -->
                                <input type="hidden" name="jenjang_status" value="True">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Tambah Data End -->

        <!-- ROW OPEN -->
        <div class="row row-cards">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header border-bottom-0 p-4">
                        <div class="page-options d-flex float-end">
                        </div>
                    </div>
                    <div class="e-table px-5 pb-5">
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap border-bottom w-100" id="jenjangResponsiveDatatable">
                                <thead>
                                    <tr>
                                        <th class="text-center">NO</th>
                                        <th class="text-center">JENJANG PENDIDIKAN</th>
                                        <th class="text-center">STATUS</th>
                                        <th class="text-center">AKSI</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dt_jenjang in data_jenjang %}
                                        <!-- Iterasi melalui setiap objek dt_jenjang -->
                                        <tr>
                                            <td class="text-center align-middle">{{ forloop.counter }}</td>
                                            <td class="text-center align-middle">{{ dt_jenjang.jenjang_nama }}</td>
                                            <td class="text-center align-middle"><span>{% if dt_jenjang.jenjang_status == 1 %} Aktif {% else %} Tidak Aktif {% endif %}</span></td>
                                            <td class="text-center align-middle">
                                                <div class="btn-group align-top">
                                                    <!-- Tombol edit -->
                                                    <a href="#" class="btn btn-sm btn-primary badge" data-bs-toggle="modal" data-bs-target="#editdata_{{dt_jenjang.jenjang_id}}">Edit</a> &nbsp;
                                                    <!-- Tombol delete -->
                                                    <button onclick="deleteJenjang('{{ dt_jenjang.jenjang_id }}')" class="btn btn-sm btn-danger badge" value='Alert with title'>Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                        {% include 'admin/master/edit_jenjang.html'%}
                                    {% endfor %}


                            
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert@1"></script>
<script>
    function deleteJenjang(jenjang_) {
    var deleteUrl = "{% url 'sipandu_admin:delete_jenjang' 'jenjang_id' %}".replace("jenjang_id", jenjang_);

    swal({
        title: "Apakah Anda yakin?",
        text: "Anda tidak akan dapat mengembalikan data yang dihapus!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Ya, hapus!",
        cancelButtonText: "Batal",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function (isConfirm) {
        if (isConfirm) {
            $.ajax({
                headers: { "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val() },
                url: deleteUrl,
                type: "DELETE",
                success: function (response) {
                    console.log('berhasil');
                    swal({
                        title: "Data berhasil dihapus!",
                        icon: "success",
                        buttons: false, 
                        timer: 1500 
                    });
                    window.location.reload(); 
                },
                error: function (xhr, status, error) {
                    swal("Terjadi kesalahan saat menghapus data!", {
                        icon: "error",
                    });
                }
            });
        } else {
            // Pengguna membatalkan tindakan, tidak perlu melakukan apa pun
            swal("Tindakan dibatalkan", "", "info");
        }
    });
}
    $(function(){
        $('#jenjangResponsiveDatatable').DataTable({
		scrollX: "100%",
		language: {
			searchPlaceholder: 'Search...',
			sSearch: '',
		}
	});
    })

</script>

{% endblock %}
