{% extends 'admin/base/base_index.html' %}
{% load static %}
{% block title %}
Master Sekolah
{% endblock %}

{% block content %}
<div class="app-content">
    <div class="side-app">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">MASTER SEKOLAH</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Master</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Master Sekolah</li>
                </ol>
            </div>
            <div class="ms-auto pageheader-btn">
                <a href="#" class="btn btn-primary btn-icon text-white me-2">
                    <span>
                        <i class="fe fe-plus"></i>
                    </span> Data Sekolah
                </a>
                <a href="#" class="btn btn-primary btn-icon text-white me-2">
                    <span>
                        <i class="fe fe-plus"></i>
                    </span> Semua Sekolah
                </a>
                <a href="#" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#addDataModal">
                    <span>
                        <i class="fe fe-plus"></i>
                    </span> Tambahkan Data
                </a>
            </div>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- Modal Form -->
        <div class="modal fade" id="addDataModal" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addDataModalLabel">Tambah Data Jenjang</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                        <!-- Form -->
                        <form id="addSekolahForm" method="post" action="{% url 'sipandu_admin:index_sekolah' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="sekolah_provinsi">Provinsi</label>
                                <select name="sekolah_provinsi" id="sekolah_provinsi" class="form-control">
                                    <option value="" selected disabled>Pilih Provinsi</option>
                                    {% for provinsi in data_provinsi %}
                                        <option value="{{ provinsi }}">{{ provinsi }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="kabupaten" class="form-label">Kabupaten</label>
                                <select class="form-select" id="kabupaten" name="kabupaten">
                                    <option value="" selected disabled>Pilih Kabupaten</option>
                                    {% for wilayah in wilayah_list %}
                                        {% if wilayah.level == 2 %}
                                            <option value="{{ wilayah.wilayah_id }}">{{ wilayah.wilayah_nama }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="kecamatan" class="form-label">Kecamatan</label>
                                <select class="form-select" id="kecamatan" name="kecamatan">
                                    <option value="" selected disabled>Pilih Kecamatan</option>
                                    {% for wilayah in wilayah_list %}
                                        {% if wilayah.level == 3 %}
                                            <option value="{{ wilayah.wilayah_id }}">{{ wilayah.wilayah_nama }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="sekolah_nama" class="form-label">Nama Sekolah</label>
                                <input type="text" class="form-control" id="sekolah_nama" name="sekolah_nama" placeholder="Masukkan Nama Sekolah">
                            </div>
                            <div class="mb-3">
                                <label for="sekolah_npsn" class="form-label">NPSN</label>
                                <input type="text" class="form-control" id="sekolah_npsn" name="sekolah_npsn" placeholder="Nomor NPSN">
                            </div>
                            <div class="mb-3">
                                <label for="sekolah_jenis" class="form-label">Jenis</label>
                                <select class="form-select" id="sekolah_jenis" name="sekolah_jenis">
                                    <option value="" selected disabled>Pilih Jenis Sekolah</option>
                                    <option value="negeri">Negeri</option>
                                    <option value="swasta">Swasta</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="sekolah_jenjang" class="form-label">Jenjang</label>
                                <select class="form-select" id="sekolah_jenjang" name="sekolah_jenjang">
                                    <option value="" selected disabled>Pilih Bentuk Pendidikan</option>
                                    <option value="SD">SD</option>
                                    <option value="SMP">SMP</option>
                                    <option value="SMA">SMA</option>
                                    <option value="SMK">SMK</option>
                                </select>
                            </div>                            
                            <!-- Tambahkan pilihan lainnya sesuai kebutuhan -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                        <!-- End Form -->
                    </div>
                </div>
            </div>
        </div>



        <!-- ROW-1 -->
        <div class="row row-sm">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Daftar Sekolah</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap border-bottom w-100" id="responsive-datatable">
                                <thead>
                                    <tr>
                                        <th class="text-center border-bottom-0">PROVINSI</th>
                                        <th class="text-center border-bottom-0">KABUPATEN</th>
                                        <th class="text-center border-bottom-0">KECAMATAN</th>
                                        <th class="text-center border-bottom-0">NAMA SEKOLAH</th>
                                        <th class="text-center border-bottom-0">JENJANG</th>
                                        <th class="text-center border-bottom-0">NPSN</th>
                                        <th class="text-center border-bottom-0">JENIS</th>
                                        <th class="text-center border-bottom-0">STATUS</th>
                                        <th class="text-center border-bottom-0">AKSI</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dt_sekolah in data_sekolah %}
                                        <tr>
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_provinsi }}</td> 
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_wilayah.kabupaten.nama }}</td> 
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_wilayah.kecamatan.nama }}</td> 
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_nama }}</td>
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_jenjang.jenjang_nama }}</td>
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_npsn }}</td>
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_jenis }}</td>
                                            <td class="text-center align-middle">{{ dt_sekolah.sekolah_status }}</td>
                                            
                                            <td class="text-center align-middle">
                                                <div class="btn-group align-top">
                                                    <a href="#" class="btn btn-sm btn-primary badge" data-bs-toggle="modal" data-bs-target="#editdata_{{dt_sekolah.sekolah_id}}">Edit</a> &nbsp;
                                                    <button onclick="deleteSekolah('{{ dt_sekolah.sekolah_id }}')" class="btn btn-sm btn-danger badge" value='Alert with title'>Delete</button>


                                                </div>
                                            </td>
                                        </tr>
                                        {% include 'admin/master/edit_sekolah.html' %}
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function deleteSekolah(sekolah_) {
        var deleteUrl = "{% url 'sipandu_admin:delete_sekolah' 'sekolah_id' %}".replace("sekolah_id",sekolah_);

        swal({
            title: "Apakah Anda yakin?",
            text: "Anda tidak akan dapat mengembalikan data yang dihapus!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ya, hapus!",
            cancelButtonText: "Batal",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function(isConfirm){
            if (isConfirm) {
                $.ajax({
                    headers : { "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val() },
                    url: deleteUrl,
                    type: "DELETE",
                    success: function (response) {
                        // Data berhasil dihapus
                        swal("Data berhasil dihapus!", {
                            icon: "success",
                        }).then(() => {
                            // Refresh halaman atau lakukan aksi lain
                            window.location.reload(); // Contoh: Refresh halaman
                        });
                    },
                    error: function (xhr, status, error) {
                        // Terjadi kesalahan saat menghapus data
                        swal("Terjadi kesalahan saat menghapus data!", {
                            icon: "error",
                        });
                    }
                });
            } else {
                // Pengguna membatalkan tindakan, tidak perlu melakukan apa pun
                swal("Tindakan dibatalkan", "", "info");
            }
        });
    }
</script>

{% endblock %}
