{% load static %}
<footer id="footer" class="border-0 pt-4 mt-0">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-lg-3 mb-5 mb-lg-0">
                <a href="{% static 'demo-law-firm-2.html' %}" class="text-decoration-none">
                    <img src="{% static 'logo/logo_sekolah.png' %}" class="img-fluid" style="width: 100px; height: auto;" alt="" />
                </a>
                {% for kontak in data_kontak_footer %}
                <p class="text-3-5"><a href="{{kontak.link_map}}" target="_blank">{{kontak.alamat}}</a></p>  
                {% endfor %}
            </div>

            <div class="col-lg-2">
                <h4 class="font-weight-bold text-color-light">Navigasi</h4>
                <ul class="list list-unstyled mb-0">
                    <li class="mb-0"><a href="{% url 'sipandu:home' %}" class="text-decoration-none text-3-5">- Beranda</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:home' %}" class="text-decoration-none text-3-5">- Profil</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:home' %}" class="text-decoration-none text-3-5">- Jurusan</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:ekstrakulikuler' %}" class="text-decoration-none text-3-5">- Program</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:prestasi' %}" class="text-decoration-none text-3-5">- Prestasi</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:berita' %}" class="text-decoration-none text-3-5">- Berita</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:galeri' %}" class="text-decoration-none text-3-5">- Galeri</a></li>
                    <li class="mb-0"><a href="{% url 'sipandu:kontak' %}" class="text-decoration-none text-3-5">- Kontak</a></li>
                </ul>
            </div>

            <div class="col-lg-3 mb-5 mb-lg-0">
                <h5 class="text-transform-none font-weight-bold text-color-light text-5-5 mb-8">LINK TERKAIT</h5>
                <ul class="list list-unstyled text-3-5 mb-0">
                    {% for data in data_link_footer %}
                    <li class="mb-2"><a  href="{{data.nama_link}}" target="_blank">{{data.judul_link}}</a></li>
                    {% endfor %}
                    
                    <!-- <li class="mb-2"><a target="_blank" href="https://polinela.ac.id/">POLINELA</a></li>
                    <li class="mb-2"><a target="_blank" href="https://www.radenintan.ac.id/">UIN</a></li>
                    <li class="mb-2"><a target="_blank" href="https://www.itera.ac.id/">ITERA</a></li>
                    <li class="mb-2"><a target="_blank" href="https://ubl.ac.id/">UBL</a></li> -->
                </ul>
            </div>

            <div class="col-lg-3">
                <h4 class="font-weight-bold text-color-light">Kontak</h4>
                {% for data in data_kontak_footer %}
                    <p class="text-3-5"><a href="#" target="_blank" class="text-decoration-none"><i class="fas fa-phone"></i> {{data.no_hp}}</a></p>
                    <p class="text-3-5"><a href="mailto:email@example.com" target="_blank" class="text-decoration-none"><i class="fa fa-envelope"></i> {{data.email}}</a></p>
                    <p class="text-3-5"><a href="#" target="_blank" class="text-decoration-none"><i class="fab fa-facebook-f text-4"></i> {{data.fb}}</a></p>
                    <p class="text-3-5"><a href="#" target="_blank" class="text-decoration-none"><i class="fab fa-instagram text-4"></i> {{data.ig}}</a></p>
                    
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright py-4">
        <div class="container py-2">
            <div class="row">
                <div class="col">
                    <p class="text-center text-3 mb-0">Copyright © 2024 RST. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>