{% load static %}
<div class="header-column justify-content-end">
    <div class="header-row">
        <div class="header-nav header-nav-links">
            <div class="header-nav-main header-nav-main-text-capitalize header-nav-main-effect-2 header-nav-main-sub-effect-1">
                <nav class="collapse">
                    <ul class="nav nav-pills" id="mainNav">
                        <li>
                            <a href="{% url 'sipandu:home' %}" class="nav-link active">BERANDA</a>
                        </li>
                        <li class="dropdown">									
                            <a href="{% url 'sipandu:home' %}" class="nav-link">PROFIL</a>
                            <ul class="dropdown-menu border-radius-0">
                                {% for konten in nav_profil_sma %}
                                    {% if konten.sub_kategori_uraian == 'Identitas Sekolah' %}
                                    <li>
                                        <a href="{% url 'sipandu:identitas'  %}" class="nav-link">Identitas Sekolah</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Visi dan Misi' %}
                                    <li>
                                        <a href="{% url 'sipandu:visi'  %}" class="nav-link">Visi dan Misi</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Struktur Organisasi' %}
                                    <li>
                                        <a href="{% url 'sipandu:struktur'  %}" class="nav-link">Struktur Organisasi</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Fasilitas' %}
                                    <li>
                                        <a href="{% url 'sipandu:fasilitas'  %}" class="nav-link">Fasilitas</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Data GTK' %}
                                    <li>
                                        <a href="{% url 'sipandu:datagtk'  %}" class="nav-link">Data GTK</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="{% url 'sipandu:identitas'  %}" class="nav-link">Tidak ada data</a>
                                    </li>
                                    
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'sipandu:home' %}" class="dropdown-item dropdown-toggle">JURUSAN</a>
                            <ul class="dropdown-menu border-radius-0">
                                {% for konten in nav_jurusan_sma %}
                                    <li>
                                        <a href="{% url 'sipandu:jurusan' konten.sub_kategori_uraian|lower %}" 
                                            class="nav-link">{{konten.sub_kategori_uraian}}</a>
                                    </li>
                                    
                                {% endfor %}
                                
                                
                            </ul>
                        
                        </li>
                                
                        <li class="dropdown">
                            <a href="{% url 'sipandu:home' %}" class="dropdown-item dropdown-toggle">PROGRAM</a>
                            <ul class="dropdown-menu border-radius-0">
                                {% for konten in nav_program_sma %}
                                     {% if konten.sub_kategori_uraian == 'Ekstrakulikuler' %}
                                    <li>
                                        <a href="{% url 'sipandu:ekstrakulikuler' %}" class="nav-link">EKSTRAKULIKULER</a>
                                    </li>
                                 
                                    {% endif %}
                                {% endfor %}
                                
                            </ul>
                        </li>
                            <li class="dropdown">
                                <a href="{% url 'sipandu:prestasi' %}" class="dropdown-item dropdown-toggle">PRESTASI</a>
                            </li>

                            <li class="dropdown">
                                <a href="{% url 'sipandu:home' %}" class="dropdown-item dropdown-toggle">BERITA</a>
                                <ul class="dropdown-menu border-radius-0">
                                {% for konten in nav_berita_sma %}
                                    {% if konten.sub_kategori_uraian == 'Berita' %}
                                    <li>
                                        <a href="{% url 'sipandu:berita' %}" class="nav-link">Berita</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Pengumuman' %}
                                    <li>
                                        <a href="{% url 'sipandu:pengumuman' %}" class="nav-link">Pengumuman</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Beasiswa' %}
                                    <li>
                                        <a href="{% url 'sipandu:beasiswa' %}" class="nav-link">Beasiswa</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Bursa Kerja' %}
                                    <li>
                                        <a href="{% url 'sipandu:bursa_kerja' %}" class="nav-link">Bursa Kerja</a>
                                    </li>
                                    {% elif konten.sub_kategori_uraian == 'Kegiatan' %}
                                    <li>
                                        <a href="{% url 'sipandu:kegiatan' %}" class="nav-link">Kegiatan</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                    
                                </ul>
                              </li>  
                            <li class="dropdown">
                                <a href="{% url 'sipandu:galeri' %}" class="dropdown-item dropdown-toggle">GALERI</a>
                            
                            </li>
                            <li class="dropdown">
                                <a href="{% url 'sipandu:kontak' %}" class="dropdown-item dropdown-toggle">KONTAK</a>
                            </li>

                            </nav>
                        </div>
                    </div>
        
        <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</div>