{% load static %}
<div class="header-column justify-content-end">
    <div class="header-row">
        <div class="header-nav header-nav-links">
            <div class="header-nav-main header-nav-main-text-capitalize header-nav-main-effect-2 header-nav-main-sub-effect-1">
                <nav class="collapse">
                    <ul class="nav nav-pills" id="mainNav">
                        <li>
                            <a href="{% url 'sipandu:home' %}" class="nav-link active">BERANDA</a>
                        </li>
                        <li class="dropdown">									
                            <a href="{% url 'sipandu:home' %}" class="nav-link">PROFIL</a>
                            <ul class="dropdown-menu border-radius-0">
                                {% for konten in data_konten_nav %}
                                <li>
                                    <a href="{% url 'sipandu:identitas'  %}" class="nav-link">{{ konten.judul|title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'sipandu:home' %}" class="dropdown-item dropdown-toggle">JURUSAN</a>
                            <ul class="dropdown-menu border-radius-0">
                        
                        </li>
                        <li>
                            <a href="{% url 'sipandu:ipa' %}" class="nav-link">IPS</a>
                        </li>
                        <li>
                            <a href="{% url 'sipandu:ipa' %}" class="nav-link">IPA</a>
                        </li>
                        <li>
                            <a href="{% url 'sipandu:ipa' %}" class="nav-link">BAHASA</a>
                        </li> 
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'sipandu:home' %}" class="dropdown-item dropdown-toggle">PROGRAM</a>
                            <ul class="dropdown-menu border-radius-0">
                                <li>
                                    <a href="{% url 'sipandu:ekstrakulikuler' %}" class="nav-link">EKSTRAKULIKULER</a>
                                </li>
                                
                            </ul>
                        </li>
                            <li class="dropdown">
                                <a href="{% url 'sipandu:prestasi' %}" class="dropdown-item dropdown-toggle">PRESTASI</a>
                                </li>
                            <li class="dropdown">
                                <a href="{% url 'sipandu:home' %}" class="dropdown-item dropdown-toggle">BERITA</a>
                                <ul class="dropdown-menu border-radius-0">
                                    <li>
                                        <a href="{% url 'sipandu:berita' %}" class="nav-link">Berita</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'sipandu:pengumuman' %}" class="nav-link">PENGUMUMAN</a>
                                    </li>
                                    <li>
                                        <a href="{% static 'demo-law-firm-2-practice-areas-detail.html' %}" class="nav-link">BEASISWA</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'sipandu:bursa_kerja' %}" class="nav-link">BURSA KERJA</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'sipandu:kegiatan' %}" class="nav-link">KEGIATAN</a>
                                    </li>
                                    
                                </ul>
                              </li>  
                            <li class="dropdown">
                                <a href="{% url 'sipandu:galeri' %}" class="dropdown-item dropdown-toggle">GALERI</a>
                            
                            </li>
                            <li class="dropdown">
                                <a href="{% url 'sipandu:kontak' %}" class="dropdown-item dropdown-toggle">KONTAK</a>
                            </li>

                            </nav>
                        </div>
                    </div>
        
        <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</div>